@(courseId: Long)(implicit request: RequestHeader, user: User)

@main("Ayamel - Add Content", Some(user),
  Local(
    CSS("stylesheets/content.css"),
    CSS("stylesheets/batchUpload.css"),
    JS("javascripts/formFixes/fileFix.js"),
    JS("javascripts/libraries/papaparse.min.js"),
    JS("javascripts/pageScripts/batchUpload.js"))
){
    <div class="padded">

        <h1>Add Content</h1>

        <ul class="nav nav-tabs">
            <li><a href="@routes.ContentController.createPage("url", courseId)">Link to URL</a></li>
            <li class="active"><a href="#">Batch Add</a></li>
            <li><a href="@routes.ContentController.createPage("page", courseId)">Upload File</a></li>
            <li><a href="@routes.ContentController.createPage("resource", courseId)">Load from Resource</a></li>
        </ul>

        <h2>Ayamel Batch Upload Utility 2.0</h2>

        <style>
          .dropZone{
            background: lightgrey;
            border: 3px solid white;
            border-radius: 3px;
            padding: 45px;
            margin-bottom: 15px;
            min-height: 125px;
            min-width: 300px;
            max-width: 45%;
            resize: both;
            transition: border .75s,
                        background .75s,
                        color .35s,
                        border-radius .75s;
          }
          .dropZone:hover{
            border: 3px dashed grey;
            border-radius: 5px;
            background: darkgrey;
            color: white;
          }
          li{
            list-style-type: circle;
          }

          #dropLeft{
            float: left;
          }

          #dropRight{
            float: right;
          }
        </style>

        <div class="grid-container">
            <div class="grid-75">
              <!-- BULK/CSV UPLOAD AREA -->
                <div class="dropZone" id="dropLeft">
                  <h4>Add your CSV Here:</h3><br/>
                  <input type="file" id="csvList" multiple>
                  <br>
                  <br>
                </div>

              <!-- CONTENT UPLOADER AREA  -->
                <div class="dropZone" id="dropRight">
                  <h4>Add Local Media Files here:</h4><br>
                  <img src="/assets/images/info.png" style="height:20px;">
                  <span style="font-style: italic;">Title reference must be the same as filename.</span><br/>
                  <input type="file" id="localFilesList" multiple>
                  <ul id="filesUL"></ul>
                </div>
            </div>

            <div id="populatedItems"></div>
        </div>
    </div>

	<script id="tableTemplate" type="text/ractive">
		<table class="table table-bordered table-condensed">
			<tr>
				<th>Add/Remove</th>
				<th>Content Type</th>
				<th>Title</th>
				<th>URL</th>
				<th>Description</th>
				<th>Labels</th>
				<th>Languages</th>
				<th>View</th>
			</tr>
			{{#content:index}}
			<tr class="addedItems" style="background-color:{{.color||"transparent"}}">
				<td align="center">
					<button class="addRemoveLineButton" on-tap="addRow:{{index}}" {{~/disabled?"disabled=true":""}}>+</button>&nbsp;
					<button class="addRemoveLineButton" on-tap="removeRow:{{index}}" {{~/disabled?"disabled=true":""}}>-</button>
				</td>
				<td><input type="text" value="{{.contentType}}" name="contentType" class="short"></td>
				<td><input type="text" value="{{.title}}"       name="title"       class="med"></td>
				<td><input type="text" value="{{.url}}"         name="url"         class="long"></td>
				<td><input type="text" value="{{.description}}" name="description" class="long"></td>
				<td><input type="text" value="{{.labels}}"      name="labels"      class="short"></td>
				<td><input type="text" value="{{.languages}}"   name="languages"   class="short"></td>
				<td>{{#(.contentId)}}
					<a href="/content/{{contentId}}" target="_blank" class="btn btn-small"><i class="icon-eye-open"></i></a>
				{{/id}}</td>
			</tr>
			{{/content}}
		</table>
		<div>
			<button class="btn btn-blue" on-tap="start" {{disabled?'disabled="true"':''}}>Start Batch</button>
			<button class="btn btn-yellow" on-tap="clear" {{disabled?'disabled="true"':''}}>Clear Table</button>
		</div>
	</script>

    <script>
		Ractive.DEBUG = false;
		initBatchTable("@routes.ContentController.createFromBatch(courseId)");
    </script>

    <script>
      $(document).ready(function(){
          //////////////////////////////////////////////////////
          //    Event Listener for adding local files list    //
          //////////////////////////////////////////////////////
          $('#localFilesList').change(function(e){
            // TODO: Throw error for duplicate file name
              var list = e.target.files;

              // Delete all existing childNodes (if any)
              $('#filesUL').empty();

              // create an <li> for each filename
              for(var i=0; i < list.length; i++){
                var node = document.createElement('LI');
                var textNode = document.createTextNode(list[i].name);
                node.appendChild(textNode);
                filesUL.appendChild(node);
              }
          });
      });
    </script>
}
