@(courseId: Long)(implicit request: RequestHeader, user: User)

@main("Ayamel - Add Content",
  Local(
    CSS("stylesheets/content.css"),
    Rel("javascripts/",
      Rel("formFixes/",
        JS("fileFix.js"),
        JS("dragDropBinder.js"),
        JS("labelsInput.js")),
      JS("pageScripts/fileUpload.js"))),
  Extern("Ayamel.js",
    JS("js/Ayamel.js"),
    JS("js/LangCodes.js"),
	JS("js/MimeExts.js"))
){

    <div class="padded">

        <h1>Add Content</h1>

        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Upload File</a></li>
            <li><a href="@routes.ContentController.createPage("url", courseId)">Link to URL</a></li>
            <li><a href="@routes.ContentController.createPage("batch", courseId)">Batch Add</a></li>
            <li><a href="@routes.ContentController.createPage("resource", courseId)">Load from Resource</a></li>
        </ul>

        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
            <div id="fileSelect">
                <h2>Select a file to upload</h2>
                <div class="fileDropper">
                    <h3>Drag and drop file here</h3>
                </div>
                <div class="text-center">
                    Or select a file: <input type="file" name="file" id="file">
                </div>
            </div>

            <div id="fileInfo">
                <h2>Content information</h2>

                <div class="control-group">
                    <label class="control-label" for="contentType">Content Type</label>
                    <div class="controls">
                        <select id="contentType" name="contentType">
                            <option value="audio">Audio</option>
                            <option value="image">Image</option>
                            <option value="video">Video</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" id="title" name="title" placeholder="Title">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" id="description" name="description" placeholder="Description">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="languages">Languages</label>
                    <div class="controls" id="langLocation"></div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="categories">Categories</label>
                    <div class="controls">
                        <select multiple="multiple" id="categories" name="categories">
                            <option value="Arts">Arts</option>
                            <option value="Culture">Culture</option>
                            <option value="Economy">Economy</option>
                            <option value="Education">Education</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Food">Food</option>
                            <option value="Geography">Geography</option>
                            <option value="Health/beauty">Health/beauty</option>
                            <option value="Hobbies">Hobbies</option>
                            <option value="Home/garden">Home/garden</option>
                            <option value="News">News</option>
                            <option value="Occupation">Occupation</option>
                            <option value="Opinion">Opinion</option>
                            <option value="Politics">Politics</option>
                            <option value="Social">Social</option>
                            <option value="Sports">Sports</option>
                            <option value="Technology">Technology</option>
                            <option value="Weather">Weather</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="labels">Labels</label>
                    <div class="controls">
                        <input type="labels" id="labels" name="labels" value="">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button id="uploadbtn" class="btn btn-blue">Save and Upload</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <script type="text/javascript">
        var uploadTarget = "@routes.ContentController.createFromFile(courseId)";
        $(function() {
            var langList = Object.keys(Ayamel.utils.p1map).map(function (p1) {
                    var code = Ayamel.utils.p1map[p1];
                    return {value: code, text: Ayamel.utils.getLangName(code)};
                }).sort(function(a,b){ return a.text.localeCompare(b.text); });

            new EditorWidgets.SuperSelect({
                el: "langLocation",
                data:{
                    id: 'languages',
                    selection: [],
                    icon: 'icon-globe',
                    text: 'Select Language',
                    button: 'left',
                    multiple: true,
                    options: langList,
                    defaultValue: {value:'zxx',text:'No Linguistic Content'}
                }
            });
        });
    </script>

}
