logs
project/project
project/target
target
tmp
.history

.sbtserver/
project/.sbtserver*

dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
design
.metadata/
.settings/
/conf/application.conf
/conf/logback.xml
