@(user: User, course: Course)(implicit request: RequestHeader)

@if(user.hasCoursePermission(course, "teacher")) {
    <div id="studentInfoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="studentInfoModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="studentInfoModalLabel">Student Information</h3>
        </div>
        <div class="modal-body">
            <h4>Teachers</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @for(teacher <- course.getTeachers) {
                        <tr>
                            <td>@teacher.displayName</td>
                            <td>@Html(teacher.email.getOrElse("<em>None</em>"))</td>
                        </tr>
                    }
                </tbody>
            </table>

            <h4>Students</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        @if(user.hasCoursePermission(course, "teacher")){ <th>Actions</th> }
                    </tr>
                </thead>
                <tbody>
                    @for(student <- course.getStudents) {
                        <tr>
                            <td>@student.displayName</td>
                            <td>@Html(student.email.getOrElse("<em>None</em>"))</td>
                            @if(user.hasCoursePermission(course, "teacher")){
                                <td><a href="/course/@{course.id.get}/remove/@{student.id.get}" class="btn btn-magenta"><i class="icon-trash"></i> Remove</a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-blue" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
}