@(content: models.Content, resourceLibraryUrl: String, user: Option[User] = None, course: Option[Course] = None)

@contentIcons = @{
    Map(
        'video -> "icon-film",
        'audio -> "icon-volume-up",
        'image -> "icon-picture",
        'text -> "icon-file",
        'playlist -> "icon-list-ol",
        'activity -> "icon-pencil"
    )
}

@import play.api.Play.{current, configuration}
@import play.api.libs.json._

<!DOCTYPE html>
<html>
    <head>
        <title>Ayamel - @content.name</title>

        @Dependencies(
          Local(
            Icon("images/favicon.png", "image/png"),
            Rel("stylesheets/",
              CSS("bootstrap.min.css"),
              CSS("bootstrap-responsive.min.css"),
              CSS("font-awesome.min.css"),
              CSS("main.css")),
            Rel("javascripts/",
              Rel("libraries/",
                JS("jquery-1.9.0.min.js"),
                JS("bootstrap.min.js"),
                JS("Ractive.min.js"),
                JS("Ractive-events-tap.js"),
                JS("xapiwrapper.min.js")),
              JS("polyfills/Map.js"),
              JS("contentSelection/ContentItemRenderer.js"),
              JS("xApi.js"),
              JS("ActivityStreams.js"))),
          Extern("EditorWidgets",
            CSS("css/Superselect.css"),
            JS("js/SuperSelect.js"))
        )

        @views.html.content.header.includes()

        <script type="text/javascript">
            ResourceLibrary.setBaseUrl("@resourceLibraryUrl");
            var content = @Html(content.toJson.toString());
            function setupXapi(args) {
                // information for statements to learninglocker
				var llendpoint = "@current.configuration.getString("learninglocker.endpoint")";
				var llusername = "@current.configuration.getString("learninglocker.username")";
				var llpwd = "@current.configuration.getString("learninglocker.password")";
                var headerHeight = document.getElementById("header").clientHeight*1.2;

				// configure the learning locker connection
				xApi.connect(llendpoint, llusername, llpwd);

				// Register the page for later activity stream calls
				ActivityStreams.registerPage("content", "@{course.map(c => "course_" + c.id.get + ":").getOrElse("")}view", @{content.id.get});
				xApi.registerPage({
					page:{
						"category":"content",
						"action":"@{course.map(c => "course_" + c.id.get + ":").getOrElse("")}view",
						"name":window.location.href
					},
					@if(course.isDefined) {
						course: {
							"id":@course.get.id.get,
							"name":"@course.get.name"
						},
					}
					user: {
						"name":"@user.flatMap(_.name).orElse(user.map(_.authId)).getOrElse("Visitor")",
						"id":@user.map(_.id.get).getOrElse(0),
						"email":"@user.flatMap(_.email).getOrElse("")"
					},
					content: content,
					player: args.mainPlayer
				});

                // Set AyamelPlayer size to fill entire width & height of window
                args.mainPlayer.setSize(window.innerWidth, window.innerHeight-headerHeight);

                window.addEventListener("resize", function(){
                    // Set AyamelPlayer size to fill entire width & height of window
                    args.mainPlayer.setSize(window.innerWidth, window.innerHeight-headerHeight);
                }, false);

				// Save the page load
				ActivityStreams.predefined.pageLoad();
				xApi.predefined.pageLoad();
            }
        </script>
    </head>
    <body class="share embed">
        <div class="embedHeader" id="header">
            <div class="pull-left">
                <h3><i class="@contentIcons(content.contentType)"></i> @content.name</h3>
            </div>
            <div class="pull-right">
                <a id="ayamelLink" class="pad-right-med" href="@routes.Application.index()"><img src="@routes.Assets.at("images/logo-small-light.png")"></a>
            </div>
        </div>
        <div id="contentHolder"></div>


        <script type="text/javascript">
            $(function() {
                // Render the content
                ContentLoader.render({
                    content: content,
                    holder: document.getElementById('contentHolder'),
                    @if(user.isDefined) {
                    userId: "@user.get.id.get",
                    owner: @content.isEditableBy(user.get),
                    teacher: @course.exists(c => user.get.hasCoursePermission(c, "teacher")),
                    }
                    courseId: @course.map(_.id.get).getOrElse(0),
                    annotate: true,
                    callback: setupXapi
                });

                document.getElementById("ayamelLink").addEventListener('click', function(){
                    window.top.location = this.href;
                    return false;
                }, false);

                // Hide the header
                setTimeout(function () {
                    $(".embedHeader").addClass("outOfTheWay");
                }, 1000)
            });
        </script>
    </body>
</html>