@()(implicit request: RequestHeader)
window.addEventListener('load',function(){
    var baseURL = "https://@request.host/",
        iframes = document.querySelectorAll("iframe[data-ayamel-id]");
    [].forEach.call(iframes,function(frame){
        var url = baseUrl,
            xhr = new XMLHttpRequest();

        if(frame.hasAttribute("data-ayamel-course"){
            url += baseUrl+"course/"+frame.dataset['ayamel-course'];
        }

        url += "/content/"+frame.dataset['ayamel-id']+"/lti?embed=true";

        xhr.responseType = "blob";
        xhr.open('POST', url, true);
        xhr.addEventListener('load',function(){
            frame.src = URL.createObjectUrl(xhr.response);
        },false);
        xhr.send(iframe.textContent);
    });
},false);