@(content: models.Content, resourceLibraryUrl: String, embed: Boolean = false)

@contentIcons = @{
    Map(
        'video -> "icon-film",
        'audio -> "icon-volume-up",
        'image -> "icon-picture",
        'text -> "icon-file",
        'playlist -> "icon-list-ol",
        'activity -> "icon-pencil"
    )
}

<!DOCTYPE html>
<html>
    <head>
        <title>Ayamel - @content.name</title>

        @Dependencies(
          Local(
            Icon("images/favicon.png", "image/png"),
            Rel("stylesheets/",
              CSS("bootstrap.min.css"),
              CSS("bootstrap-responsive.min.css"),
              CSS("font-awesome.min.css"),
              CSS("main.css")),
            Rel("javascripts/",
              Rel("libraries/",
                JS("jquery-1.9.0.min.js"),
                JS("bootstrap.min.js")),
              JS("contentSelection/ContentItemRenderer.js"),
              JS("ActivityStreams.js"),
              JS("ScreenAdapter.js")))
        )

        @views.html.content.header.includes()

        <script type="text/javascript">
            $(function() {

                ResourceLibrary.setBaseUrl("@resourceLibraryUrl");

                // Register the page for later activity stream calls
                ActivityStreams.registerPage("content", "share:view", @content.id.get);

                // Save the page load
                ActivityStreams.predefined.pageload();
            });
        </script>
    </head>
    <body class="share @if(embed) { embed }">

        @if(!embed) {
            <div class="headerBar">
                <div class="container">
                    <div class="pull-left">
                        <a href="@routes.Application.index()"><div class="logo"></div></a>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="mainContent">
                    <div class="padded">
                        <h1><i class="@contentIcons(content.contentType)"></i> @content.name</h1>
                        <div id="contentHolder" class="@content.contentType.name"></div>
                    </div>
                </div>
            </div>
        } else {
            <div class="embedHeader">
                <div class="pull-left">
                    <h3><i class="@contentIcons(content.contentType)"></i> @content.name</h3>
                </div>
                <div class="pull-right">
                    <a id="ayamelLink" class="pad-right-med" href="@routes.Application.index()"><img src="@routes.Assets.at("images/logo-small-light.png")"></a>
                </div>
            </div>
            <div class="embedContainer @content.embedClass">
                <div id="contentHolder"></div>
            </div>
        }

        <script type="text/javascript">
            $(function() {

                // Render the content
                var content = @Html(content.toJson.toString());
                var contentHolder = $("#contentHolder")[0];
                ContentRenderer.render({
                    content: content,
                    holder: contentHolder,
                    annotate: true
                });

                $("#ayamelLink").click(function() {
                    var href = $(this).attr("href");
                    window.top.location = href;
                    return false;
                });

                // Hide the header
                setTimeout(function () {
                    $(".embedHeader").addClass("outOfTheWay");
                }, 1000)
            });
        </script>

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-39697543-1', 'byu.edu');
            ga('send', 'pageview');

        </script>

    </body>
</html>