@(courses: List[Course])(implicit request: RequestHeader, user: User)

@optStr(str: Option[String]) = {
    @if(str.isDefined) {
        @shorten(str.get)
    } else {
        <em>Not set</em>
    }
}

@shorten(str: String) = {
    @if(str.length > 15) {
        <a href="#" class="shortened" data-toggle="tooltip" title="@str">@{str.substring(0, 12) + "..."}</a>
    } else {
        @str
    }
}

@main("Ayamel - Manage Courses", Local(CSS("stylesheets/admin.css"))) {
    <div class="adminBackground">
    </div>

    <div class="padded">

        @views.html.admin.navbar("courses")

        <h1>Manage Courses</h1>

        <table class="table table-bordered table-striped table-condensed">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Enrollment</th>
                <th>Owner</th>
                <th>Email</th>
                <th># Students</th>
                <th># Content</th>
                <th># Announcements</th>
                <th>LMS Key</th>
                <th>Actions</th>
            </tr>
            @for(course <- courses) {
                <tr>
                    <td>@course.id.get</td>
                    <td>@shorten(course.name)</td>
                    <td>@course.enrollment.name.capitalize</td>
                    <td>@if(course.getTeachers.size > 0){
                        @optStr(course.getTeachers(0).name)}</td>
                    <td>@if(course.getTeachers.size > 0){
                        @optStr(course.getTeachers(0).email)}</td>
                    <td>@course.getMembers.size</td>
                    <td>@course.getContent.size</td>
                    <td>@course.getAnnouncements.size</td>
                    <td>@shorten(course.lmsKey)</td>
                    <td>
                        <a href="@routes.Courses.view(course.id.get)" class="btn btn-small"><i class="icon-eye-open"></i></a>
                        <a href="#editModal" role="button" data-toggle="modal" class="btn btn-small btn-yellow editCourse" data-id="@course.id.get" data-name="@course.name" data-enrollment="@course.enrollment.name"><i class="icon-pencil"></i></a>
                        <a href="#deleteModal" role="button" data-toggle="modal" class="btn btn-small btn-magenta deleteCourse" data-id="@course.id.get"><i class="icon-trash"></i></a>
                        @if(course.getTeachers.size > 0 && course.getTeachers(0) != user) {
                            <a href="@routes.Administration.proxy(course.getTeachers(0).id.get)" class="btn btn-small btn-yellow">Proxy</a>
                            <a href="#notificationModal" role="button" data-toggle="modal" class="btn btn-small btn-blue sendNote" data-id="@course.getTeachers(0).id.get">Notify</a>
                        }
                    </td>
                </tr>
            }
        </table>

    </div>

    <div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="editModalLabel">Edit course</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" id="editForm" method="post" action="">
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" id="name" name="name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="enrollment">Enrollment</label>
                    <div class="controls">
                        <select name="enrollment" id="enrollment">
                            <option value="open">Open</option>
                            <option value="closed">Closed</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-blue">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

    <div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="deleteModalLabel">Delete course</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete course #<span id="deleteCourseId"></span>?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
            <button class="btn btn-magenta" id="deleteButton" data-id="">Yes, Delete</button>
        </div>
    </div>

    <div id="notificationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="notificationModalLabel">Send a notification</h3>
        </div>
        <div class="modal-body">
            <label for="role">Send a notification to user #<span id="noteUserIdDisplay"></span>:</label>

            <form id="notificationForm" class="form-horizontal" method="post" action="@routes.Administration.sendNotification(1)">
                <div class="control-group">
                    <label class="control-label" for="message">Message</label>
                    <div class="controls">
                        <textarea id="message" name="message"></textarea>
                    </div>
                </div>
                <input type="hidden" name="userId" id="noteUserId" value="">
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-blue formSubmitter" data-target="#notificationForm">Save changes</button>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $(".shortened").tooltip();

            $(".editCourse").click(function() {
                $("#editForm").attr("action", "/admin/courses/" + this.dataset["id"]);
                $("#name").val(this.dataset["name"]);
                $("#enrollment").val(this.dataset["enrollment"]);
            });

            $(".deleteCourse").click(function() {
                var id = this.dataset['id'];
                $("#deleteCourseId").text(id);
                $("#deleteButton").attr("data-id", id);
            });

            $("#deleteButton").click(function() {
                var id = this.dataset['id'];
                window.location = "/admin/courses/" + id + "/delete";
            });

            $(".sendNote").click(function() {
                var id = this.dataset['id'];
                $("#noteUserId").val(id);
                $("#noteUserIdDisplay").text(id);
            });

            $(".formSubmitter").click(function() {
                $(this.dataset["target"]).submit();
            });
        });
    </script>

}
