@()(implicit request: RequestHeader, user: User)

@main("Ayamel - Teacher Request Approval", Local(CSS("stylesheets/admin.css"))) {
    <div class="adminBackground">
    </div>

    <div class="padded">

        <h1>Admin dashboard</h1>

        @views.html.admin.navbar("dashboard")

        <div class="well">
            <h2><i class="icon-bar-chart"></i> Statistics</h2>
            <p>
                Analytics are tracked via <a href="https://www.google.com/analytics/">Google Analytics</a>
            </p>
            <p>
                Other stats have not yet been added.
            </p>
        </div>

    </div>

}
