@(page: String)

@active(item: String) = @{if(item == page){"active"}else{""}}

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-group"></i>
                    Users <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="@active("permissionRequests")"><a href="@routes.Administration.approvalPage()"><i class="icon-briefcase"></i> Permission Requests</a></li>
                    <li class="@active("userAccounts")"><a href="@routes.Administration.manageUsers()"><i class="icon-user"></i> User Accounts</a></li>
                </ul>
            </li>

            <li class="@active("courses")"><a href="@routes.Administration.manageCourses()"><i class="icon-book"></i> Courses</a></li>
            <li class="@active("content")"><a href="@routes.Administration.manageContent()"><i class="icon-picture"></i> Content</a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-globe"></i>
                    Website <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="@active("homePageContent")"><a href="@routes.Administration.homePageContent()"><i class="icon-home"></i> Home Page Content</a></li>
                    <li class="@active("feedback")"><a href="@routes.Administration.feedback()"><i class="icon-bullhorn"></i> Feedback</a></li>
                    <li class="@active("settings")"><a href="@routes.Administration.siteSettings()"><i class="icon-cogs"></i> Settings</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>