@(requests: List[SitePermissionRequest])(implicit request: RequestHeader, user: User)

@main("Ayamel - Permission Request Approval", Local(CSS("stylesheets/permission.css"))) {

    <div class="permissionRequestBackground">
    </div>

    <div class="padded">

        @views.html.admin.navbar("permissionRequests")

        <h1>Permission Request Approval</h1>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Permission</th>
                <th>Reason</th>
                <th>Actions</th>
                <th></th>
            </tr>
            @{ /* TODO: Fix, if user is empty then notify a system admin */ }
            @for(permissionRequest <- requests) {
                @defining(permissionRequest.getUser){ user =>
                    @if(user.isDefined) {
                        <tr>
                            <td>@user.get.displayName</td>
                            <td>@user.get.email.getOrElse("None")</td>
                            <td>@permissionRequest.getDescription</td>
                            <td>@permissionRequest.reason</td>
                            <td>
                                <button class="btn btn-blue approve" data-id="@{permissionRequest.id.get}">Approve</button>
                                <button class="btn btn-blue deny" data-id="@{permissionRequest.id.get}">Deny</button>
                            </td>
                            <td><input type="checkbox" name="selections" value="@permissionRequest.id.get"/></td>
                        </tr>
                    }
                }
            }
            <tr><td colspan="6">
                <a href="#" id="selectbtn" class="btn btn-yellow">Select All</a>
                <a href="#" id="deselbtn" class="btn btn-yellow">Deselect All</a>
                <a href="#" id="appbtn" class="btn btn-blue">Approve Selected</a>
                <a href="#" id="denybtn" class="btn btn-magenta">Deny Selected</a>
            </td></tr>
        </table>
        <script>
            var checks = [].slice.call(document.querySelectorAll("input[name=selections]"));

            document.getElementById("selectbtn").addEventListener('click',function(){
                checks.forEach(function(check){ check.checked = true; });
            },false);

            document.getElementById("deselbtn").addEventListener('click',function(){
                checks.forEach(function(check){ check.checked = false; });
            },false);

            [].forEach.call(document.querySelectorAll("button.approve"),function(btn){
                btn.addEventListener("click",function(){
                    resolveRequests("@{routes.Administration.approveRequest()}",[btn.dataset.id]);
                },false);
            });
            [].forEach.call(document.querySelectorAll("button.deny"),function(btn){
                btn.addEventListener("click",function(){
                    resolveRequests("@{routes.Administration.denyRequest()}",[btn.dataset.id]);
                },false);
            });

            document.getElementById("appbtn").addEventListener('click',resolveRequests.bind(null,"@{routes.Administration.approveRequest()}"),false);
            document.getElementById("denybtn").addEventListener('click',resolveRequests.bind(null,"@{routes.Administration.denyRequest()}"),false);

            function resolveBatch(url){
                if(!checks.length){ return; }
                var ids = checks
                    .filter(function(check){ return check.checked; })
                    .map(function(check){ return check.value; });
                resolveRequests(url, ids);
            }

            function resolveRequests(url, ids){
                var data = new FormData();
                ids.forEach(function(id){ data.append("reqid", id); });
                $.ajax({
                    url: url,
                    data: data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    type: "post",
                    dataType: "text"
                }).then(function(data){
                    window.location.reload();
                },function(xhr, status, error){
                    alert("An error occurred:\n"+status)
                });
            }
        </script>
    </div>

}
