@(requests: List[TeacherRequest])(implicit request: RequestHeader, user: User)

@main("Ayamel - Teacher Request Approval") {

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/teacher.css")"/>

    <div class="teacherRequestBackground">
    </div>

    <div class="padded">

        @views.html.admin.navbar("teacherRequests")

        <h1>Teacher Request Approval</h1>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Reason</th>
                <th>Actions</th>
            </tr>
            @{ /* TODO: Fix, if user is empty then notify a system admin */ }
            @for(teacherRequest <- requests) {
                @defining(teacherRequest.getUser){ user =>
                    @if(!user.isEmpty) {
                        <tr>
                            <td>@user.get.displayName</td>
                            <td>@user.get.email.getOrElse("None")</td>
                            <td>@teacherRequest.reason</td>
                            <td>
                                <a href="@routes.Administration.approveTeacher(teacherRequest.id.get)" class="btn btn-blue">Approve</a>
                                <a href="@routes.Administration.denyTeacher(teacherRequest.id.get)" class="btn btn-magenta">Deny</a>
                            </td>
                        </tr>
                    }
                }
            }
        </table>

    </div>

}
