@(users: List[User])(implicit request: RequestHeader, user: User)
@import models.SitePermissions.descriptionMap

@main("Ayamel - User Accounts",
    Local(
        CSS("stylesheets/admin.css"),
        JS("javascripts/pageScripts/userAccounts.js"))
) {

    <div class="adminBackground">
    </div>

    <div class="padded">

        @views.html.admin.navbar("userAccounts")

        <h1>Users Accounts</h1>
        <span id="usertable"></span>
    </div>

    <div id="notificationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h3 id="notificationModalLabel">Send a notification</h3>
        </div>
        <div class="modal-body">
            <label>Send a notification to user #<span id="noteUserIdDisplay"></span>:</label>

            <form id="notificationForm" class="form-horizontal" method="post" action="@routes.Administration.sendNotification(0)">
                <div class="control-group">
                    <label class="control-label" for="message">Message</label>
                    <div class="controls">
                        <textarea id="message" name="message"></textarea>
                    </div>
                </div>
                <input type="hidden" name="userId" id="noteUserId" value="">
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-blue formSubmitter" data-target="#notificationForm">Save changes</button>
        </div>
    </div>

    <div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h3 id="deleteModalLabel">Delete user</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete user #<span id="deleteUserId"></span>?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
            <form style="display:inline;" id="deleteForm" method="POST">
                <button class="btn btn-magenta">Yes, Delete</button>
            </form>
        </div>
    </div>

    <script>
        var viewer_id = @{user.id.get};
        var permUrl = "@{routes.Administration.setPermission("")}";
        var userPermissionList = [@for((k,v) <- descriptionMap) {
            {value: "@k", text: "@v"},
        }];
        var userList = [@for(_user <- users) {
            {
                id: @{_user.id.get},
                authScheme: "@{_user.authScheme.name}",
                username: "@{_user.username}",
                name: "@{_user.name.getOrElse("")}",
                email: "@{_user.email.getOrElse("")}",
                linked: @{_user.getAccountLink.map(_.primaryAccount).getOrElse(-1)},
                permissions: [@for(p <- _user.getPermissions){ "@p", }]
            },
        }];
        $(function() {
            $(".shortened").tooltip();

            $(".formSubmitter").click(function() {
                $(this.dataset["target"]).submit();
            });
        });
    </script>

}
