.adminBackground {
    height: 250px;
    width: 100%;
    background: url("../images/users/admin.jpg") center;
    background-size: cover;
}

#button-panel {
    text-align: center;
    margin: 15px 0;
}

.btn-admin {
    width: 100px;
    height: 100px;
    font-size: 18px;
}

.btn-admin i {
    display: block;
    font-size: 30px;
    margin-top: 12px;
    margin-bottom: 5px;
}


/* CSS from David */

@media screen and (max-width: 1200px) {
    .container {  width:1170px !important; }
}

@media screen and (max-width: 980px) {
    body {  min-width:980px !important; }
}

.adminTable tr td {
    max-width: 50px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.adminTable tr td:nth-child(2) {
    max-width: 200px;
}
