.annotation {
    color: yellow;
    cursor: pointer;
}

.transcriptCue .annotation {
    color: #DE2174;
    cursor: pointer;
}

.annotation:hover {
    text-decoration: underline;
}

iframe.annotationHolder {
    width: 100%;
    height: 300px;
    border: 0;
}

#annotations #imgHolder {
    height: 300px;
}