
/* Content lists rendering */

.contentHolder.blockFormat {
    margin-bottom: 40px;
    background: #f5f5f5;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    height: 250px;
    overflow-y: auto;
    box-shadow: inset 0 -5px 35px -20px;
}

.contentHolder.tableFormat {
    width: 100%;
    height: auto;
    max-height: 450px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.contentHolder.iconFormat {
    padding: 10px;
    max-height: 150px;
    overflow-y: auto;
}

.contentItem {
    overflow: hidden;
    cursor: pointer;
}

.contentItem.blockFormat {
    background: white;
    display: inline-block;
    width: 320px;
    height: 100px;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    margin: 2px 5px 5px 2px;
    border: 1px solid #888;
}

.contentItem.blockFormat:hover {
    box-shadow: 1px 1px 8px rgba(0,0,0,0.6);
}

.contentItem.blockFormat h3 {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    margin: 0;
}

.contentItem.tableFormat {
    height: 35px;
    width: 100%;
    position: relative;
}

.contentItem.tableFormat:nth-child(odd) {
    background: #eee;
}

.contentItem.tableFormat:hover, .contentItem.tableFormat:nth-child(odd):hover {
    background: #d5d5d5;
}

.contentItem.iconFormat {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.contentItem.blockFormat .contentBadge {
    border-radius: 5px 0 0 5px;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0;
}

.contentItem.tableFormat .contentBadge {
    width: 50px;
    height: 35px;
    display: inline-block;
    margin: 0;
}

.contentItem.iconFormat .contentBadge {
    border-radius: 5px;
    width: 70px;
    height: 70px;
    display: inline-block;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    cursor: pointer;
}

.contentBadge.video {
    background: url("../images/videos/placeholder.jpg") center;
    background-size: cover;
}

.contentBadge.audio {
    background: url("../images/audio/placeholder.jpg") center;
    background-size: cover;
}

.contentBadge.image {
    background: url("../images/index/background.jpg") center;
    background-size: cover;
}

.contentBadge.text {
    background: url("../images/text/placeholder.jpg") center;
    background-size: cover;
}

.contentItem.blockFormat .contentDescription {
    position: absolute;
    top: 0;
    left: 106px;
    width: 214px;
    height: 100px;
}

.contentItem.tableFormat .contentName {
    position: absolute;
    top: 8px;
    left: 60px;
    height: 35px;
    font-weight: bold;
    font-size: 20px;
}

.contentItem.blockFormat .contentStats {
    position: absolute;
    left: 0;
    bottom: 6px;
    opacity: 0.4;
    transition: 0.4s ease opacity;
    -ms-transition: 0.4s ease opacity;
    -webkit-transition: 0.4s ease opacity;
    -moz-transition: 0.4s ease opacity;
    -o-transition: 0.4s ease opacity;
}

.contentItem.blockFormat:hover .contentStats {
    opacity: 1;
}

.contentItem.tableFormat .contentStats {
    position: absolute;
    top: 8px;
    right: 100px;
}

.contentItem.blockFormat .contentIcons {
    position: absolute;
    right: 6px;
    bottom: 6px;
    opacity: 0.55;
    transition: 0.4s ease opacity;
    -ms-transition: 0.4s ease opacity;
    -webkit-transition: 0.4s ease opacity;
    -moz-transition: 0.4s ease opacity;
    -o-transition: 0.4s ease opacity;
}

.contentItem.blockFormat:hover .contentIcons {
    opacity: 1;
}

.contentItem.tableFormat .contentIcons {
    position: absolute;
    top: 8px;
    right: 10px;
}

/*
.contentBadge > span {
    width: 100px;
    text-align: center;
    display: block;
    position: absolute;
    top: 105px;
    font-size: 18px;
}

.contentHolder {

    width: 100%;
    margin-bottom: 20px;
    max-height: 500px;
    overflow-y: auto;

}

.contentLink {
    text-decoration: none;
}

.contentItem {
    width: 32%;
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
}

.contentItem .well {
    margin-bottom: 0;
    border: 1px solid #aaa;
    position: relative;
}

.contentIcons {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.contentItemName {
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
}

.contentEntry {
    width: 70px;
    height: 70px;
    background: black;
    display: inline-block;
    margin-right: 10px;
    -webkit-box-shadow: 2px 1px 15px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 1px 15px rgba(0,0,0,0.3);
    box-shadow: 2px 1px 15px rgba(0,0,0,0.3);

    vertical-align: top;
}

.contentEntry.video {
    background: url("../images/videos/placeholder.jpg") center no-repeat;
    background-size: cover;
}

.contentEntry.audio {
    background: url("../images/audio/placeholder.jpg") center no-repeat;
    background-size: cover;
}

.contentEntry.image {
    background: url("../images/index/background.jpg") center no-repeat;
    background-size: cover;
}

.contentEntry.playlist {
    background: url("../images/playlists/placeholder.jpg") center no-repeat;
    background-size: cover;
}

.contentEntry.activity {
    background: url("../images/activities/placeholder.jpg") center no-repeat;
    background-size: cover;
}
*/


/* Content creation */

.fileDropper {
    border: 3px solid #ccc;
    text-align: center;
    margin: 20px 30px;
    height: 250px;
}

.fileDropper.active {
    border: 3px solid #08c;
}

/* Content rendering */

#contentHolder {
    margin-bottom: 10px;
}


#imgHolder {
    width: 100%;
    height: 600px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

/* Transcript styling */

.transcriptContent, #Definitions, #Annotations {
    max-height: 300px;
    overflow-y: auto;
}

.transcriptCue:hover {
    background: rgba(33, 132, 174, 0.5);
    color: white;
}

.transcriptCue {
    border-radius: 5px;
    padding: 0 6px;
}

.transcriptCue.rtl {
    direction: rtl;
}

.transcriptCue.active {
    background: #ffffaa;
}

.transcriptCue.active:hover {
    background: #ffff00;
    color: black;
}

/* Translation styling */

.translationResult {
    margin-bottom: 35px;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    border-radius: 5px;
    padding-top: 3px;
}

.translationResult .sourceText {
    border-radius: 5px 5px 0 0;
    background: #eee;
    font-weight: bold;
    font-size: 12px;
    padding: 3px 6px;
    margin: 0 3px;
}

.translationResult .translations {
    padding: 2px 6px 3px 6px;
}

.translationResult .engine {
    font-style: italic;
    font-size: 12px;
    color: #888;
    float: right;
}

/* Image cropping styling */

.cropShader {
    background: rgba(0,0,0,0.5);
}

.cropOutline {
    outline: 3px solid rgba(255, 255, 0, 0.5);
}

/* Box drawing styling */
.boxDrawingCanvas.drawable {
    cursor: crosshair;
}

/* Text Document */

#textHolder {
    width: auto;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 300px;
}

.captionsIcon {
    width: 16px;
    height: 16px;
    background: url("../images/videos/captions.png") center no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    margin-right: 2px;
}

.captionsIcon.icon-white,
.nav-pills > .active > a > .captionsIcon,
.navbar-inverse .nav > .active > a > .captionsIcon,
.dropdown-menu > li > a:hover > .captionsIcon,
.dropdown-menu > .active > a > .captionsIcon,
.dropdown-submenu:hover > a > .captionsIcon {
    background: url("../images/videos/captions_white.png") center no-repeat;
    background-size: contain;
}