.contentBadge {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    background: black;
    display: inline-block;
    margin: 10px 10px 25px 10px;
    position: relative;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
    cursor: pointer;
}

.contentBadge.video {
    background: url("../images/videos/placeholder.jpg") center;
    background-size: cover;
}

.contentBadge.audio {
    background: url("../images/audio/placeholder.jpg") center;
    background-size: cover;
}

.contentBadge.image {
    background: url("../images/index/background.jpg") center;
    background-size: cover;
}

.contentBadge > span {
    width: 100px;
    text-align: center;
    display: block;
    position: absolute;
    top: 105px;
    font-size: 18px;
}

.createForm {
    padding: 25px 50px;
    background: #eee;
    box-shadow: inset 0 10px 15px -10px rgba(0,0,0,0.15), 0 0 3px rgba(0,0,0,0.5);
    height: 300px;

    transition: height ease 0.5s, padding ease 0.5s;
    -moz-transition: height ease 0.5s, padding ease 0.5s;
    -webkit-transition: height ease 0.5s, padding ease 0.5s;
    -o-transition: height ease 0.5s, padding ease 0.5s;
    -ms-transition: height ease 0.5s, padding ease 0.5s;
    overflow: hidden;


}

.createForm h2, .createForm label {
    color: black;
}

.createForm.hidden {
    padding: 0 50px;
    height: 0;
    display: block;
    visibility: visible;
}

.contentHolder {
    /*height: 100px;*/
    width: 100%;
    margin-bottom: 20px;
    max-height: 500px;
    overflow-y: auto;
    /*border-radius: 5px;
    background: #ccc;
    border-top: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(255,255,255,1);
    box-shadow: inset 2px 2px 18px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    overflow-y: auto;*/
}

.contentLink {
    text-decoration: none;
}

.contentItem {
    width: 32%;
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
}

.contentItem .well {
    margin-bottom: 0;
    border: 1px solid #aaa;
    position: relative;
}

.contentIcons {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.contentItemName {
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
}

.contentEntry {
    width: 70px;
    height: 70px;
    background: black;
    display: inline-block;
    margin-right: 10px;
    /*margin-top: 15px;*/
    -webkit-box-shadow: 2px 1px 15px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 1px 15px rgba(0,0,0,0.3);
    box-shadow: 2px 1px 15px rgba(0,0,0,0.3);

    vertical-align: top;
}

.contentEntry.video {
    background: url("../images/videos/placeholder.jpg") center no-repeat;
    background-size: cover;
}

.contentEntry.audio {
    background: url("../images/audio/placeholder.jpg") center no-repeat;
    background-size: cover;
}

.contentEntry.image {
    background: url("../images/index/background.jpg") center no-repeat;
    background-size: cover;
}

.contentEntry.playlist {
    background: url("../images/playlists/placeholder.jpg") center no-repeat;
    background-size: cover;
}

.contentEntry.activity {
    background: url("../images/activities/placeholder.jpg") center no-repeat;
    background-size: cover;
}

.fileDropper {
    border: 3px solid #ccc;
    text-align: center;
    margin: 20px 30px;
    height: 250px;
}

.fileDropper.active {
    border: 3px solid #08c;
}

/* Content rendering */

#contentHolder.video {
    margin-bottom: 60px;
}


#imgHolder {
    width: 100%;
    height: 600px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

/* Transcript styling */

.transcriptContent, #Definitions, #Annotations {
    max-height: 300px;
    overflow-y: auto;
}

.transcriptCue:hover {
    background: rgba(33, 132, 174, 0.5);
    color: white;
}

.transcriptCue {
    border-radius: 5px;
    padding: 0 6px;
}

.transcriptCue.rtl {
    direction: rtl;
}

.transcriptCue.active {
    background: #ffffaa;
}

.transcriptCue.active:hover {
    background: #ffff00;
    color: black;
}

/* Image cropping styling */

.cropShader {
    background: rgba(0,0,0,0.5);
}

.cropOutline {
    outline: 3px solid rgba(255, 255, 0, 0.5);
}

/* Box drawing styling */
.boxDrawingCanvas.drawable {
    cursor: crosshair;
}

/* Text Document */

#textHolder {
    width: auto;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 300px;
}