.controlBar {
    background: rgba(0,0,0,0.9);
    border-radius: 0 0 5px 5px;
}

.timeBar {
    background: #333;
    border: 1px solid black;
    height: 15px;
    border-radius: 5px;
    box-shadow: inset 2px 3px 5px rgba(0,0,0,0.3);
    white-space:nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.timeBar > .progressBar {
    display: inline-block;
    height: 15px;
    width: 1px;
    max-width: 100%;

    background: #DE2174;
    background-image: linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -o-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(222,33,115)),
        color-stop(1, rgb(238,127,175))
    );

    border-radius: 4px 0 0 4px;
}
.timeBar > .progressKnob {
    height: 19px;
    width: 19px;
    display: inline-block;
    border-radius: 12px;
    margin: -5px -3px -5px -12px;
    border: 3px solid #900B45;

    background: #DE2174;
    background-image: linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -o-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(222,33,115)),
        color-stop(1, rgb(238,127,175))
    );
}

.components > div {
    display: inline-block;
    color: white;
    margin: 10px;
    cursor: pointer;
}

.components > div.play, .components > div.volume, .components > div.fullScreen {
    font-family: FontAwesome;
}

.components > div.captions {
    width: 20px;
    height: 16px;
    margin: 0 10px -2px 10px;
}

.captions {
    position: relative;
}

.captions .captionsIcon {
    width: 20px;
    height: 16px;
    background: url("/assets/images/controlBar/captions.png") top left no-repeat;
}

.captionsMenu {
    width: 200px;
    min-height: 50px;
    background: #333;
    position: absolute;
    top: 24px;
    left: -50px;
    box-shadow: 1px 1px 6px black;
    border-radius: 8px;
    border: 1px solid #000;
    z-index: 29;
    display: none;
}

.captionsMenuTipDark {
    border-bottom: 10px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 50px;
    top: -11px;
    z-index: 30;
}

.captionsMenuTip {
    border-bottom: 10px solid #333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 50px;
    top: -10px;
    z-index: 31;
}

.captionsMenuEntry {
    padding: 5px 0;
    margin: 3px 0;
    text-align: center;
}

.captionsMenuEntry:nth-child(3) {
    margin-top: 7px;
}

.captionsMenuEntry:last-child {
    margin-bottom: 7px;
}

.captionsMenuEntry.active {
    background: #EE5799;
}

.captionsMenuEntry.active:before {
    font-family: FontAwesome;
    content: "\f00c";
    margin-right: 5px;
}

.captionsMenuEntry:hover {
    background: #2184AE;
}

.play {
    width: 10px;
}

.play:not(.playing):before {
    content: "\f04b";
}

.play.playing:before {
    content: "\f04c";
}

.volume > .icon {
    display: inline-block;
    width: 15px;
}

.volume:not(.muted) > .icon:before {
    content: "\f028";
}

.volume.muted > .icon:before {
    content: "\f026";
}

.volume > .volumeSlider {
    display: inline-block;
    width: 100px;
    height: 10px;
    margin-left: 3px;
    border-radius: 5px;
    box-shadow: inset 1px 2px 7px rgba(0,0,0,0.7), 0 1px 0 rgba(255,255,255,0.2);
}

.volume .volumeLevel {
    width: 20px;
    height: 9px;
    margin: 1px;
    border-radius: 4px;
    width: 100%;

    background: #DE2174;
    background-image: linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -o-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(222,33,115) 0%, rgb(238,127,175) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(222,33,115)),
        color-stop(1, rgb(238,127,175))
    );
}

.volume.muted .volumeLevel {
    opacity: 0.4;
}