
.courseBackground {
    height: 215px;
    width: 100%;
    background: url("../images/courses/galaxy.jpg") center center no-repeat;
    margin-top: -10px;
    color: white;
}

.courseTitle {
    padding: 20px;
}

.courseTitle > h1 {
    display: inline-block;
}

.courseTitle > .btn-group, .courseTitle > .btn {
    margin-top: -15px;
    margin-left: 30px;
}

.faces {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow-x: visible;
}

.face {
    width: 60px;
    height: 60px;
    background: black;
    display: inline-block;
    margin-right: 12px;
}

.addStudent {
    margin: -50px 0 0 20px;
}

.announcement {
    padding-top: 20px;
}

.announcement .btn-mini { /* for delete announcement button */
    float: right;
}

.info {
    margin-top: 9px;
    margin-left: 30px;
    font-style: italic;
    color: #666;
    font-size: 12px;
}

#popupLabelBrowserModal h2.highlight {
    background: rgba(255,255,0,0.4);
    -webkit-box-shadow: inset 0 0 5px #ffcc00;
    -moz-box-shadow: inset 0 0 5px #ffcc00;
    box-shadow: inset 0 0 5px #ffcc00;
    padding: 0 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.face-nav-btn {
    opacity: 0.4;
    position: absolute;
    background-color: transparent;
    width: 0;
    height: 0;
    padding: 0;
    margin: 5px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.face-nav {
    position: absolute;
    margin-top: 40px;
    width: 100%;
}

.face-nav-btn-left {
    left: 0;
    border-right: 20px solid white;
}

.face-nav-btn-right {
    border-left: 20px solid white;
    top: 0;
    right: 0;
}

.faces-window {
    position: absolute;
    left: 40px;
    display: inline-block;
    /*height: 100px;*/
    width: calc(100% - 80px);
    overflow: hidden;
    white-space: nowrap;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.face-nav-btn:hover {
    opacity: 1;
}

.faces-filler {
    width: 2000px;
    height: 50px;
    background-color: transparent;
    display: inline-block;
}

.faces-window .tooltip {
    position: fixed;
}