
.courseBackground {
    height: 215px;
    width: 100%;
    background: url("../images/courses/galaxy.jpg") center center no-repeat;
    margin-top: -10px;
    color: white;
}

.courseTitle {
    padding: 20px;
}

.courseTitle > h1 {
    display: inline-block;
}

.courseTitle > .btn-group, .courseTitle > .btn {
    margin-top: -15px;
    margin-left: 30px;
}

.faces {
    margin-top: 40px;
    margin-left: 5px;
}

.face {
    width: 60px;
    height: 60px;
    background: black;
    display: inline-block;
    margin-left: 12px;
}

.addStudent {
    margin: -50px 0 0 20px;
}

.announcement {
    padding-top: 20px;
}

.info {
    margin-top: 9px;
    margin-left: 30px;
    font-style: italic;
    color: #666;
    font-size: 12px;
}