body.ipad {
    overflow: hidden;
    background: #1a1a1a;
}

.ipad #contentHolder {
    position: relative;
}

.ipad .primary {
    position: absolute;
    left: 0;
    top: 0;
}

.ipad .secondary {
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: hidden;

    line-height: 24pt;
    font-size: 18pt;
}

.ipad .secondaryContent {
    padding: 8px;
}

.ipad .transcriptContent, .ipad #Definitions, .ipad #Annotations {
    max-height: none;
}

.ipad #contentHolder {
    margin-bottom: 0;
}

.ipad .caption-cue {
    font-size: 18pt;
}

@media (max-width: 767px) {
    body.ipad {
        padding: 0;
    }
}