body.mobile {
    overflow: hidden;
    background: #1a1a1a;
}

.mobile #contentHolder {
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
}

.mobile .primary {
    position: absolute;
    left: 0;
    top: 0;
}

.mobile .secondary {
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: hidden;

    line-height: 24pt;
    font-size: 18pt;
}

.mobile .secondaryContent {
    padding: 8px;
}

.mobile .transcriptContentHolder, .mobile .definitionsContent, .mobile #Annotations {
    max-height: none;
}

.mobile .caption-cue {
    font-size: 18pt;
}

/*
@media (max-width: 767px) {
    body.mobile {
        padding: 0;
    }
}*/