#bottomContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #505050;
    border-top: 1px solid #686868;
}

#timeline {
    border-top: 1px solid #222;
    margin-bottom: -5px;
}

#bottomSpacer {
    margin-top: 117px;
}