@(content: models.Content, classes: List[String] = List(), course: Option[Course] = None)

@thumbnail = @{
    if (content.thumbnail.isEmpty)
        ""
    else
        "background: url('" + content.thumbnail + "') center no-repeat; background-size: cover;"
}

@call = @{
    if (course.isDefined)
        routes.ContentController.viewInCourse(content.id.get, course.get.id.get)
    else
        routes.ContentController.view(content.id.get)
}

@playbackLevel = {
    @if(content.contentType == 'video) {
        <span class="badge badge-magenta" title="Video playback at level @content.level">@content.level</span>
    }
}

@captions = {
    @if((content.contentType == 'video || content.contentType == 'audio) && content.level.toInt >= 2 && !content.enabledCaptionTracks.isEmpty) {
        <img src="@routes.Assets.at("images/videos/captions.png")" title="This @content.contentType.name has captions" />
    }
}

@annotations = {
    @if(!content.enabledAnnotationDocuments.isEmpty) {
        <i class="icon-tags" title="This @content.contentType.name has annotations"></i>
    }
}

<div class="contentItem">
    <div class="well">
        <div class="row-fluid">
            <div class="span4"><a href="@call" class="contentEntry @content.contentType.name @classes.mkString(" ")" data-toggle="tooltip" title="@content.name" style="@thumbnail"></a></div>
            <div class="span8">
                <a href="@call">
                    <div class="contentItemName">@content.name</div>
                </a>
            </div>
        </div>

        <div class="contentIcons">
            @captions
            @annotations
            @playbackLevel
        </div>
    </div>
</div>

