@()(implicit request: RequestHeader, user: User)

@read(notification: Notification) = {
    @if(!notification.messageRead) {
        unread
    }
}

@main("Ayamel - Notifications") {

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/notifications.css")"/>

    <div class="padded">

        <h1>Notifications</h1>

        <div class="row-fluid">
            <div class="span4">
                <table class="pad-bottom-high">
                    <tr>
                        <td>Unread messages:</td>
                        <td><span class="badge badge-yellow">@user.getNotifications.filterNot(_.messageRead).size</span></td>
                    </tr>
                    <tr>
                        <td>Total messages:</td>
                        <td><span class="badge badge-blue">@user.getNotifications.size</span></td>
                    </tr>
                </table>
                <p>Click on a notification to mark it as read.</p>
            </div>
            <div class="span8 notifications">
                @for(notification <- user.getNotifications) {
                    @if(!notification.messageRead) {
                        <a href="@routes.Users.markNotification(notification.id.get)">
                    }
                    <div class="notification @read(notification)" data-id="@notification.id.get">
                        <div class="message">@Html(notification.message)</div>
                        <div class="date">@service.TimeTools.prettyTime(notification.dateSent)</div>
                    </div>
                    @if(!notification.messageRead) {
                        </a>
                    }
                }
                @if(user.getNotifications.isEmpty) {
                    <em>You don't have any notifications</em>
                }
            </div>
        </div>
    </div>

}
