# This is the main configuration file for the application.
# ~~~~~

# Secret key
# ~~~~~
# The secret key is used to secure cryptographics functions.
# If you deploy your application to several instances be sure to use the same key!
application.secret="RandomApplicationSecretGoesHere"

# The application languages
# ~~~~~
application.langs="en"

# Global object class
# ~~~~~
# Define the Global object class for this application.
# Default to Global in the root package.
# application.global=Global

# Router 
# ~~~~~
# Define the Router object to use for this application.
# This router will be looked up first when the application is starting up,
# so make sure this is the entry point. 
# Furthermore, it's assumed your route file is named properly. 
# So for an application router like `my.application.Router`,
# you may need to define a router file `conf/my.application.routes`.
# Default to Routes in the root package (and conf/routes)
# application.router=my.application.Routes

# Database configuration
# ~~~~~ 
# You can declare as many datasources as you want.
# By convention, the default datasource is named `default`
#
db.default.driver=com.mysql.jdbc.Driver
db.default.url="jdbc:mysql://localhost/ayamel?characterEncoding=UTF-8"
db.default.user=root
db.default.password=root

# Evolutions
# ~~~~~
# You can disable evolutions if needed
# evolutionplugin=disabled

# Logger
# ~~~~~
# You can also configure logback (http://logback.qos.ch/), by providing a logger.xml file in the conf directory .

# Root logger:
logger.root=ERROR

# Logger used by the framework:
logger.play=INFO

# Logger provided to your application:
logger.application=DEBUG

# Resource Library information
resourceLibrary.baseUrl="http://api.ayamel.org/api/v1/"
resourceLibrary.clientId=""
resourceLibrary.apiKey=""

# Upload engine settings
uploadEngine="s3"
amazon.accessKeyId=""
amazon.secretAccessKey=""
amazon.bucket=""

# Media settings
media.image.maxWidth=1500
media.image.maxHeight=1500
media.video.thumbnailTime=10
media.video.ffmpeg="/usr/bin/ffmpeg"

# Playgraph settings
playgraph.host=""
playgraph.author.key=""
playgraph.author.secret=""
playgraph.player.key=""
playgraph.player.secret=""

# Translation configuration
translation.endpoint=""
translation.key="################################"

# SMTP (email) settings
smtp.host="smtp.gmail.com"
smtp.port=465
smtp.name="Ayamel Admin"
smtp.address=""
smtp.password=""

# Client Dependency Settings
dependency.Ayamel.js=""
dependency.EditorWidgets=""
dependency.TimedText=""
dependency.TimelineEditor=""

# Settings for Google powered exercises
exercises.createFormScript="https://script.google.com/macros/s/1234567890abcdefghijklmnopqrstuvwxyz/exec"
exercises.getResponseIndexScript="https://script.google.com/macros/s/1234567890abcdefghijklmnopqrstuvwxyz/exec"
exercises.gradeFormScript="https://script.google.com/macros/s/1234567890abcdefghijklmnopqrstuvwxyz/exec"

# Settings for exporting to Quizlet
quizlet.clientId=""
quizlet.secretKey=""
quizlet.auth=""

# Settings for learning locker
learninglocker.endpoint=""
learninglocker.username=""
learninglocker.password=""

#Extra MIME Types
mimetype.m3u8="application/x-mpegurl"
mimetype.m4v="video/mp4"
mimetype.m4a="audio/mp4"