@(content: models.Content, course: Option[Course], resourceLibraryUrl: String)(implicit request: RequestHeader, user: User)

@editor("Ayamel - CaptionAider") {

    <link rel="stylesheet" href="@routes.Assets.at("subtitle-timeline-editor/timeline.css")"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/timeline.css")"/>

    <script type="text/javascript" src="@routes.Assets.at("subtitle-timeline-editor/Timeline.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("subtitle-timeline-editor/Slider.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("subtitle-timeline-editor/TimelineSkin.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("subtitle-timeline-editor/TimelineView.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("subtitle-timeline-editor/TextTrack.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("subtitle-timeline-editor/TimelineMenus.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("subtitle-timeline-editor/CaptionEditor.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("subtitle-timeline-editor/WaveForm.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("subtitle-timeline-editor/Resampler.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("subtitle-timeline-editor/AudioTrack.js")"></script>

    <script type="text/javascript" src="@routes.Assets.at("subtitle-timeline-editor/aurora/aurora.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("subtitle-timeline-editor/aurora/aac.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("subtitle-timeline-editor/aurora/alac.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("subtitle-timeline-editor/aurora/flac.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("subtitle-timeline-editor/aurora/mp3.js")"></script>

    @views.html.content.header.dependencies()

    <div class="container">
        <div class="mainContent">
            <div class="padded">
                <ul class="breadcrumb">
                    @if(course.isDefined) {
                        <li><a href="@routes.Courses.view(course.get.id.get)">@course.get.name</a> <span class="divider">/</span></li>
                        <li><a href="@routes.CourseContent.viewInCourse(content.id.get, course.get.id.get)">@content.name</a> <span class="divider">/</span></li>
                    } else {
                        <li><a href="@routes.ContentController.view(content.id.get)">@content.name</a> <span class="divider">/</span></li>
                    }
                    <li class="active">CaptionAider</li>
                </ul>
                <div id="contentHolder" class="@content.contentType.name"></div>
                <div id="bottomSpacer"></div>
            </div>
        </div>
    </div>

    <div id="bottomContainer">
        <div id="toolbarHolder">
            <div class="toolbar">
                <strong>Actions:</strong>
                <div class="btn-group">
                    <button class="btn btn-small btn-inverse" id="undoButton" title="Undo"><i class="icon-undo"></i></button>
                    <button class="btn btn-small btn-inverse" id="redoButton" title="Redo"><i class="icon-repeat"></i></button>
                    <button class="btn btn-small btn-inverse" id="plusFontButton" title="Increase Font Size"><i class="icon-plus-sign"></i> Font</button>
                    <button class="btn btn-small btn-inverse" id="minusFontButton" title="Decrease Font Size"><i class="icon-minus-sign"></i> Font</button>
                </div>
            </div>

            <div class="toolbar">
                <strong>Tracks:</strong>
                <div class="btn-group">
                    <button class="btn btn-small btn-inverse" id="newTrackButton" title="Create a new track" data-target="#newTrackModal" data-toggle="modal"><i class="icon-file"></i></button>
                    <button class="btn btn-small btn-inverse" title="Edit track metadata" data-target="#editTrackModal" data-toggle="modal"><i class="icon-pencil"></i></button>
                    <button class="btn btn-small btn-inverse" title="Save tracks" data-target="#saveTrackModal" data-toggle="modal"><i class="icon-save"></i></button>
                    <button class="btn btn-small btn-inverse" title="Load tracks" data-target="#loadTrackModal" data-toggle="modal"><i class="icon-folder-open"></i></button>
                </div>
            </div>

            <div class="toolbar">
                <strong>Tools:</strong>
                <div class="btn-group" data-toggle="buttons-radio">
                    <button class="btn btn-small btn-inverse active" id="selectToolButton" title="Select Tool"><i class="icon-ok"></i></button>
                    <button class="btn btn-small btn-inverse" id="addCueToolButton" title="Add Cue Tool"><i class="icon-plus"></i></button>
                    <button class="btn btn-small btn-inverse" id="moveToolButton" title="Move Tool"><i class="icon-move"></i></button>
                    <button class="btn btn-small btn-inverse" id="splitToolButton" title="Split Tool"><i class="icon-cut"></i></button>
                    <button class="btn btn-small btn-inverse" id="deleteToolButton" title="Delete Tool"><i class="icon-trash"></i></button>
                    <button class="btn btn-small btn-inverse" id="scrollToolButton" title="Scroll Tool"><i class="icon-ellipsis-horizontal"></i></button>
                    <button class="btn btn-small btn-inverse" id="reorderToolButton" title="Reorder Tool"><i class="icon-reorder"></i></button>
                    <button class="btn btn-small btn-inverse" id="timeShiftToolButton" title="Time Shift Tool"><i class="icon-resize-horizontal"></i></button>
                    <button class="btn btn-small btn-inverse" id="repeatToolButton" title="Set Repeat Tool"><i class="icon-repeat"></i></button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-small btn-inverse disabled" id="enableRepeatButton" title="Enable Repeat" data-toggle="button"><i id="repeatIcon" class="icon-circle-blank"></i></button>
                    <button class="btn btn-small btn-inverse disabled" id="clearRepeatButton" title="Clear Repeat"><i class="icon-ban-circle"></i></button>
                </div>
                <button class="btn btn-small btn-inverse" id="moveAfterAddButton" title="Move After Add" data-toggle="button">
                    <i class="icon-plus"></i>
                    <i class="icon-angle-right"></i>
                    <i class="icon-move"></i>
                </button>
            </div>

            <div id="timestamp">0:00:00</div>
        </div>

        <div id="timeline"></div>
    </div>

    <div id="newTrackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newTrackModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="newTrackModalLabel">Create a new track</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="trackName">Name</label>
                    <div class="controls">
                        <input type="text" id="trackName" placeholder="Name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="trackType">Type</label>
                    <div class="controls">
                        <select id="trackType">
                            <option value="subtitles">Subtitles</option>
                            <option value="captions">Captions</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="trackFormat">Format</label>
                    <div class="controls">
                        <select id="trackFormat">
                            <option value="text/vtt" selected="selected">WebVTT</option>
                            <option value="text/srt">SubRip</option>
                            <option value="application/ttml+xml">TTML</option>
                            <option value="text/x-ssa">Sub Station Alpha</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="trackLanguage">Language</label>
                    <div class="controls">
                        @views.html.content.header.languages("trackLanguage")
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-blue" id="createTrackButton">Create</button>
        </div>
    </div>

    <div id="editTrackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editTrackModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="editTrackModalLabel">Edit tracks</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="editTrack">Which Track</label>
                    <div class="controls">
                        <select id="editTrack"></select>
                    </div>
                </div>
                <div id="editControls">
                    <div class="control-group">
                        <label class="control-label" for="editTrackName">Name</label>
                        <div class="controls">
                            <input type="text" id="editTrackName" placeholder="Name">
                        </div>
                    </div>
                    <div class="control-group">
                            <label class="control-label" for="editTrackType">Type</label>
                        <div class="controls">
                            <select id="editTrackType">
                                <option value="subtitles">Subtitles</option>
                                <option value="captions">Captions</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="editTrackLanguage">Language</label>
                        <div class="controls">
                        @views.html.content.header.languages("editTrackLanguage")
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-blue" id="editTrackButton">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

    <div id="saveTrackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="saveTrackModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="saveTrackModalLabel">Save tracks</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="tracksToSave">Which Tracks</label>
                    <div class="controls">
                        <select id="tracksToSave" multiple="multiple"></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Destination</label>
                    <div class="controls">
                        <div id="saveDestinations">
                            <label class="radio">
                                <input type="radio" name="saveDestination" value="ayamel" checked>
                                Ayamel
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-blue" id="saveTrackButton">Save</button>
        </div>
    </div>

    <div id="loadTrackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loadTrackModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="saveTrackModalLabel">Load track</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="loadType">Type</label>
                    <div class="controls">
                        <select id="loadType">
                            <option value="subtitles">Subtitles</option>
                            <option value="captions">Captions</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="loadLanguage">Language</label>
                    <div class="controls">
                        @views.html.content.header.languages("loadLanguage")
                    </div>
                </div>
                 <div class="control-group">
                    <label class="control-label">Source</label>
                    <div class="controls">
                        <div id="loadDestinations">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-blue" id="loadTrackButton">Load</button>
        </div>
    </div>

    <script type="text/javascript">
        var content = @Html(content.toJson.toString());
        var courseId = @course.map(_.id.get).getOrElse(0);
        var userId = @user.id.get;
        var owner = @content.isEditableBy(user);
        var teacher = @course.exists(c => user.canEdit(c));
        ResourceLibrary.setBaseUrl("@resourceLibraryUrl");
    </script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/captionAider.js")"></script>

}

