@(content: models.Content, course: Option[Course], resourceLibraryUrl: String)(implicit request: RequestHeader, user: User)

@editor("Ayamel - CaptionAider",
  Extern("TimelineEditor", CSS("timeline.css")),
  Local(
    CSS("stylesheets/timeline.css"),
    JS("javascripts/pageScripts/captionAider.js"))
) {

    @views.html.content.header.includes()

    @Dependencies(
      Extern("TimelineEditor",
        JS("Timeline.js"),
        JS("Slider.js"),
        JS("TimelineSkin.js"),
        JS("TimelineView.js"),
        JS("TextTrack.js"),
        JS("TimelineMenus.js"),
        JS("TimelineControls.js"),
        JS("CaptionEditor.js"),
        JS("WaveForm.js"),
        JS("Resampler.js"),
        JS("AudioTrack.js"),
        Rel("aurora/",
          JS("aurora.js"),
          JS("aac.js"),
          JS("alac.js"),
          JS("flac.js"),
          JS("mp3.js")))
    )

    <div class="container">
        <div class="mainContent">
            <div class="padded">
                <ul class="breadcrumb">
                    @if(course.isDefined) {
                        <li><a href="@routes.Courses.view(course.get.id.get)">@course.get.name</a> <span class="divider">/</span></li>
                        <li><a href="@routes.CourseContent.viewInCourse(content.id.get, course.get.id.get)">@content.name</a> <span class="divider">/</span></li>
                    } else {
                        <li><a href="@routes.ContentController.view(content.id.get)">@content.name</a> <span class="divider">/</span></li>
                    }
                    <li class="active">CaptionAider</li>
                </ul>
                <div id="contentHolder" class="@content.contentType.name"></div>
                <div id="bottomSpacer"></div>
            </div>
        </div>
    </div>

    <div id="bottomContainer">
        <div id="timeline"></div>
    </div>

    <div id="newTrackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newTrackModalLabel" aria-hidden="true"></div>
    <div id="cloneTrackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="cloneTrackModalLabel" aria-hidden="true"></div>
    <div id="editTrackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editTrackModalLabel" aria-hidden="true"></div>
    <div id="setLocModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="setLocModalLabel" aria-hidden="true"></div>
    <div id="saveTrackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="saveTrackModalLabel" aria-hidden="true"></div>
    <div id="loadTrackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loadTrackModalLabel" aria-hidden="true"></div>
    <div id="showTrackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="showTrackModalLabel" aria-hidden="true"></div>

    <script>
        var content = @Html(content.toJson.toString());
        var courseId = @course.map(_.id.get).getOrElse(0);
        var userId = @user.id.get;
        var owner = @content.isEditableBy(user);
        var teacher = @course.exists(c => user.hasCoursePermission(c, "teacher"));
        ResourceLibrary.setBaseUrl("@resourceLibraryUrl");
    </script>
    <script id='createTrackTemplate' type='text/ractive'>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    <input type="text" value="{{trackName}}" placeholder="Name">
                </div>
            </div>
            {{>trackKindSelect}}
            <div class="control-group">
                <label class="control-label">Format</label>
                <div class="controls">
                    <select value="{{trackMime}}">
                        {{#types}}<option value="{{.mime}}">{{.name}}</option>{{/types}}
                    </select>
                </div>
            </div>
            {{>trackLangSelect}}
        </form>
    </script>
    <script id='editTrackTemplate' type='text/ractive'>
        <form class="form-horizontal">
            {{#(trackList.length === 0)}}
            There are no tracks loaded for editing.
            {{/(trackList)}}
            {{#(trackList.length > 0)}}
            {{#(trackList.length > 1)}}
            <div class="control-group">
                <label class="control-label">Which Track</label>
                <div class="controls">
                    <select value="{{trackToEdit}}">
                    {{#trackList}}<option value="{{.}}">{{.}}</option>{{/trackList}}
                    </select>
                </div>
            </div>
            {{/(trackList)}}
            <div style="display:{{(trackToEdit === "" ? "none" : "block")}}">
                <div class="control-group">
                    <label class="control-label">Name</label>
                    <div class="controls">
                        <input type="text" value="{{trackName}}" placeholder="Name">
                    </div>
                </div>
                {{>trackKindSelect}}
                {{>trackLangSelect}}
            </div>
            {{/(trackList)}}
        </form>
    </script>
    <script id='setLocTemplate' type='text/ractive'>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Current Save Location</label>
                <div class="controls">
                    <div id="saveLocation">
                        <label class="radio">
                            <input type="radio" name="{{saveLocation}}" value="server">Server
                        </label>
                        {{#saveLocations}}
                        <label class="radio">
                            <input type="radio" name="{{saveLocation}}" value="{{.value}}">{{.name}}
                        </label>
                        {{/saveLocations}}
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script id='saveTrackTemplate' type='text/ractive'>
        <div class="form-horizontal">
            <superselect icon="icon-laptop" text="Select Track" selection="{{selectedTracks}}" button="left" open="{{selectOpen}}" multiple="true" options="{{tracks}}" modalId="{{modalId}}">
        </div>
    </script>
    <script id='loadTrackTemplate' type='text/ractive'>
        <form class="form-horizontal">
            {{>trackKindSelect}}
            {{>trackLangSelect}}
            <div class="control-group">
                <label class="control-label">Source</label>
                <div class="controls">
                    {{#sources}}
                    <label class="radio"><input type="radio" name="{{loadSource}}" value="{{.name}}">{{.label}}</label>
                    {{/sources}}
                </div>
            </div>
        </form>
    </script>
    <script id='showTrackTemplate' type='text/ractive'>
        <div class="form-horizontal">
            <superselect icon="icon-laptop" text="Select Track" selection="{{selectedTracks}}" button="left" open="{{selectOpen}}" multiple="true" options="{{tracks}}" modalId="{{modalId}}">
        </div>
    </script>
}

