@(content: models.Content, resourceLibraryUrl: String)

@*<img id="content_@content.id.get" src="@content.thumbnail">*@

<script src="@routes.Assets.at("Ayamel.js/js/Resource.js")" type="text/javascript"></script>

<audio id="player">

<script type="text/javascript">

    $(function() {
    // Load the resource
    var resourceUri = "@resourceLibraryUrl/@content.resourceId";
    new Resource(resourceUri, function (resource) {

        for(var i = 0; i<resource.content.files.length; i++){
            if(resource.content.files[i].type.match("audio")){
                var url = resource.content.files[i].downloadUri;
                $("#player").attr("src", url);
                break;
                }
            }

        });
    });
</script>
