@(content: models.Content, resourceLibraryUrl: String, embed: Boolean = false)

@*<img id="content_@content.id.get" src="@content.thumbnail">*@

<audio id="player" controls="controls">
</audio>

<script type="text/javascript">

    $(function() {
        // Load the resource
        var resourceUri = "@resourceLibraryUrl/@content.resourceId";
        new Resource(resourceUri, function (resource) {

            for(var i = 0; i<resource.content.files.length; i++){
            if(resource.content.files[i].representation.match("original")){
                    var url = resource.content.files[i].downloadUri;
                    var mime = resource.content.files[i].mime;
                    $("#player").append('<source src="' + url + '" type="' + mime + '">');
                    break;
                }
            }

        });
    });
</script>
