@(content: models.Content, resourceLibraryUrl: String)

@*<img id="content_@content.id.get" src="@content.thumbnail">*@

<img id="theImage">

<script type="text/javascript">

    $(function() {
        // Load the resource
        var resourceUri = "@resourceLibraryUrl/@content.resourceId";
        new Resource(resourceUri, function (resource) {

            for(var i = 0; i<resource.content.files.length; i++){
                if(resource.content.files[i].representation.match("original")){
                    var url = resource.content.files[i].downloadUri;
                    $("#theImage").attr("src", url);
                    break;
                }
            }

            // Get the uri from the resource
            // display it
        });
    });
</script>
