@(content: models.Content, resourceLibraryUrl: String, embed: Boolean = false)

@*<img id="content_@content.id.get" src="@content.thumbnail">*@

<div id="imgHolder"></div>

<script type="text/javascript">

    $(function() {
        var $imgHolder = $("#imgHolder");

        // Load the resource
        var resourceUri = "@resourceLibraryUrl/@content.resourceId";
        new Resource(resourceUri, function (resource) {

            for(var i = 0; i<resource.content.files.length; i++){
                if(resource.content.files[i].representation.match("original")){

                    var url = resource.content.files[i].downloadUri;
                    $imgHolder.css("background-image", "url('" + url + "')");

                    // Load the image and check its dimensions to see if it is smaller than our display area
                    var img = new Image();
                    img.src = url;
                    img.onload = function() {
                        if (this.width <= $imgHolder.width() && this.height <= $imgHolder.height())
                            $imgHolder.css("background-size", "initial");
                    }

                    break;
                }
            }
        });
    });
</script>
