@(content: models.Content)

<div id="player"></div>

<script type="text/javascript">

    $(function() {
        // Load the resource
        var resourceUri = "http://ayamel.americancouncils.org/api/v1/resources/@content.resourceId";
        new Resource(resourceUri, function (resource) {

            // Install the HTML5 video player
            Ayamel.AddVideoPlayer(h5PlayerInstall, 1, function() {

                // Create the player
                var videoPlayer = new Ayamel.VideoPlayer({
                    element: document.getElementById('player'),
                    aspectRatio: 45,
                    resource: resource
                });
            });
        });
    });
</script>

