@(content: models.Content, course: Option[Course], resourceLibraryUrl: String)(implicit user: User)

@annotationUrl = @{
    if (course.isDefined && user.canEdit(course.get)) {
        val courseQuery = "?course=" + course.get.id.get
        routes.DocumentManager.editAnnotations(content.id.get).toString() + courseQuery
    } else {
        routes.DocumentManager.editAnnotations(content.id.get).toString()
    }
}

@captionTrackUrl = @{
    if (course.isDefined && user.canEdit(course.get)) {
        val courseQuery = "?course=" + course.get.id.get
        routes.DocumentManager.addCaptionTrack(content.id.get).toString() + courseQuery
    } else {
        routes.DocumentManager.addCaptionTrack(content.id.get).toString()
    }
}

@if(true) {
    @if(content.contentType == 'video || content.contentType == 'audio) {
        <div id="captionTrackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="captionTrackModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="captionTrackModalLabel">Add Caption Track</h3>
            </div>
            <div class="modal-body">

                <p>
                    You can add captions with the CaptionAider tool.
                </p>
                <p><a href="@routes.CaptionAider.view(content.id.get, course.map(_.id.get).getOrElse(0))" class="btn btn-yellow">Add captions with CaptionAider</a></p>

                <hr>
                <p>
                    You can also upload a <code>.vtt</code> file to add time-based captions.
                </p>

                <form class="form-horizontal" id="captionTrackForm" method="post" enctype="multipart/form-data" action="@captionTrackUrl">
                    <div class="control-group">
                        <label class="control-label" for="captionTrackTitle">Title</label>
                        <div class="controls">
                            <input type="text" id="captionTrackTitle" name="title" placeholder="Title">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="captionTrackLanguage">Language</label>
                        <div class="controls">
                            <input type="text" id="captionTrackLanguage" name="language" placeholder="Language (2 letter code)">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="file">File</label>
                        <div class="controls">
                            <input type="file" id="file" name="file">
                        </div>
                    </div>
                    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-blue" id="addCaptionTrackButton">Add</button>
            </div>
        </div>
    }

    <div id="annotationsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="annotationsModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="annotationsModalLabel">Add Annotations</h3>
        </div>
        <div class="modal-body">

            <h4>New Annotations</h4>
            <a id="annotationLink" href="@annotationUrl">Create a new Annotation Set</a>

            <h4>Edit Existing Annotations</h4>
            <table id="existingAnnotations" class="table table-bordered">
                <tbody>
                </tbody>
            </table>

            @if(!content.isEditableBy(user)) {
                <p id="publishNote">
                    <strong>A note on publishing:</strong> When you press the <em>publish</em> button a request is sent to
                    the content owner. If he or she accepts your annotation set then you lose ownership of it. So don't
                    request for your annotations to be publish until you are entirely finished editing them.
                </p>
            } else {
                <h4>Accept Publish Requests</h4>
                <table id="annotationPublishRequests" class="table table-bordered">
                    <tbody>
                    </tbody>
                </table>
            }

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $("#addCaptionTrackButton").click(function() {
                $("#captionTrackForm").submit();
            });

            var url = "@resourceLibraryUrl/@content.resourceId";
            var template =
                '<tr>' +
                    '<td>{{title}}</td>' +
                    '<td>{{>buttons}}</td>' +
                '</tr>';
            var editButtonTemplate = '<a href="{{editUrl}}" class="btn">Edit</a>';
            var publishButtonTemplate = '<a href="{{#pr}}#{{/pr}}{{^pr}}{{publishUrl}}{{/pr}}" class="btn {{#pr}}disabled{{/pr}}">Publish</a>';
            var acceptButtonTemplate = '<a href="{{acceptUrl}}" class="btn">Accept</a>';

            ResourceLibrary.load(url, function(resource) {
                var $tbody = $("#existingAnnotations").children("tbody");
                var owner = @content.isEditableBy(user);
                var courseId = @course.map(_.id.get).getOrElse(0);
                var content = @Html(content.toJson.toString());

                AdditionalDocumentLoader.annotations.loadEditable({
                    userId: "@user.id.get",
                    owner: owner,
                    teacher: [@course.map(c => user.canEdit(c)).getOrElse(false)][0],
                    courseId: courseId,
                    content: content,
                    resource: resource,
                    callback: function (annotations) {
                        annotations.forEach(function (annotation) {
                            var editUrl = "/content/" + content.id + "/annotations?doc=" + annotation.id +
                                (courseId ? "&course=" + courseId : "");
                            var publishUrl = "/content/" + content.id + "/publish/" + annotation.id +
                                (courseId ? "?course=" + courseId : "");

                            var buttons = Mustache.to_html(editButtonTemplate, {editUrl: editUrl});
                            if (!owner) {
                                buttons += "&nbsp;" + Mustache.to_html(publishButtonTemplate, {
                                    publishUrl: publishUrl,
                                    pr: annotation.attributes && annotation.attributes.publishStatus
                                });
                            }

                            var html = Mustache.to_html(template, {title: annotation.title}, {buttons: buttons});
                            $tbody.append(html);
                        });
                    }
                });

                if (owner) {
                    var $prTbody = $("#annotationPublishRequests").children("tbody");
                    AdditionalDocumentLoader.annotations.loadPublishRequested({
                        resource: resource,
                        callback: function (annotations) {
                            annotations.forEach(function (annotation) {
                                var acceptUrl = "/content/" + content.id + "/accept/" + annotation.id +
                                    (courseId ? "?course=" + courseId : "");
                                var buttons = Mustache.to_html(acceptButtonTemplate, {acceptUrl: acceptUrl});
                                var html = Mustache.to_html(template, {title: annotation.title}, {buttons: buttons});
                                $prTbody.append(html);
                            });
                        }
                    });
                }
            });
        });
    </script>
}