@(content: models.Content, course: Option[Course], resourceLibraryUrl: String)(implicit user: User)

@if(true) {

    <script type="text/javascript">
        var courseId = @course.map(_.id.get).getOrElse(0);
        var owner = @content.isEditableBy(user);
        var teacher = @course.exists(c => user.canEdit(c));
        var userId = @user.id.get;
    </script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/pageScripts/addRelatedDocs.js")"></script>

    @if(content.contentType == 'video || content.contentType == 'audio) {
        <div id="captionTrackModal" class="modal bigModal hide fade" tabindex="-1" role="dialog" aria-labelledby="captionTrackModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="captionTrackModalLabel">Captions/Subtitles</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Add/Edit Tracks</h4>
                        <div class="clearfix"></div>
                        <p>Add or edit caption tracks with CaptionAider.</p>
                        <a href="@routes.CaptionAider.view(content.id.get, 0)" class="btn btn-yellow"><i class="icon-desktop"></i> Launch CaptionAider</a>

                        <hr>

                        <p>Upload caption track.</p>
                        <div id="captionsUpload"></div>

                        <hr>

                        <p>Caption tracks you can edit:</p>
                        <div id="captionsTable"></div>
                    </div>

                    <div class="span6">
                        <h4>Publish caption tracks</h4>
                        <p>
                            <strong>A note on publishing:</strong> When you press the <em>publish</em> button a request is sent to
                            the content owner. If he or she accepts your caption track, then you lose ownership of it. So don't
                            request for your caption tracks to be publish until you are entirely finished editing them.
                        </p>
                        <div id="trackPublishRequests"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(function() {
                $('#captionTrackModal a[href="#captions"]').tab('show');
            });
        </script>
    }

    <div id="annotationsModal" class="modal bigModal hide fade" tabindex="-1" role="dialog" aria-labelledby="annotationsModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="annotationsModalLabel">Annotations</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span6">
                    <h4>Add/Edit Annotations</h4>
                    <div class="clearfix"></div>
                    <p>Add or edit annotations sets.</p>
                    <a class="btn btn-yellow" href="@routes.DocumentManager.editAnnotations(content.id.get)"><i class="icon-file-text"></i> Create a new Annotation Set</a>

                    <hr>

                    <p>Upload annotations</p>
                    <div id="annotationsUpload"></div>

                    <hr>

                    <div id="annotationsTable"></div>
                </div>

                <div class="span6">
                    <h4>Publish Annotation Sets</h4>
                    <p>
                        <strong>A note on publishing:</strong> When you press the <em>publish</em> button a request is sent to
                        the content owner. If he or she accepts your annotation set, then you lose ownership of it. So don't
                        request for your annotations to be publish until you are entirely finished editing them.
                    </p>
                    <div id="annotationPublishRequests"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $('#annotationsModal a[href="#personalAnnotations"]').tab('show');
        });
    </script>
}