@(content: models.Content, course: Option[Course], resourceLibraryUrl: String)(implicit user: User)

@if(true) {

    <script type="text/javascript">
        var courseId = @course.map(_.id.get).getOrElse(0);
        var owner = @content.isEditableBy(user);
        var teacher = @course.exists(c => user.canEdit(c));
        var userId = @user.id.get;
    </script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/addRelatedDocs.js")"></script>

    @if(content.contentType == 'video || content.contentType == 'audio) {
        <div id="captionTrackModal" class="modal bigModal hide fade" tabindex="-1" role="dialog" aria-labelledby="captionTrackModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="captionTrackModalLabel">Captions/Subtitles</h3>
            </div>
            <div class="modal-body">

                <div class="row-fluid">
                    <div class="span6">
                        <h4>Add/Edit Tracks</h4>
                        <div style="position: relative">
                            <ul class="nav nav-pills">
                                <li><a href="#personalCaptions" data-toggle="pill">Personal</a></li>

                                @if(course.isDefined && user.canEdit(course.get)) {
                                    <li><a href="#courseCaptions" data-toggle="pill">Course</a></li>
                                }
                            </ul>
                        </div>
                        <div class="clearfix"></div>

                        <div class="tab-content">
                            <div class="tab-pane" id="personalCaptions">

                                <p>Add or edit personal caption tracks with CaptionAider.</p>
                                <a href="@routes.CaptionAider.view(content.id.get, 0)" class="btn btn-yellow"><i class="icon-desktop"></i> Launch CaptionAider</a>

                                <hr>

                                <p>Caption tracks you can edit:</p>
                                <table class="table table-bordered" id="personalCaptionsTable">
                                    <thead>
                                    <tr>
                                        <th>Track name</th>
                                        <th>Language</th>
                                        <th>Options</th>
                                        <th>Publish</th>
                                    </tr>
                                    </thead>
                                </table>

                            </div>
                            @if(course.isDefined) {
                                <div class="tab-pane" id="courseCaptions">
                                    <p>Add or edit course-visible caption tracks with CaptionAider.</p>
                                    <a href="@routes.CaptionAider.view(content.id.get, course.get.id.get)" class="btn btn-magenta"><i class="icon-desktop"></i> Launch CaptionAider</a>

                                    <hr>

                                    <p>Caption tracks you can edit:</p>
                                    <table class="table table-bordered" id="courseCaptionsTable">
                                        <thead>
                                        <tr>
                                            <th>Track name</th>
                                            <th>Language</th>
                                            <th>Options</th>
                                            <th>Publish</th>
                                        </tr>
                                        </thead>
                                    </table>
                                    </div>
                            }
                        </div>
                    </div>

                    <div class="span6">
                        <h4>Publish caption tracks</h4>

                        <p>
                            <strong>A note on publishing:</strong> When you press the <em>publish</em> button a request is sent to
                            the content owner. If he or she accepts your caption track, then you lose ownership of it. So don't
                            request for your caption tracks to be publish until you are entirely finished editing them.
                        </p>

                        <table id="trackPublishRequests" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Track name</th>
                                <th>Language</th>
                                <th>Options</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(function() {
                $('#captionTrackModal a[href="#personalCaptions"]').tab('show');
            });
        </script>
    }

    <div id="annotationsModal" class="modal bigModal hide fade" tabindex="-1" role="dialog" aria-labelledby="annotationsModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="annotationsModalLabel">Annotations</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span6">
                    <h4>Add/Edit Annotations</h4>

                    <div style="position: relative">
                        <ul class="nav nav-pills">
                            <li><a href="#personalAnnotations" data-toggle="pill">Personal</a></li>

                            @if(course.isDefined && user.canEdit(course.get)) {
                                <li><a href="#courseAnnotations" data-toggle="pill">Course</a></li>
                            }
                        </ul>
                    </div>
                    <div class="clearfix"></div>

                    <div class="tab-content">
                        <div class="tab-pane" id="personalAnnotations">

                            <p>Add or edit personal annotations sets.</p>
                            <a class="btn btn-yellow" href="@routes.DocumentManager.editAnnotations(content.id.get)"><i class="icon-file-text"></i> Create a new Annotation Set</a>

                            <table id="personalAnnotationsTable" class="table table-bordered pad-top-high">
                                <thead>
                                <tr>
                                    <th>Track name</th>
                                    <th>Language</th>
                                    <th>Options</th>
                                    <th>Publish</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        @if(course.isDefined && user.canEdit(course.get)) {
                            <div class="tab-pane" id="courseAnnotations">
                                <p>Add or edit course-visible annotations sets.</p>
                                <a class="btn btn-magenta" href="@{routes.DocumentManager.editAnnotations(content.id.get)}?course=@course.get.id.get"><i class="icon-file-text"></i> Create a new Annotation Set</a>

                                <table id="courseAnnotationsTable" class="table table-bordered pad-top-high">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Language</th>
                                        <th>Options</th>
                                        <th>Publish</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        }
                    </div>
                </div>

                <div class="span6">
                    <h4>Publish Annotation Sets</h4>

                    <p>
                        <strong>A note on publishing:</strong> When you press the <em>publish</em> button a request is sent to
                        the content owner. If he or she accepts your annotation set, then you lose ownership of it. So don't
                        request for your annotations to be publish until you are entirely finished editing them.
                    </p>

                    <table id="annotationPublishRequests" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Language</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $('#annotationsModal a[href="#personalAnnotations"]').tab('show');
        });
    </script>
}