@(content: models.Content, resourceLibraryUrl: String, course: Option[Course])(implicit user: User)

<div id="configurationModal" class="modal bigModal hide fade" tabindex="-1" role="dialog" aria-labelledby="configurationModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="configurationModalLabel">Edit Configuration</h3>
    </div>
    <div class="modal-body">

        <div style="position: relative">
            <ul class="nav nav-pills">
                <li><a href="#personalSettings" data-toggle="pill">Personal</a></li>

                @if(course.isDefined && user.canEdit(course.get)) {
                    <li><a href="#courseSettings" data-toggle="pill">Course</a></li>
                }
            </ul>
        </div>
        <div class="clearfix"></div>

        <div class="tab-content">

            <div class="tab-pane" id="personalSettings">
            </div>

            @if(course.isDefined && user.canEdit(course.get)) {
                <div class="tab-pane" id="courseSettings"></div>
            }


        </div>

    </div>
    <div class="modal-footer">
        <div>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {

        $('#configurationModal a[href="#personalSettings"]').tab('show');

        var owner = @content.isEditableBy(user);
        var userId = @user.id.get;
        var courseId = @course.map(_.id.get).getOrElse(0);
        var teacher = @course.exists(c => user.canEdit(course.get));
        ResourceLibrary.load("@content.resourceId", function(resource) {
            new ContentSettings({
                content: content,
                owner: owner,
                userId: userId,
                resource: resource,
                $holder: $("#personalSettings"),
                action: "@routes.ContentEditing.setSettings(content.id.get)",
                method: "post"
            });

            if (teacher) {
                new ContentSettings({
                    content: content,
                    courseId: courseId,
                    resource: resource,
                    $holder: $("#courseSettings"),
                    action: "@{routes.ContentEditing.setCourseSettings(content.id.get, course.map(_.id.get).getOrElse(0))}",
                    method: "post"
                });
            }
        });
    });
</script>