<link rel="stylesheet" href="@routes.Assets.at("stylesheets/content.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/annotations.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("Ayamel.js/css/player.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("TimedText/css/timed-text.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("wysihtml5/lib/css/wysiwyg-color.css")"/>

<script type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>

<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/async.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/Resource.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/swfobject.js")"></script>

<!-- Caption rendering and timed text -->
<script type="text/javascript" src="@routes.Assets.at("TimedText/js/TimedText.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("TimedText/js/CaptionRenderer.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("TimedText/js/TextTrack.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("TimedText/js/TextTrackCue.js")"></script>

<script type="text/javascript" src="@routes.Assets.at("TimedText/js/plugins/WebVTT.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("TimedText/js/plugins/SRT.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("TimedText/js/plugins/TTML.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("TimedText/js/plugins/SSAv4.js")"></script>


<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/Ayamel.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/AnimationHandler.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/AyamelPlayer.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/CaptionsTraversal.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/CaptionTrackLoader.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/ControlBar.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/FullScreenHandler.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/KeyBinder.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/LangCodes.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/MediaPlayer.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/Mobile.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/ProgressBar.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/controls/CaptionsMenu.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/controls/FullScreenButton.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/controls/LastCaptionButton.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/controls/PlayButton.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/controls/RateSlider.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/controls/SliderBar.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/controls/TimeCode.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/controls/VolumeSlider.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/plugins/brightcove.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/plugins/flashVideo.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/plugins/html5Video.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/plugins/html5Audio.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/plugins/youtube.js")"></script>

<!-- Translation Engines -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/Translate.js/TranslationEngine.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/Translate.js/TextTranslator.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/Translate.js/ArcliteTranslationEngine.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/Translate.js/GoogleTranslationEngine.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/Translate.js/WordReferenceTranslationEngine.js")"></script>

<!-- Content rendering -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/BoxDrawingCanvas.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/libraries/sha1.js")"></script>

<script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/ContentCache.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/ContentLayoutManager.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/ContentRenderer.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/ContentThumbnails.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/TranscriptPlayer.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/ImageRenderer.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/QuestionSetRenderer.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/TextRenderer.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/VideoRenderer.js")"></script>

<script type="text/javascript" src="@routes.Assets.at("javascripts/annotating/ImageAnnotation.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/annotating/TextAnnotation.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/annotating/AnnotationManifest.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/annotating/ImageAnnotator.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/annotating/TextAnnotator.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/annotating/AnnotationLoader.js")"></script>