@(content: models.Content, resourceLibraryUrl: String)(implicit user: User)

@if(content isEditableBy user) {

    <div class="btn-group">

        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-pencil"></i> Edit @{content.contentType.name}...
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @if(content.contentType != 'playlist) {
                <li><a tabindex="-1" href="#metadataModal" data-toggle="modal"><i class="icon-edit"></i> Edit Metadata</a></li>
            }
            @if(content.contentType == 'image) {
                <li><a href="@routes.ContentController.editImage(content.id.get)"><i class="icon-picture"></i> Crop/Rotate Image</a></li>
            }
            <li><a tabindex="-1" href="#settingsModal" data-toggle="modal"><i class="icon-cogs"></i> Edit Settings</a></li>
            <li><a tabindex="-1" href="#shareabilityModal" data-toggle="modal"><i class="icon-share"></i> Set Shareability</a></li>
            <li><a tabindex="-1" href="#visibilityModal" data-toggle="modal"><i class="icon-eye-open"></i> Set Visibility</a></li>
        </ul>
    </div>

    @views.html.content.header.metadata(content, resourceLibraryUrl)
    @views.html.content.header.settings(content, resourceLibraryUrl)
    @views.html.content.header.shareability(content)
    @views.html.content.header.visibility(content)

}