@(content: models.Content, resourceLibraryUrl: String)

@isChecked(val1: Any, val2: Any) = {
    @if(val1 == val2) {
        checked
    }
}

<form id="settingsForm" class="form-horizontal" method="post" action="@routes.ContentEditing.setSettings(content.id.get)">
    <input type="hidden" name="contentType" value="image">

    <div class="control-group">
        <label class="control-label" for="annotationDocs">Enabled Annotations</label>
        <div class="controls">
            <select multiple="multiple" name="annotationDocs" id="annotationDocs">
            </select>
        </div>
    </div>
    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
</form>

<script type="text/javascript">
    $(function() {
        var content = @Html(content.toJson.toString());
        var url = "@resourceLibraryUrl/@content.resourceId";

        var annotationDocs = [];
        if (content.settings.enabledAnnotationDocuments) {
            annotationDocs = content.settings.enabledAnnotationDocuments.split(",");
        }

        ResourceLibrary.load(url, function(resource) {

            // Load the annotations
            resource.getAnnotations(function (annotations) {
                var $annotationDocs = $("#annotationDocs");
                annotations.forEach(function(annotationDoc) {
                    var html = '<option value="' + annotationDoc.id + '">' + annotationDoc.title + '</option>';
                    $annotationDocs.append(html);
                });
                $annotationDocs.val(annotationDocs);
            });
        });
    });
</script>