@()
@import play.api.Play
@import play.api.Play.current

@Dependencies(
  Local(
    CSS("stylesheets/content.css"),
    CSS("stylesheets/annotations.css"),
    CSS("wysihtml5/lib/css/wysiwyg-color.css")),
  Extern("Ayamel.js", CSS("css/player.css")),
  Extern("TimedText", CSS("css/timed-text.css")))

@Dependencies(
  JS("http://admin.brightcove.com/js/BrightcoveExperiences.js"),
  Local(
    Rel("javascripts/",
      JS("libraries/sha1.js"),
      JS("BoxDrawingCanvas.js"),

      Rel("contentRendering/",
        JS("ContentCache.js"),
        JS("ContentLayoutManager.js"),
        JS("ContentRenderer.js"),
        JS("ContentThumbnails.js"),
        JS("TranscriptPlayer.js"),
        JS("ImageRenderer.js"),
        JS("QuestionSetRenderer.js"),
        JS("TextRenderer.js"),
        JS("VideoRenderer.js")),

       Rel("polyfills/",
        JS("PolyfillPromise.js")),

      Rel("annotating/",
        JS("ImageAnnotation.js"),
        JS("TextAnnotation.js"),
        JS("AnnotationManifest.js"),
        JS("ImageAnnotator.js"),
        JS("TextAnnotator.js"),
        JS("AnnotationLoader.js")))))

<!-- Caption rendering and timed text -->
@Dependencies(
  Extern("TimedText",
    Rel("js/",
      JS("TimedText.js"),
      JS("CaptionRenderer.js"),
      JS("TextTrack.js"),
      JS("TextTrackCue.js"),
      Rel("plugins/",
        JS("WebVTT.js"),
        JS("SRT.js"),
        JS("TTML.js"),
        JS("SSAv4.js")))),
  Extern("Ayamel.js",
    Rel("js/",
      JS("Resource.js"),
      JS("swfobject.js"),
      JS("Ayamel.js"),
      JS("Text.js"),
      JS("Annotator.js"),
      JS("Translator.js"),
      JS("AnimationHandler.js"),
      JS("AyamelPlayer.js"),
      JS("CaptionsTraversal.js"),
      JS("CaptionTrackLoader.js"),
      JS("ControlBar.js"),
      JS("FullScreenHandler.js"),
      JS("KeyBinder.js"),
      JS("LangCodes.js"),
      JS("MediaPlayer.js"),
      JS("Mobile.js"),
      JS("ProgressBar.js"),
      Rel("controls/",
        JS("CaptionsMenu.js"),
        JS("FullScreenButton.js"),
        JS("LastCaptionButton.js"),
        JS("PlayButton.js"),
        JS("RateSlider.js"),
        JS("SliderBar.js"),
        JS("TimeCode.js"),
        JS("VolumeSlider.js")),
      Rel("plugins/",
        JS("flowplayer/flowplayer-3.2.12.min.js"),
        JS("flashVideo.js"),
        JS("brightcove.js"),
        JS("html5Video.js"),
        JS("html5Audio.js"),
        JS("youtube.js")))))

<script>
	var translationEndpoint = "@{Play.configuration.getString("translation.endpoint").get}";
	var translationKey = "@{Play.configuration.getString("translation.key").get}";
	Ayamel.path = "@{Dependencies.config.getString("Ayamel.js").get}";
</script>