@()
@import play.api.Play
@import play.api.Play.current

@Dependencies(
  Local(
    CSS("stylesheets/content.css"),
    CSS("stylesheets/annotations.css"),
    CSS("wysihtml5/lib/css/wysiwyg-color.css")),
  Extern("Ayamel.js", CSS("css/player.css")),
  Extern("TimedText", CSS("css/timed-text.css")))

@Dependencies(
  Local(
    Rel("javascripts/",
      JS("libraries/sha1.js"),
      JS("BoxDrawingCanvas.js"),
      JS("AhoCorasick.js"),

      Rel("contentRendering/",
        JS("ContentCache.js"),
        JS("ContentLoader.js"),
        JS("ContentThumbnails.js"),
        JS("TranscriptPlayer.js"),
        JS("QuestionSetRenderer.js"),
        JS("ContentRenderer.js")),

       Rel("polyfills/",
        JS("CustomEvent.js"),
        JS("Event.js")),

      Rel("annotating/",
        JS("AnnotationManifest.js")))))

<!-- Caption rendering and timed text -->
@Dependencies(
  Extern("TimedText",
    Rel("js/",
      JS("TimedText.js"),
      JS("CaptionRenderer.js"),
      JS("TextTrack.js"),
      JS("TextTrackCue.js"),
      Rel("plugins/",
        JS("WebVTT.js"),
        JS("SRT.js"),
        JS("STL.js"),
        JS("SUB.js"),
        JS("SBV.js"),
        JS("LRC.js"),
        JS("TTML.js"),
        JS("SSAv4.js")))),
  Extern("Ayamel.js",
    Rel("js/",
      JS("Resource.js"),
      JS("swfobject.js"),
      JS("Ayamel.js"),
      JS("Text.js"),
      JS("annotator.js"),
      JS("Translator.js"),
      JS("AnimationHandler.js"),
      JS("AyamelPlayer.js"),
      JS("CaptionsTraversal.js"),
      JS("CaptionTrackLoader.js"),
      JS("ControlBar.js"),
      JS("FullScreenHandler.js"),
      JS("KeyBinder.js"),
      JS("LangCodes.js"),
      JS("MediaPlayer.js"),
      JS("Sidebar.js"),
      JS("SidebarTab.js"),
      JS("SoundManager.js"),
      JS("Mobile.js"),
      JS("ProgressBar.js"),
      Rel("controls/",
        JS("CaptionsMenu.js"),
        JS("AnnotationsMenu.js"),
        JS("FullScreenButton.js"),
        JS("LastCaptionButton.js"),
        JS("PlayButton.js"),
        JS("RateSlider.js"),
        JS("SliderBar.js"),
        JS("TimeCode.js"),
        JS("VolumeSlider.js")),
      Rel("plugins/",
        JS("flowplayer/flowplayer-3.2.12.min.js"),
        JS("markdown/markdown.min.js"),
        JS("hls/HLSPlayer.min.js"),
        JS("dash/dash.all.js"),
        JS("basicImage.js"),
        JS("html5Audio.js"),
        JS("html5Video.js"),
        JS("flashVideo.js"),
        JS("HLSVideo.js"),
        JS("dashVideo.js"),
        JS("brightcove.js"),
        JS("scola.js"),
        JS("youtube.js"),
        JS("ooyala.js"),
        JS("vimeo.js"),
        JS("transcriptText.js"),
        JS("markdownText.js"),
        JS("plainText.js"),
        JS("timedFallback.js")))))

<script src="@{Play.configuration.getString("translation.library").getOrElse("")}"></script>
<script>
    Ayamel.path = "@{Dependencies.config.getString("Ayamel.js").getOrElse("(function(){ throw \"Missing Ayamel.js Path\";})()")}";
    Ayamel.classes.Translator.endpoint = "@{Play.configuration.getString("translation.endpoint").getOrElse("(function(){ throw \"Missing Translation Endpoint\";})()")}";
    Ayamel.classes.Translator.key = "@{Play.configuration.getString("translation.key").getOrElse("(function(){ throw \"Missing Translation Key\";})()")}";
	var SCOLAEndpoint = "@{routes.Scola.buildUrl()}";
</script>