@(id: String, multiple: Boolean = false, all: Boolean = false, activate: Boolean = false)

@multipleAttr = {
    @if(multiple) {
        multiple="multiple"
    }
}
@text = {
    @if(multiple) {
        Select Languages
    } else {
        Select Language
    }
}

@if(true) {
    <select type="superselect" data-icon="icon-globe" data-text="@text" name="@id" id="@id" @multipleAttr ></select>
    <script type="text/javascript">
        var $select = $("#@id");
        @if(all) {

            if (!window.langsLong) {
                window.langsLong = [];
                Object.keys(Ayamel.utils.langCodes).forEach(function (key) {
                    window.langsLong.push({
                        name: Ayamel.utils.langCodes[key].name,
                        code: key
                    });
                });
                window.langsLong.sort(function (a,b) {
                    return a.name.localeCompare(b.name);
                });
            }

            window.langsLong.forEach(function(lang) {
                $select.append("<option value='" + lang.code + "'>" + lang.name + "</option>");
            });
        } else {
            if (!window.langsShort) {
                window.langsShort = [];
                Object.keys(Ayamel.utils.p1map).forEach(function (key) {
                    var code = Ayamel.utils.p1map[key];
                    window.langsShort.push({
                        name: Ayamel.utils.getLangName(code),
                        code: code
                    });
                });
                window.langsShort.sort(function (a,b) {
                    return a.name.localeCompare(b.name);
                });
            }

            window.langsShort.forEach(function(lang) {
                $select.append("<option value='" + lang.code + "'>" + lang.name + "</option>");
            });
        }

        @if(activate) {
            $select.superselect();
        }
    </script>
}