@(content: models.Content, course: Course)(implicit user: User, request: RequestHeader)

@import play.api.Play
@import play.api.Play.current

@defining(Play.configuration.getBoolean("HTTPS").getOrElse(false)) { isHTTPS =>
    <div id="lmsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="lmsModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h3 id="lmsModalLabel">How to add this content to an LMS.</h3>
        </div>
        <div class="modal-body">
            <p>
                You can only add this content via LTI. You need three things to set it up: a launch url, a consumer key,
                and a consumer secret. The last two items are sometimes referred to as the public and private keys. For
                this content, these items are the following:
            </p>
            <ul>
                <li><strong>Launch URL:</strong> <code>@routes.CourseContent.viewLms(content.id.get, course.id.get).absoluteURL(isHTTPS)</code></li>
                <li><strong>Consumer Key:</strong> <code>@course.id.get</code></li>
                <li><strong>Consumer Secret:</strong> <code>@course.lmsKey</code></li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-blue" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
}