@(content: models.Content, resourceLibraryUrl: String)(implicit user: User)

@background = @{
    if (content.thumbnail.isEmpty) {
        ""
    } else {
        "background-image: url(" + content.thumbnail + "); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat no-repeat;"
    }
}

@isChecked(val1: Any, val2: Any) = {
    @if(val1 == val2) {
        checked
    }
}

@if(true) {

    @*
    * ==========================================================================================================
    *                                            Settings Modal
    * ==========================================================================================================
    *@

    <div id="settingsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="settingsModalLabel">Edit Settings</h3>
        </div>
        <div class="modal-body">

            @if(content.contentType == 'video) {
                @views.html.content.header.videoSettings(content, resourceLibraryUrl)
            }
            @if(content.contentType == 'audio) {
                @views.html.content.header.audioSettings(content, resourceLibraryUrl)
            }
            @if(content.contentType == 'image) {
                @views.html.content.header.imageSettings(content, resourceLibraryUrl)
            }
            @if(content.contentType == 'text) {
                @views.html.content.header.textSettings(content, resourceLibraryUrl)
            }
            @if(content.contentType == 'playlist) {
                <em>There are no settings defined for this content type.</em>
            }
            @if(content.contentType == 'activity) {
                <em>There are no settings defined for this content type.</em>
            }
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-blue" id="saveSettings">Save</button>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {

            $("#saveSettings").click(function() {
                $("#settingsForm").submit();
            });
        });
    </script>






    @*
    * ==========================================================================================================
    *                                        Edit Metadata Modal
    * ==========================================================================================================
    *@

    <div id="metadataModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="metadataModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="metadataModalLabel">Edit Metadata</h3>
        </div>
        <div class="modal-body">
            <form id="metadataForm" class="form-horizontal" method="post" action="@routes.ContentEditing.setMetadata(content.id.get)">
                <div class="control-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" id="title" name="title" placeholder="Title">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" id="description" name="description" placeholder="Description">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="keywords">Keywords</label>
                    <div class="controls">
                        <input type="text" id="keywords" name="keywords" placeholder="Keywords">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="categories">Categories</label>
                    <div class="controls">
                        <select multiple="multiple" id="categories" name="categories">
                            <option value="Arts">Arts</option>
                            <option value="Culture">Culture</option>
                            <option value="Economy">Economy</option>
                            <option value="Education">Education</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Food">Food</option>
                            <option value="Geography">Geography</option>
                            <option value="Health/beauty">Health/beauty</option>
                            <option value="Hobbies">Hobbies</option>
                            <option value="Home/garden">Home/garden</option>
                            <option value="News">News</option>
                            <option value="Occupation">Occupation</option>
                            <option value="Opinion">Opinion</option>
                            <option value="Politics">Politics</option>
                            <option value="Social">Social</option>
                            <option value="Sports">Sports</option>
                            <option value="Technology">Technology</option>
                            <option value="Weather">Weather</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="labels">Labels</label>
                    <div class="controls">
                        <input type="labels" id="labels" name="labels" value="@content.labels.mkString(",")">
                    </div>
                </div>
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="saveMetadata" class="btn btn-blue">Save</button>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {

            $("#saveMetadata").click(function() {
                $("#metadataForm").submit();
            });

            // Load metadata
            ResourceLibrary.load("@content.resourceId", function(resource) {
                $("#title").val(resource.title);
                $("#description").val(resource.description);
                $("#keywords").val(resource.keywords);
                $("#categories").val(resource.categories);
            });
        });
    </script>






    @*
    * ==========================================================================================================
    *                                            Thumbnail Modal
    * ==========================================================================================================
    *@

    <div id="thumbnailModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="thumbnailModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="thumbnailModalLabel">Set Thumbnail</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span4">
                    <div class="contentItem iconFormat">
                        <div class="contentBadge @content.contentType.name" style="@background"></div>
                    </div>
                </div>
                <div class="span8">
                    <form id="thumbnailForm" method="post" action="@routes.ContentEditing.changeThumbnail(content.id.get)" enctype="multipart/form-data">

                        <p>You can update the thumbnail for this content by either uploading a new image or specifying a URL.</p>

                        <div class="pad-top-high">
                            <p>Upload image:</p>
                            <input type="file" name="file"/>
                        </div>
                        <div class="pad-top-high">
                            <p>Load from URL:</p>
                            <input type="text" name="url"/>
                        </div>

                        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                    </form>

                    @if(content.contentType == 'video) {
                        <hr>
                        <p>
                            Alternately, you may use the current location of the video as the thumbnail. To do so, just
                            press the following button.
                        </p>
                        <button id="makeThumbnail" class="btn btn-yellow"><i class="icon-film"></i> Make thumbnail</button>
                        <p><em>
                            Note: The further you are into the video the longer it will take to make the thumbnail, so
                            please select a frame within the first five minutes.
                        </em></p>
                    }
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-blue" id="saveThumbnail">Save</button>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $("#saveThumbnail").click(function() {
                $("#thumbnailForm").submit();
            });

            $("#makeThumbnail").click(function() {
                // Get the time
                var limit = 300;
                var time = Math.floor(ayamelPlayer.currentTime * 100) / 100;
                if (time <= limit)
                    window.location = "/content/@content.id.get/makeThumb/" + time;
                else
                    alert("Please select a time within the first five minutes.")
            });
        });
    </script>





    @*
    * ==========================================================================================================
    *                                         Shareability Modal
    * ==========================================================================================================
    *@

    <div id="shareabilityModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="shareabilityModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="shareabilityModalLabel">Set Shareability</h3>
        </div>
        <div class="modal-body">
            <p>Set the shareability of @content.name. </p>
            <form id="shareabilityForm" method="post" action="@routes.ContentEditing.setShareability(content.id.get)">
                <label class="radio">
                    <input type="radio" name="shareability" value="@Content.shareability.notShareable" @isChecked(content.shareability, Content.shareability.notShareable)>
                    Not sharable
                </label>
                <label class="radio">
                    <input type="radio" name="shareability" value="@Content.shareability.byMeOnly" @isChecked(content.shareability, Content.shareability.byMeOnly)>
                    Sharable by me only.
                </label>
                <label class="radio">
                    <input type="radio" name="shareability" value="@Content.shareability.shareable" @isChecked(content.shareability, Content.shareability.shareable)>
                    Sharable by anybody who can see this.
                </label>
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-blue" id="saveShareability">Save</button>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $("#saveShareability").click(function() {
                $("#shareabilityForm").submit();
            });
        });
    </script>






    @*
    * ==========================================================================================================
    *                                            Visibility Modal
    * ==========================================================================================================
    *@

    <div id="visibilityModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="visibilityModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="visibilityModalLabel">Set Visibility</h3>
        </div>
        <div class="modal-body">
            <p>
                Set the visibility of @content.name. Please be aware that even private content can be seen if
                shared.
            </p>
            <form id="visibilityForm" method="post" action="@routes.ContentEditing.setVisibility(content.id.get)">
                <label class="radio">
                    <input type="radio" name="visibility" value="@Content.visibility._private" @isChecked(content.visibility, Content.visibility._private)>
                    Private (Only I can see this).
                </label>
                <label class="radio">
                    <input type="radio" name="visibility" value="@Content.visibility.tightlyRestricted" @isChecked(content.visibility, Content.visibility.tightlyRestricted)>
                    Tightly Restricted (Me and courses I add this to can see this).
                </label>
                <label class="radio">
                    <input type="radio" name="visibility" value="@Content.visibility.looselyRestricted" @isChecked(content.visibility, Content.visibility.looselyRestricted)>
                    Loosely Restricted (Me, teachers, and courses we add this to can see this).
                </label>
                <label class="radio">
                    <input type="radio" name="visibility" value="@Content.visibility.public" @isChecked(content.visibility, Content.visibility.public)>
                    Public (Everybody can see this).
                </label>
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-blue" id="saveVisibility">Save</button>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $("#saveVisibility").click(function() {
                $("#visibilityForm").submit();
            });
        });
    </script>





    @*
     * ==========================================================================================================
     *                                              Delete Modal
     * ==========================================================================================================
     *@

    <div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="deleteModalLabel">Delete Content</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete @content.name?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
            <button id="deleteContentButton" class="btn btn-magenta">Yes</button>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $("#deleteContentButton").click(function() {
                window.location = "@routes.ContentController.delete(content.id.get)";
            });
        });
    </script>
}