@(content: models.Content, resourceLibraryUrl: String, user: User)
@import scala.reflect.runtime.universe._

@background = @{
    if (content.thumbnail.isEmpty) {
        ""
    } else {
        "background-image: url(" + content.thumbnail + "); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat no-repeat;"
    }
}

@isChecked(val1: Any, val2: Any) = {
    @if(val1 == val2) {
        checked
    }
}

@if(true) {


    @*
    * ==========================================================================================================
    *                                        Edit Metadata Modal
    * ==========================================================================================================
    *@

    <div id="metadataModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="metadataModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="metadataModalLabel">Edit Metadata</h3>
        </div>
        <div class="modal-body">
            <form id="metadataForm" class="form-horizontal" method="post" action="@routes.ContentEditing.setMetadata(content.id.get)">
                <div class="control-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" id="title" name="title" placeholder="Title">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea class="form-control" rows="3" id="description" name="description" placeholder="Description" maxlength="5000"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="languages">Languages</label>
                    <div class="controls" id="langLocation"></div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="categories">Categories</label>
                    <div class="controls">
                        <select multiple="multiple" id="categories" name="categories">
                            <option value="Arts">Arts</option>
                            <option value="Culture">Culture</option>
                            <option value="Economy">Economy</option>
                            <option value="Education">Education</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Food">Food</option>
                            <option value="Geography">Geography</option>
                            <option value="Health/beauty">Health/beauty</option>
                            <option value="Hobbies">Hobbies</option>
                            <option value="Home/garden">Home/garden</option>
                            <option value="News">News</option>
                            <option value="Occupation">Occupation</option>
                            <option value="Opinion">Opinion</option>
                            <option value="Politics">Politics</option>
                            <option value="Social">Social</option>
                            <option value="Sports">Sports</option>
                            <option value="Technology">Technology</option>
                            <option value="Weather">Weather</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="keywords">Keywords</label>
                    <div class="controls">
                        <input type="labels" id="keywords" name="keywords">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="labels">Labels</label>
                    <div class="controls">
                        <input type="labels" id="labels" name="labels">
                    </div>
                </div>
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="saveMetadata" class="btn btn-blue">Save</button>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {

            document.getElementById("saveMetadata").addEventListener('click', function(){
                $("#metadataForm").submit();
            }, false);

            // Load metadata when the modal opens for the first time
            var languagesLoaded = false;
            $("#metadataModal").on("show", function() {
                var langList = Object.keys(Ayamel.utils.p1map).map(function (p1) {
                        var code = Ayamel.utils.p1map[p1],
                            engname = Ayamel.utils.getLangName(code,"eng"),
                            localname = Ayamel.utils.getLangName(code,code);
                        return {value: code, text: engname, desc: localname!==engname?localname:void 0};
                    });

                langList.push({ value: "apc", text: "North Levantine Arabic"});
                langList.push({ value: "arz", text: "Egyptian Arabic"});
                langList = langList.sort(function(a,b){ return a.text.localeCompare(b.text); });

                if (!languagesLoaded) {
                    ResourceLibrary.load("@content.resourceId", function(resource) {
                        document.getElementById("title").value = resource.title;
                        document.getElementById("description").value = resource.description;

                        var labelsEl = document.getElementById("labels");
                        var labelsList = @Html(content.labels.mkString("[\"", "\",\"", "\"]"));
                        labelsList.forEach(function(label){
                            labelsEl.addLabel(label);
                        });
                        var keywordsEl = document.getElementById("keywords");
                        resource.keywords.split(",").forEach(function(keyword) {
                            keywordsEl.addLabel(keyword);
                        });

                        new EditorWidgets.SuperSelect({
                            el: "langLocation",
                            id: 'languages',
                            value: [],
                            icon: 'icon-globe',
                            text: 'Select Language',
                            button: 'left',
                            modal: "metadataModal",
                            multiple: true,
                            options: langList,
                            defaultValue: {value:"zxx",text:"No Linguistic Content"}
                        });
                    });
                    languagesLoaded = true;
                }
            });
        });
    </script>


    @*
    * ==========================================================================================================
    *                                            Thumbnail Modal
    * ==========================================================================================================
    *@

    <div id="thumbnailModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="thumbnailModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h3 id="thumbnailModalLabel">Set Thumbnail</h3>
        </div>
        <div class="modal-body" id="thumbnailBody">
            <div class="row-fluid">
                <div class="span4">
                    <div class="contentItem iconFormat">
                        <div class="contentBadge @content.contentType.name" style="@background"></div>
                    </div>
                </div>
                <div class="span8">
                    <form id="thumbnailForm" method="post" action="@routes.ContentEditing.changeThumbnail(content.id.get)" enctype="multipart/form-data">

                        <p>You can update the thumbnail for this content by either uploading a new image or specifying a URL.</p>

                        <div class="pad-top-high">
                            <p>Upload image:</p>
                            <input type="file" name="file"/>
                        </div>
                        <div class="pad-top-high">
                            <p>Load from URL:</p>
                            <input type="text" name="url"/>
                        </div>

                        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                    </form>

                    @if(content.contentType == 'video) {
                        <hr>
                        <p>
                            Alternately, you may use the current location of the video as the thumbnail. To do so, just
                            press the following button.
                        </p>
                        <button id="makeThumbnail" class="btn btn-yellow"><i class="icon-film"></i> Make thumbnail</button>
                    }
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-blue" id="saveThumbnail">Save</button>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            document.getElementById("saveThumbnail").addEventListener('click', function(){
                $("#thumbnailForm").submit();
            }, false);
            @if(content.contentType == 'video) {
            // Get the time from the player - currently, there is no way to directly access
            // the videoPlayer to grab the actual currentTime, so send an event to the
            // videoPlayer object itself to grab the video time
            document.getElementById("makeThumbnail").addEventListener('click', function(){
                // Get the time
                document.dispatchEvent(new CustomEvent('makeThumbnail',{bubbles:true, cancelable:true}));
            }, false);

            // Recieved the current time from the videoPlayer, now create the thumbnail based off of the current time
            document.getElementById("makeThumbnail").addEventListener('timeUpdate', function(e){
                // Get the time
                var time = Math.floor(e.detail.currentTime * 100) / 100,
                    xhr = new XMLHttpRequest();

                xhr.addEventListener('load',function(){
                    document.open();
                    document.write(xhr.responseText);
                    document.close();
                },false);
                xhr.addEventListener('error',function(){ alert("Error creating thumbnail"); },false);

                xhr.open("POST", "/content/@content.id.get/makeThumb/" + time);
                xhr.send();
            }, false);
            }
        });
    </script>


    @*
     * ==========================================================================================================
     *                                              Delete Modal
     * ==========================================================================================================
     *@

    <div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="deleteModalLabel">Delete Content</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete @content.name?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
            <form method="POST" action="@routes.ContentController.delete(content.id.get)">
                <button id="deleteContentButton" class="btn btn-magenta">Yes</button>
            </form>
        </div>
    </div>






    @*
     * ==========================================================================================================
     *                                          Change source Modal
     * ==========================================================================================================
     *@

    <div id="changeSourceModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="changeSourceModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="changeSourceModalLabel">Change Media Source</h3>
        </div>
        <div class="modal-body">
            <p>Please enter the new URL of the media:</p>

            <form class="form-horizontal" method="post" action="@routes.ContentEditing.setMediaSource(content.id.get)">
                <div class="control-group">
                    <label class="control-label" for="sourceUrl">URL</label>
                    <div class="controls">
                        <input type="text" id="sourceUrl" name="url" placeholder="URL">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-blue" value="Save">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
    </div>
}
