@(content: models.Content)(implicit request: RequestHeader, user: User)

@if(content isShareableBy user) {
    <a href="#shareModal" role="button" data-toggle="modal" class="btn btn-yellow"><i class="icon-share-alt"></i> Share</a>

    <div id="shareModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="shareModalLabel">Share</h3>
        </div>
        <div class="modal-body">
            <h4>Social Sharing</h4>
            <div>

                <!-- Place this tag where you want the share button to render. -->
                <div class="g-plus" data-action="share" data-annotation="bubble" data-height="24" data-href="@routes.ContentController.shareAccess(content.id.get, content.authKey).absoluteURL()"></div>

                <!-- Place this tag after the last share tag. -->
                <script type="text/javascript">
                  (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
                </script>

                <div>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="@routes.ContentController.shareAccess(content.id.get, content.authKey).absoluteURL()" data-size="large" data-hashtags="ayamel">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>

                @if(content.contentType == 'image) {
                    @defining(java.net.URLEncoder.encode(routes.ContentController.shareAccess(content.id.get, content.authKey).absoluteURL(), "UTF-8")) { encodedUrl =>
                        @defining(java.net.URLEncoder.encode(content.thumbnail, "UTF-8")) { encodedMedia =>
                            @defining(java.net.URLEncoder.encode(content.name, "UTF-8")) { encodedTitle =>
                                <a data-pin-config="beside" href="//pinterest.com/pin/create/button/?url=@{encodedUrl}&media=@{encodedMedia}&description=@{encodedTitle}" data-pin-do="buttonPin" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
                            }
                        }
                    }
                }
                <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
            </div>

            <h4>Embed Code</h4>
            @if(content.contentType == 'audio) {
                <pre>&lt;iframe src="@{routes.ContentController.shareAccess(content.id.get, content.authKey).absoluteURL()}?embed=true" style="border: none; height: 130px; width: 440px;"&gt;&lt;/iframe&gt;</pre>
            }
            @if(content.contentType == 'video) {
                <pre>&lt;iframe src="@{routes.ContentController.shareAccess(content.id.get, content.authKey).absoluteURL()}?embed=true" style="border: none; height: 422px; width: 800px;"&gt;&lt;/iframe&gt;</pre>
            }
            @if(content.contentType != 'video && content.contentType != 'audio) {
                <pre>&lt;iframe src="@{routes.ContentController.shareAccess(content.id.get, content.authKey).absoluteURL()}?embed=true" style="border: none; height: 600px; width: 800px;"&gt;&lt;/iframe&gt;</pre>
            }

            <h4>URL</h4>
            <code>@routes.ContentController.shareAccess(content.id.get, content.authKey).absoluteURL()</code>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

}
