@import play.api.Play
@import play.api.Play.current
@(content: models.Content, user: User)(implicit request: RequestHeader)

@embedSize = @{
    Map(
        "generic" -> "height: 600px; width: 800px;",
        "video1" -> "height: 515px; width: 800px;",
        "video2" -> "height: 515px; width: 840px;",
        "audio1" -> "height: 130px; width: 520px;",
        "audio2" -> "height: 200px; width: 840px;"
    )
}
@defining(Play.configuration.getBoolean("HTTPS").getOrElse(false)) { isHTTPS =>
    <div id="shareModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="shareModalLabel">Share</h3>
        </div>
        <div class="modal-body">
            <!-- Removed Social Editor -->
            <!-- <h4>Social Sharing</h4>
            <div>

                <!** Place this tag where you want the share button to render. **>
                <div id="googlePlusShare" class="g-plus" data-action="share" data-annotation="bubble" data-height="24" data-href="@routes.ContentController.shareAccess(content.id.get, content.authKey).absoluteURL(isHTTPS)"></div>

                <div>
                    <a id="twitterShare" href="https://twitter.com/share" class="twitter-share-button" data-url="@routes.ContentController.shareAccess(content.id.get, content.authKey).absoluteURL(isHTTPS)" data-size="large" data-hashtags="ayamel">Tweet</a>
                </div>

                @if(content.contentType == 'image) {
                    @defining(java.net.URLEncoder.encode(routes.ContentController.shareAccess(content.id.get, content.authKey).absoluteURL(isHTTPS), "UTF-8")) { encodedUrl =>
                        @defining(java.net.URLEncoder.encode(content.thumbnail, "UTF-8")) { encodedMedia =>
                            @defining(java.net.URLEncoder.encode(content.name, "UTF-8")) { encodedTitle =>
                                <a id="pinterestShare" data-pin-config="beside" href="//pinterest.com/pin/create/button/?url=@{encodedUrl}&media=@{encodedMedia}&description=@{encodedTitle}" data-pin-do="buttonPin" ><img /></a>
                            }
                        }
                    }
                }

            </div>
 -->
            <h4>Embed Code</h4>
            <pre>&lt;iframe src="@{routes.ContentController.shareAccess(content.id.get, content.authKey).absoluteURL(isHTTPS)}?embed=true" style="border: none; @embedSize(content.embedClass)"&gt;&lt;/iframe&gt;</pre>

            <h4>URL</h4>
            <code>@routes.ContentController.shareAccess(content.id.get, content.authKey).absoluteURL(isHTTPS)</code>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {

            // Load the social stuff only when the modal opens for the first time
            var socialLoaded = false;

            function addGooglePlus() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                $("#googlePlusShare").after(po);
            }

            function addTwitter() {
                var js = document.createElement("script");
                js.id = "twitter-wjs";
                js.src = "//platform.twitter.com/widgets.js";
                $("#twitterShare").after(js);
            }

            function addPinterest() {
                var $pinterest = $("#pinterestShare");

                if ($pinterest.length) {
                    $pinterest.children("img")[0].src = "//assets.pinterest.com/images/pidgets/pin_it_button.png";

                    var js = document.createElement("script");
                    js.type = "text/javascript";
                    js.src = "//assets.pinterest.com/js/pinit.js";
                    $pinterest.after(js)
                }
            }

            $("#shareModal").on("show", function() {
                socialLoaded = true;

                addGooglePlus();
                addTwitter();
                addPinterest()
            });
        });
    </script>
}
