@(content: models.Content)(implicit user: User)

@background = @{
    if (content.thumbnail.isEmpty) {
        ""
    } else {
        "background-image: url(" + content.thumbnail + "); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat no-repeat;"
    }
}

@if(content isEditableBy user) {

    <div id="thumbnailModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="thumbnailModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="thumbnailModalLabel">Set Thumbnail</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span4">
                    <div class="contentItem iconFormat">
                        <div class="contentBadge @content.contentType.name" style="@background"></div>
                    </div>
                </div>
                <div class="span8">
                    <form id="thumbnailForm" method="post" action="@routes.ContentController.changeThumbnail(content.id.get)" enctype="multipart/form-data">

                        <p>You can update the thumbnail for this content by either uploading a new image or specifying a URL.</p>

                        <div class="pad-top-high">
                            <p>Upload image:</p>
                            <input type="file" name="file"/>
                        </div>
                        <div class="pad-top-high">
                            <p>Load from URL:</p>
                            <input type="text" name="url"/>
                        </div>

                        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-blue" id="saveThumbnail">Save</button>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $("#saveThumbnail").click(function() {
                $("#thumbnailForm").submit();
            });
        });
    </script>
}