@(id: Long)(implicit request: RequestHeader, user: User)

@main("Select Viewing Mode") {

    <div class="container">

        @views.html.application.navbar("watch")

        <h1>Select Viewing Mode</h1>

        <div class="container">
            <div class="row">
                <div class="span4">
                    <h2>Level 1</h2>
                    <h2><small>Video</small></h2>
                    <a href="@routes.Pages.level1(id)"><img src="@routes.Assets.at("images/levels/level1.jpg")" /></a>
                </div>
                <div class="span4">
                    <h2>Level 2</h2>
                    <h2><small>Video &amp; Subtitles</small></h2>
                    <a href="@routes.Pages.level2(id)"><img src="@routes.Assets.at("images/levels/level2.jpg")" /></a>
                </div>
                <div class="span4">
                    <h2>Level 3</h2>
                    <h2><small>Video, Subtitles, &amp; Interactions </small></h2>
                    <a href="@routes.Pages.level3(id)"><img src="@routes.Assets.at("images/levels/level3.jpg")" /></a>
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    <h2>Level 4</h2>
                    <h2><small>Level 3 + Annotations</small></h2>
                    <a href="@routes.Pages.level4(id)"><img src="@routes.Assets.at("images/levels/level4.jpg")" /></a>
                </div>
                <div class="span4">
                    <h2>Level 5</h2>
                    <h2><small>Level 4 + Automated Exercises</small></h2>
                    <a href="@routes.Pages.level5(id)"><img src="@routes.Assets.at("images/levels/level5.jpg")" /></a>
                </div>
                <div class="span4">
                    <h2>Level 6</h2>
                    <h2><small>Level 5 in a pedagogical activity.</small></h2>
                    <a href="@routes.Pages.level6(id)"><img src="@routes.Assets.at("images/levels/level6.jpg")" /></a>
                </div>
            </div>
        </div>
    </div>

}