@(video: String)(implicit request: RequestHeader, user: User)

@main("Ayamel Examples - Level 2") {

    @*<!-- Include the Ayamel css files -->*@
    @*<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/controlBar2.css")">*@
    @*<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/stage.css")">*@

    @*<!-- Resource Library Scripts -->*@
    @*<script src="@routes.Assets.at("javascripts/resources.js")" type="text/javascript"></script>*@

    @*<!-- Ayamel scripts -->*@
    @*<script src="@routes.Assets.at("javascripts/Ayamel.js/Ayamel.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/Ayamel.js/h5Clip.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/Ayamel.js/MediaController.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/Ayamel.js/ControlBar.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/Ayamel.js/ControlBarComponents.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/Ayamel.js/ProgressBar.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/Ayamel.js/TimedMedia.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/Ayamel.js/UniformAspectRatio.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/Ayamel.js/video.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/Ayamel.js/VideoPlayer.js")" type="text/javascript"></script>*@

    @*<!-- Caption Renderer script -->*@
    @*<script src="@routes.Assets.at("javascripts/Caption-Renderer/caption-renderer.js")" type="text/javascript"></script>*@

    @*<!-- Timed Text scripts -->*@
    @*<script src="@routes.Assets.at("javascripts/TimedText/TimedText.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/TimedText/TextTrack.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/TimedText/TextTrackCue.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/TimedText/WebVTT.js")" type="text/javascript"></script>*@

    @*<!-- View specific script -->*@
    @*<script src="@routes.Assets.at("javascripts/mustache.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/level2.js")" type="text/javascript"></script>*@

    @*<div class="container">*@

        @*<!-- Navigation bar -->*@
        @*@views.html.application.navbar("watch")*@

        @*<!-- The video description -->*@
        @*<h1>@video .name</h1>*@
        @*<h1><small>Level 2</small></h1>*@

        @*<!-- Create the stage for the player and caption renderer -->*@
        @*<div id="stage" class="aspect_container">*@
            @*<div id="player"></div>*@
            @*<div id="captions" style="position: absolute; top: 0; left: 0;"></div>*@
        @*</div>*@

        @*<!-- Include the video as JSON -->*@
        @*<script type="text/javascript">*@
            @*var video = @Html(video.toString());*@
        @*</script>*@

    @*</div>*@

}
