@(wordList: List[WordListEntry])(implicit request: RequestHeader, user: User)

@main("Ayamel - My Word List", Some(user)) {

    @views.html.content.header.includes()

    <div class="padded">
        <h1>My Word List</h1>

        @if(wordList.isEmpty) {
            <em>You have no words saved.</em>
        } else {
            @for(group <- wordList.groupBy(x=> (x.srcLang, x.destLang))) {
                @if(group._1._1 != group._1._2){
                    <h2><span class="language">@group._1._1</span> To <span class="language">@group._1._2</span></h2>
                } else {
                    <h2><span class="language">@group._1._1</span> Words</h2>
                }
                <div>
                    <button class="btn selectAllButton" data-src-lang="@group._1._1" data-dest-lang="@group._1._2"><i class="icon-check"></i> Select all</button>
                    <button class="btn btn-blue exportButton" data-src-lang="@group._1._1" data-dest-lang="@group._1._2"><i class="icon-cloud-upload"></i> Export Selected to Quizlet</button>
                </div>

                <div class="inline-block pad-top-med">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Export</th>
                            <th>Word</th>
                            <th>Translation</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        @for(word <- group._2) {
                            <tr>
                                <td>
                                    <input type="checkbox" class="exportCheckbox" data-src-lang="@group._1._1" data-dest-lang="@group._1._2" data-text="@word.word"/>
                                </td>
                                <td>@word.word</td>
                                <td>
                                    <button class="btn translateButton" data-text="@word.word" data-src-lang="@word.srcLang" data-dest-lang="@word.destLang"><i class="icon-exchange"></i> Translate</button>
                                </td>
                                <td>
                                    <form action="@routes.WordLists.deleteWord(word.id.get)" method="POST">
                                        <button class="btn btn-magenta"><i class="icon-trash"></i> Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
        }
    </div>

    <script type="text/javascript">
        $(function() {
            $(".language").each(function() {
                var langCode = this.textContent;
                this.textContent = Ayamel.utils.getLangName(langCode);
            });

            // Create the translator
            var translator = new Ayamel.classes.Translator();

            // Set up a caching layer
            var translationCache = {};
            function translate(srcLang, destLang, text, callback) {
                // Make sure a cache for the language exists
                if (translationCache[srcLang]){
                    if (!translationCache[srcLang][destLang]){
                        translationCache[srcLang][destLang] = {};
                    }
                } else {
                    translationCache[srcLang] = {};
                    translationCache[srcLang][destLang] = {};
                }

                // Check to see if we have already translated the text. If so pass that in to the callback.
                // Otherwise invoke the translator
                if (translationCache[srcLang][destLang][text])
                    callback(translationCache[srcLang][destLang][text]);
                else {
                    translator.translate({srcLang: srcLang, destLang:destLang, text: text}).then(function(results) {
                        translationCache[srcLang][destLang][text] = results;
                        callback(results);
                    });
                }
            }

            $(".translateButton").click(function() {
                var _this = this;
                if (this.classList.contains("disabled"))
                    return;
                this.classList.add("disabled");

                var text = this.dataset.text;
                var srcLang = /*Ayamel.utils.downgradeLangCode*/(this.dataset.srcLang);
                var destLang = /*Ayamel.utils.downgradeLangCode*/(this.dataset.destLang);

                translate(srcLang, destLang, text, function(results) {
                    var html =
                        '<div class="translationResult noBorder">' +
                            '<div class="translations">' + YLex.renderResult(results) + '</div>' +
                            '<div class="engine">' + results.engine + '</div>' +
                        '</div>';
                    $(_this).after(html).remove();
                });
            });

            $(".selectAllButton").click(function() {
                var srcLang = this.dataset.srcLang;
                var destLang = this.dataset.destLang;
                $(".exportCheckbox[data-src-lang="+srcLang+"][data-dest-lang="+destLang+"]").prop("checked", true);
            });

            // Exporting
            $(".exportButton").click(function() {
                var $button = $(this);

                // Collect information
                var srcLang = this.dataset.srcLang;
                var destLang = this.dataset.destLang;
                var srcLangName = Ayamel.utils.getLangName(srcLang);
                var destLangName = Ayamel.utils.getLangName(destLang)
                var title = ((srcLang === destLang)?srcLangName:srcLangName+"-"+destLangName) + " words from Ayamel";
                var words = $(".exportCheckbox:checked[data-src-lang="+this.dataset.srcLang+"][data-dest-lang="+this.dataset.destLang+"]").toArray().map(function (e) {
                    return e.dataset.text;
                });

                var translations = [];
                var authCode = "";

                // Check that we have words to export
                if (!words.length){
                    return;
                } else if (words.length === 1){
                    // This is part of the Quizlet API, not us
                    alert("You must select two or more words to export a set to Quizlet.");
                    return;
                }

                function exportWords() {
                    // Make sure both async actions are finished
                    if (authCode && translations.length) {
                        $.get("https://quizlet.com/api/2.0/docs/languages.json?whitespace=0", function(data) {
                            var quizletCodes = Object.keys(data),
                                src = Ayamel.utils.downgradeLangCode(srcLang),
                                dest = Ayamel.utils.downgradeLangCode(destLang);

                            if (~quizletCodes.indexOf(src)) {
                                // special cases
                                var chinese_codes = [
                                    "cdo", // min dong chinese
                                    "cjy", // Jinyu Chinese
                                    "cmn", // Mandarin Chinese
                                    "cpi", // Chinese Pidgin English
                                    "cpx", // Pu-Xian Chinese
                                    "csl", // Chinese Sign Language
                                    "czh", // Huizhou Chinese
                                    "czo", // Min Zhong Chinese
                                    "gan", // Gan Chinese
                                    "hak", // Hakka Chinese
                                    "hsn", // Xiang Chinese
                                    "ltc", // Late Middle Chinese
                                    "lzh", // Literary Chinese
                                    "mnp", // Min Bei Chinese
                                    "nan", // Min Nan Chinese
                                    "och", // Old Chinese,
                                    "wuu", // Wuu Chinese
                                    "yue", // Yue Chinese
                                    "zho", // Chinese
                                    "chi" // Chinese
                                ];
                                // quizlet's chinese codes are the following:
                                // zh-TW : traditional chinese
                                // zh-CN : simplified chinese
                                // zh-pi : pinyin
                                // so we default to traditional because with ISO_639_3 there is no way to differentiate between the 3
                                // if the code is not found in the quizlet list or the chinese codes, then we default to quizlet's 'other' lang code : '??'
                                src = !~chinese_codes.indexOf(srcLang) ? "zh-TW" : "??";
                                dest = !~chinese_codes.indecOf(destLang) ? "zh-TW" : "??";
                            }
                            createSet(src,dest);
                        });
                    }
                }

                // lang_terms and lang_definitions are codes specified by //quizlet.com/api/2.0/docs/languages.json?whitespace=0
                function createSet(lang_terms,lang_definitions) {
                    var data = new FormData();
                    data.append("token", authCode);
                    data.append("title", title);
                    // ?? is quizlet's code for unspecified or not supported language
                    data.append("lang_terms", lang_terms||"??");
                    data.append("lang_definitions", lang_definitions||"??");
                    for (var i=0; i<words.length; i++) {
                        data.append("terms[]", words[i]);
                        data.append("definitions[]", JSON.stringify(translations[i]));
                    }
                    $.ajax("/words/export", {
                        type: "post",
                        data: data,
                        processData: false,
                        contentType: false,
                        dataType: "text",
                        success: function(url){
                            $button.after(
                                '<div class="alert alert-success pad-top-med">\
                                    <button class="close" data-dismiss="alert">&times;</button>\
                                    Quizlet set created.\
                                    <a href="https://quizlet.com'+url+'" target="_blank">View it now</a>.\
                                </div>'
                            );
                        },
                        error: function(data){ console.log(data); }
                    });
                }

                // Get Quizlet auth code through a popup window
                var strWindowFeatures = "menubar=no,location=no,resizable=yes,scrollbars=yes,status=yes,width=600";
                var popupWindow = window.open("/words/auth", "ayamelQuizletAuth", strWindowFeatures);
                window.quizletAccessDenied = function() {
                    popupWindow.close();
                    console.log("Access to Quizlet was denied");
                };
                window.quizletAuthCodeCallback = function(code) {
                    authCode = code;
                    popupWindow.close();
                    exportWords();
                };

                // Translate all the words
                Promise.all(words.map(function(word){
                    return new Promise(function(resolve){
                        translate(srcLang, destLang, word, function(translationResults) {
                            resolve(translationResults.words);
                        });
                    });
                })).then(function(results){
                    translations = results;
                    exportWords();
                });
            })
        });
    </script>
}