@(course: Course)(implicit request: RequestHeader, user: User)

@main("Ayamel - Add Course"){
    <div class="padded">
        <h1>Add my Course</h1>
        <div class="padded">

            <form method="POST" action="@routes.Courses.submitCourseRequest(course.id.get) ">


                <label class="control-label">Message for the instructor:</label>
                <textarea name="message" rows="3"></textarea>

                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-blue" type="submit" value="Request add course"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
        }