@(announcement: Announcement, course: Option[Course] = None)

@{ /* TODO: Fix this so it notifies system admin when user is empty */ }
@defining(announcement.getUser){ user =>
    @if(!user.isEmpty) {
        <div class="announcement">
            @announcement.content
            @if(!course.isDefined) {
                <a id="@announcement.id.get" role="button" class="btn btn-mini btn-magenta"><i class="icon-trash"></i></a>
            }
            <div class="info">
                By @user.get.displayName on @service.TimeTools.prettyTime(announcement.timeMade)
                @if(course.isDefined) {
                    <br>for <a href="@routes.Courses.view(course.get.id.get)">@course.get.name</a>
                }
            </div>
        </div>
    }
}