@(course: Course)(implicit request: RequestHeader, user: User)

@main("Ayamel - Course Requests Approval Panel") {

    <div class="padded">

        <h1>Course Requests Approval Panel</h1>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Reason</th>
                <th>Actions</th>
                <th></th>
            </tr>
            @{ /* TODO: Fix, if user is empty then notify a system admin */ }
            @for(addRequest <- course.getRequests) {
                @defining(addRequest.getUser){ user =>
                    @if(user.isDefined) {
                        <tr>
                            <td>@user.get.displayName</td>
                            <td>@user.get.email.getOrElse("None")</td>
                            <td>@addRequest.message</td>
                            <td>
                                <form action="@routes.Courses.approveRequest(course.id.get)" method="POST">
                                    <input type="hidden" name="reqid" value="@{addRequest.id.get}"/>
                                    <button class="btn btn-blue">Approve</button>
                                </form>
                                <form action="@@routes.Courses.denyRequest(course.id.get)" method="POST">
                                    <input type="hidden" name="reqid" value="@{addRequest.id.get}"/>
                                    <button class="btn btn-blue">Deny</button>
                                </form>
                            </td>
                            <td><input type="checkbox" name="selections" value="@addRequest.id.get"/></td>
                        </tr>
                    }
                }
            }
            <tr><td colspan="5">
                <a href="#" id="selectbtn" class="btn btn-yellow">Select All</a>
                <a href="#" id="deselbtn" class="btn btn-yellow">Deselect All</a>
                <a href="#" id="appbtn" class="btn btn-blue">Approve Selected</a>
                <a href="#" id="denybtn" class="btn btn-magenta">Deny Selected</a>
            </td></tr>
        </table>
        <script>
            var checks = [].slice.call(document.querySelectorAll("input[name=selections]"));

            document.getElementById("selectbtn").addEventListener('click',function(){
                checks.forEach(function(check){ check.selected = true; });
            },false);

            document.getElementById("deselbtn").addEventListener('click',function(){
                checks.forEach(function(check){ check.selected = false; });
            },false);

            document.getElementById("appbtn").addEventListener('click',resolveRequests.bind(null,@{routes.Courses.approveRequest(course.id.get)}),false);
            document.getElementById("denybtn").addEventListener('click',resolveRequests.bind(null,@{routes.Courses.denyRequest(course.id.get)}),false);

            function resolveRequests(url){
                if(!checks.length){ return; }
                var data = new FormData();
                checks.forEach(function(check){
                    if(check.selected){ data.append("reqid", check.value); }
                });
                $.ajax({
                    url: url,
                    data: data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    type: "post",
                    dataType: "text"
                }).then(function(data){
                    window.location.reload();
                },function(xhr, status, error){
                    alert("An error occurred:\n"+status)
                });
            }
        </script>
    </div>

}
