@(course: Course)(implicit request: RequestHeader, user: User)

@renderFace(user: User) = {
    <div class="face" data-toggle="tooltip" title="@user.displayName" style="background: url('@user.getPicture'); background-size: cover;"></div>
}

@renderAnnouncement(announcement: Announcement) = {
    <div class="announcement">
        @announcement.content
        <div class="info">By @announcement.getUser.displayName on @service.TimeTools.prettyTime(announcement.timeMade)</div>
    </div>
}

@renderContentEntry(content: models.Content) = {
    @defining(
        if (content.thumbnail.isEmpty) ""
        else "background: url('" + content.thumbnail + "') center no-repeat; background-size: cover;"
    ) { thumbnail =>
        <a href="@routes.ContentController.view(content.id.get)" class="contentEntry @content.contentType.name" data-toggle="tooltip" title="@content.name" style="@thumbnail"></a>
    }
}

@renderContent(allContent: List[models.Content], contentType: Symbol) = {
    <div class="contentHolder">
        @for(content <- allContent.filter(_.contentType == contentType)) {
            @renderContentEntry(content)
        }
    </div>
}

@main("Ayamel - " + course.name) {

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/course.css")">

    <div class="courseBackground">
        <div class="courseTitle">
            <h1>@course.name</h1>
            <a href="#lmsModal" role="button" class="btn btn-yellow" data-toggle="modal"><i class="icon-book"></i> Add to an LMS</a>
        </div>


        <div class="faces">
            @for(member <- course.getMembers) {
                @renderFace(member)
            }

            @*<a href="#" class="btn btn-yellow addStudent"><i class="icon-user"></i> Add student</a>*@
        </div>
    </div>

    <div class="padded">
        <div class="row-fluid">
            <div class="span8">

                @defining(course.getContent) { content =>

                    @if(!content.filter(_.contentType == 'video).isEmpty) {
                        <h2><i class="icon-film"></i> Videos</h2>
                        @renderContent(content, 'video)
                    }

                    @if(!content.filter(_.contentType == 'audio).isEmpty) {
                        <h2><i class="icon-volume-up"></i> Audio</h2>
                        @renderContent(content, 'audio)
                    }

                    @if(!content.filter(_.contentType == 'image).isEmpty) {
                        <h2><i class="icon-picture"></i> Images</h2>
                        @renderContent(content, 'image)
                    }

                    @if(!content.filter(_.contentType == 'playlist).isEmpty) {
                        <h2><i class="icon-list-ol"></i> Playlists</h2>
                        @renderContent(content, 'playlist)
                    }

                    @if(!content.filter(_.contentType == 'activity).isEmpty) {
                        <h2><i class="icon-pencil"></i> Activities</h2>
                        @renderContent(content, 'activity)
                    }

                }
            </div>
            <div class="span4">
                <h3><i class="icon-bullhorn"></i> Announcements</h3>

                @for(announcement <- course.getAnnouncements) {
                    @renderAnnouncement(announcement)
                }
            </div>
        </div>

        <hr>

        <a href="@routes.ContentController.create()" class="btn btn-blue"><i class="icon-plus"></i> Add content</a>
        <a href="#" class="btn btn-blue"><i class="icon-comment"></i> Make an announcement</a>
    </div>

    <div id="lmsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="lmsModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="lmsModalLabel">How to add this course to an LMS.</h3>
        </div>
        <div class="modal-body">
            <p>Ayamel supports two methods of adding course pages into LMSs. They are:</p>
            <h4>LTI</h4>
            <p>
                This is the preferred method. Using this, Ayamel receives from the LMS information about the student.
                This is simplest and easiest for the students. Not all LMSs support this.
            </p>
            <p>
                You need three things to set up LTI: a launch url, a consumer key, and a consumer secret. The last two
                items are sometimes referred to as the public and private keys. For this course, these items are the
                following:
            </p>
            <ul>
                <li><strong>Launch URL:</strong> <code>@routes.Courses.ltiAuth(course.id.get).absoluteURL()</code></li>
                <li><strong>Consumer Key:</strong> <code>@course.id.get</code></li>
                <li><strong>Consumer Secret:</strong> <code>@course.lmsKey</code></li>
            </ul>

            <h4>Keyed URL</h4>
            <p>
                For LMSs that do not support LTI, you can link to this page with a special link. When a student clicks
                on that link, he or she will be able to view the course page and its content, but will be unable to add
                content. To add content, they will need to log in through Ayamel and be added to the course.
            </p>
            <p>
                For this course, the keyed URL is: <code>@{routes.Courses.keyAuth(course.id.get)}?key=@course.lmsKey</code>
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-blue" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $(".face, .contentEntry").tooltip({
                placement: "bottom"
            });
        });
    </script>
}
