@(course: Course)(implicit request: RequestHeader, user: User)

@renderFace(user: User) = {
    <div class="face" data-toggle="tooltip" title="@user.displayName" style="background: url('@user.getPicture'); background-size: cover;"></div>
}

@moreStyles =  @{
    List(
        ("screen", "stylesheets/course.css"),
        ("screen", "stylesheets/content.css")
    )
}

@main("Ayamel - " + course.name, moreStyles) {

    <div class="courseBackground">
        <div class="courseTitle">
            <h1>@course.name</h1>
            @if(user canEdit course) {
                <a href="#lmsModal" role="button" class="btn btn-yellow" data-toggle="modal"><i class="icon-book"></i> Add to an LMS</a>
                @if(!course.getRequests.isEmpty) {
                    <a href="@routes.Courses.approvePage(course.id.get)" class="btn btn-yellow"><i class="icon-user"></i> Approve/Deny Student Requests</a>
                }
            }
        </div>


        <div class="faces">
            @for(member <- course.getMembers) {
                @renderFace(member)
            }

            @*<a href="#" class="btn btn-yellow addStudent"><i class="icon-user"></i> Add student</a>*@
        </div>
    </div>

    <div class="padded">
        <div class="row-fluid">
            <div class="span8">
                <div id="courseContent"></div>
                <script type="text/javascript">
                    $(function() {
                        ContentItemRenderer.renderAll({
                            content: [@Html(course.getContent.map(_.toJson).mkString(","))],
                            $holder: $("#courseContent"),
                            format: "auto",
                            sizing: true,
                            sorting: true,
                            labels: [@Html(user.getContent.flatMap(_.labels).map(s => "\"" + s + "\"").mkString(","))],
                            filters: ContentItemRenderer.standardFilters,
                            courseId: [@course.id.get][0]
                        });
                    });
                </script>

            </div>
            <div class="span4">
                <h3><i class="icon-bullhorn"></i> Announcements</h3>

                @for(announcement <- course.getSortedAnnouncements) {
                    @courses.announcement(announcement)
                }
            </div>
        </div>

        @if(user.role != User.roles.guest) {
            <hr>

            <a href="#addContentModal" role="button" class="btn btn-blue" data-toggle="modal"><i class="icon-plus"></i> Add content</a>
            <a href="#announcementModal" role="button" class="btn btn-blue" data-toggle="modal"><i class="icon-comment"></i> Make an announcement</a>
        }
    </div>

    @views.html.courses.helpers.lmsInfo(user, course)

    @views.html.courses.helpers.addContent(user, course)

    <script type="text/javascript">
        $(function() {
            $(".face, .contentEntry").tooltip({
                placement: "bottom"
            });
        });
    </script>

}
