@(content: models.Content, playGraphHost: String, authorKey: String, playerKey: String)(implicit request: RequestHeader, user: User)

@main("Ayamel - Playlist") {

	<div class="padded">

		<h1><i class="icon-list"></i> @content.name</h1>

		<p>@content.settings("description")</p>

		<div>
			<a href="@routes.Playlists.view(content.id.get)" class="btn btn-blue"><i class="icon-play-sign"></i> Play</a>
			@if(content.isEditableBy(user)) {
				<form action="@{playGraphHost}author" method="post" class="inline-block">
				    <input name="author" value="@authorKey" type="hidden"/>
				    <input name="player" value="@playerKey" type="hidden"/>
				    <input name="graph" value="@content.resourceId" type="hidden"/>
				    <input name="action" value="edit" type="hidden"/>
				    <input name="exit" value="@routes.Playlists.about(content.id.get).absoluteURL()" type="hidden"/>
				    <input name="play" value="@routes.Playlists.view(content.id.get).absoluteURL()" type="hidden"/>
				    <input name="widgets" value="@routes.Assets.at("javascripts/playGraph/widgets.js").absoluteURL()" type="hidden"/>

				    <button type="submit" class="btn btn-yellow"><i class="icon-edit-sign"></i> Edit</button>
				</form>
			}
		</div>
	</div>

	

}