@(content: models.Content, resourceLibraryUrl: String)(implicit request: RequestHeader, user: User)

@import dataAccess.PlayGraph

@main("Ayamel - Playlist") {
    
    @views.html.content.header.includes()
    @Dependencies(
	  Local(
	    Rel("javascripts/",
		  JS("libraries/oauth.js"),
          JS("playGraph/player.js"))),
	  JS(PlayGraph.host+"assets/javascripts/author/PlayGraph.js"))
    
    <div class="padded">
        <h1>@content.name</h1>
        <div id="playlistPlayer"></div>
    </div>

    <script type="text/javascript">
        $(function() {
            ResourceLibrary.setBaseUrl("@resourceLibraryUrl");

            // Render the content
            ContentRenderer.render({
                content: @Html(content.toJson.toString()),
                holder: document.getElementById("playlistPlayer"),
                annotate: true,
                screenAdaption: {
                    fit: true,
                    scroll: true,
                    padding: 61
                },
                aspectRatio: Ayamel.aspectRatios.hdVideo,
                playGraph: {
                    key: "@{PlayGraph.playerKey.consumerKey}",
                    secret: "@{PlayGraph.playerKey.consumerSecret}",
                    host: "@{PlayGraph.host}"
                }
            });

        });
    </script>

}