@(content: models.Content, playGraphHost: String, key: String, secret: String, resourceLibraryUrl: String)(implicit request: RequestHeader, user: User)

@main("Ayamel - Playlist") {
	
	@views.html.content.header.dependencies()
    <script type="text/javascript" src="@routes.Assets.at("javascripts/sha1.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/oauth.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/playGraph/player.js")"></script>
    <script type="text/javascript" src="@{playGraphHost}assets/javascripts/author/PlayGraph.js"></script>
	
	<div class="padded">
		<h1>@content.name</h1>
		<div id="playlistPlayer"></div>
	</div>

	<script type="text/javascript">
		$(function() {
            ResourceLibrary.setBaseUrl("@resourceLibraryUrl");
            var content = @Html(content.toJson.toString());
		    var $playlistPlayer = $("#playlistPlayer");

            // Render the content
            ContentRenderer.render({
                content: content,
                $holder: $playlistPlayer,
                annotate: true,
                screenAdaption: {
                    fit: true,
                    scroll: true,
                    padding: 61
                },
                aspectRatio: Ayamel.aspectRatios.hdVideo,
                playGraph: {
                    key: "@key",
                    secret: "@secret",
                    host: "@playGraphHost"
                }
            });

		});
	</script>

}