@()(implicit request: RequestHeader, user: User)

@main("Ayamel - About Ayamel"){
    <div class="padded">
        <h1>About Ayamel</h1>

        <p>
            Ayamel is a web-based system for streaming video and audio content especially as it applies to learning a
            foreign language. Additional aids are available to be used in conjuction with the media, such as captions
            and annotations. A key feature of the site enables learners to directly interact with subtitle tracks to
            quickly access translations for foreign words and phrases and view relevant annotations. The translations
            are taken from our own dictionary web service, WordReference.com translation API, Merriam-Webster Dictionary/Translation APIs,
            and the Google Translate API. Teachers or course designers are able to aggregate media into a single location
            and set up specific conditions in order to optimize the learning experience.
        </p>
    </div>
}