@()(implicit request: RequestHeader, user: User)

@main("Code") {

    <div class="container">

        @views.html.application.navbar("code")

        <h1>Code examples</h1>
        <h2>Level 1</h2>
		<span>The scope at this base level is to offer high quality video viewing through a media player.</span>
		
		<div id="linkcontainer">
			<div><a href="https://github.com/BYU-ARCLITE/Ayamel.js/blob/master/Ayamel.js">Ayamel</a></div>
			<div><a href="https://github.com/BYU-ARCLITE/Ayamel.js/blob/master/h5Clip.js">h5Clip</a></div>
			<div><a href="https://github.com/BYU-ARCLITE/Ayamel.js/blob/master/MediaController.js">MediaController</a></div>
			<div><a href="https://github.com/BYU-ARCLITE/Ayamel.js/blob/master/MediaControls.js">MediaControls</a></div>
			<div><a href="https://github.com/BYU-ARCLITE/Ayamel.js/blob/master/TimedMedia.js">TimedMedia</a></div>
			<div><a href="https://github.com/BYU-ARCLITE/Ayamel.js/blob/master/UniformAspectRatio.js">UniformAspectRatio</a></div>
			<div><a href="https://github.com/BYU-ARCLITE/Ayamel.js/blob/master/video.js">Video</a></div>
			<div><a href="https://github.com/BYU-ARCLITE/Ayamel.js/blob/master/VideoPlayer.js">VideoPlayer</a></div>
		</div>
    </div>

}
