@()(implicit request: RequestHeader, user: User)

@main("Code") {

	<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js" type="text/javascript"></script>

    <div class="container">

        @views.html.application.navbar("code")

        <h1>Code examples</h1>
        <h2>Level 1 Playback</h2>
		<span>The scope at this base level is to offer high quality video viewing through a media player.</span>
		
		<span>The scripts below are essential to create a level 1 playback</span>
		
		<table border ="1">
		<tr>
			<th>Script</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><a href="https://github.com/BYU-ARCLITE/Ayamel.js/blob/master/Ayamel.js">Ayamel</a></td>
			<td>Core of Ayamel player</td>
		</tr>
		<tr>
			<td><a href="https://github.com/BYU-ARCLITE/Ayamel.js/blob/master/ControlBar.js">ControlBar</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="https://github.com/BYU-ARCLITE/Ayamel.js/blob/master/ControlBarComponents.js">ControlBarComponents</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="https://github.com/BYU-ARCLITE/Ayamel.js/blob/master/h5Clip.js">h5Clip</a></td>
			<td></td>
		</tr>		
		<tr>
			<td><a href="https://github.com/BYU-ARCLITE/Ayamel.js/blob/master/ProgressBar.js">ProgressBar</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="https://github.com/BYU-ARCLITE/Ayamel.js/blob/master/MediaController.js">MediaController</a></td>
			<td>Define functionality for button</td>
		</tr>		
		<tr>
			<td><a href="https://github.com/BYU-ARCLITE/Ayamel.js/blob/master/TimedMedia.js">TimedMedia</a></td>
			<td></td>
		</tr>				
		<tr>
			<td><a href="https://github.com/BYU-ARCLITE/Ayamel.js/blob/master/UniformAspectRatio.js">UniformAspectRatio</a></td>
			<td>Set the size for video player</td>
		</tr>
		<tr>
			<td><a href="https://github.com/BYU-ARCLITE/Ayamel.js/blob/master/video.js">Video</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="https://github.com/BYU-ARCLITE/Ayamel.js/blob/master/VideoPlayer.js">VideoPlayer</a></td>
			<td></td>
		</tr>
		</table>
		
		<span>Here is an example of utilizing the code above to create a level 1 playback.</span>
			<pre class="prettyprint prettyprinted">
				<code class="language-javascript">
				//Step 1: Include the scripts
				<!-- Jquery support -->
				<script src="/assets/javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
				
				<!-- Css library -->
				<script src="/assets/javascripts/bootstrap.min.js" type="text/javascript"></script>
				
				<!-- Include the Ayamel css files -->
    			<link rel="stylesheet" media="screen" href="/assets/stylesheets/controlBar2.css">
    			<link rel="stylesheet" media="screen" href="/assets/stylesheets/stage.css">
				
				<!-- Resource Library Scripts -->
    			<script src="/assets/javascripts/resources.js" type="text/javascript"></script>
    			
    			<!-- Ayamel scripts -->
				<script src="/assets/javascripts/Ayamel.js/Ayamel.js" type="text/javascript"></script>
    			<script src="/assets/javascripts/Ayamel.js/h5Clip.js" type="text/javascript"></script>
    			<script src="/assets/javascripts/Ayamel.js/MediaController.js" type="text/javascript"></script>
    			<script src="/assets/javascripts/Ayamel.js/MediaControls.js" type="text/javascript"></script>
    			<script src="/assets/javascripts/Ayamel.js/TimedMedia.js" type="text/javascript"></script>
    			<script src="/assets/javascripts/Ayamel.js/UniformAspectRatio.js" type="text/javascript"></script>
    			<script src="/assets/javascripts/Ayamel.js/video.js" type="text/javascript"></script>
    			<script src="/assets/javascripts/Ayamel.js/VideoPlayer.js" type="text/javascript"></script>
				
				// Step 2: Load the resource
				//Include a resourceId to identify which video you are looking for from the database
		        var resourceId = "512cfb8b35e544210c000001";
		
		        $(function() {
		            // This function takes resourceId as a parameter and retrieves the video files with it from the database 
		            new Resource(resourceId, function(resource) {
		            
		                // Step 3: Install the html5 video player
		                // Call AddVideoPlayer method to install video player. h5PlayerInstall is a script that instructs what functionality to install
		                Ayamel.AddVideoPlayer(h5PlayerInstall, 1, function() {
		                    
		                    	// Step 4: Create the player
		                    	// Use "new" to create new object instance of the video player. 
		                    	//Ayamel.Videoplayer method takes all the pre-defined properties and params (aspectratio - ratio of the width to the height of the video player and resourceId) and places the video into the <div> element named "player"
		                    	var videoPlayer = new Ayamel.VideoPlayer({
		                        element: document.getElementById('player'),
		                        aspectRatio: 45,
		                        resource: resource
		                    });
		                });
		            });
		        });
			</code>
		</pre>
		
		<h2>Level 2 Playback</h2>
		<span>The scope at this level is to provide high quality video content with a subtitle track providing transcription of the video in the target language or in English.</span>
		<div>In addition to the scripts above, there are other scripts need to be included to create a level 2 playback</div>
		
		<table border ="1">
		<tr>
			<th>Script</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><a href="https://github.com/BYU-ARCLITE/Ayamel-Examples/blob/master/public/javascripts/Caption-Renderer/caption-renderer.js"></a>Caption-Renderer</td>
			<td>Display subtitles for the video</td>
		</tr>
		<tr>
			<td><a href=""></a>TimedText</td>
			<td></td>
		</tr>
		<tr>
			<td><a href=""></a>TextTrack</td>
			<td></td>
		</tr>
		<tr>
			<td><a href=""></a>TextTrackCue</td>
			<td></td>
		</tr>
		<tr>
			<td><a href=""></a>WebVTT</td>
			<td>Decodes subtitles format</td>
		</tr>
		</table>
		
			<pre class="prettyprint prettyprinted">
				<code class="language-javascript">
				// Step 1: Include the scripts (with the scripts for level 1 playback)
    			<!-- Caption Renderer script -->
    			<script src="/assets/javascripts/Caption-Renderer/caption-renderer.js" type="text/javascript"></script>

    			<!-- Timed Text scripts -->
    			<script src="/assets/javascripts/TimedText/TimedText.js" type="text/javascript"></script>
    			<script src="/assets/javascripts/TimedText/TextTrack.js" type="text/javascript"></script>
    			<script src="/assets/javascripts/TimedText/TextTrackCue.js" type="text/javascript"></script>
    			<script src="/assets/javascripts/TimedText/WebVTT.js" type="text/javascript"></script>

    			<!-- View specific script -->
    			<script src="/assets/javascripts/mustache.js" type="text/javascript"></script>
    			<script src="/assets/javascripts/level2.js" type="text/javascript"></script>
				
				// Step 2: 
	            var movie = {"id":2,"name":"Dreyfus","description":"A music video about Dreyfus.","resourceId":"512cfb8b35e544210c000001","captionTracks":[{"id":1,"name":"Transcription","language":"fr","resourceId":"512e6d6935e544230c000003"}]},
	                renderer;
	
	            $(function() {
	                // Load the resource
	                new Resource(movie.resourceId, function(resource) {
	                    // Install the html5 video player
	                    Ayamel.AddVideoPlayer(h5PlayerInstall, 1, function() {
	                        var player = $('#player').get(0);
	
	                        // Create the player
	                        var videoPlayer = new Ayamel.VideoPlayer({
	                            element: player,
	                            aspectRatio: 45,
	                            resource: resource
	                        });
	
	                        // Create the caption renderer
	                        var video = $("#player").find("video").get(0);
	                        var captions = $("#captions").get(0);
	                        renderer = new CaptionRenderer(video, {
	                            appendCueCanvasTo: captions,
	                            styleCue: function(DOMNode, track){
	                                return DOMNode;
	                            }
	                        });
	                        renderer.bindMediaElement(video);
	
	                        // Add the first caption track
	                        var captionTrack = movie.captionTracks[0];
	
	                        // Get the resource
	                        new Resource(captionTrack.resourceId, function(resource) {
	                            TextTrack.get({
	                                kind: "subtitles",
	                                label: captionTrack.name,
	                                lang: captionTrack.language,
	                                url: resource.content.files[0].downloadUri,
	                                success: function(){
	                                    var track = this;
	                                    track.mode = 'showing';
	                                    renderer.addTextTrack(track);
	                                }
	                            });
	                        });
	
	                    });
	                });
	            });
			</code>
		</pre>
		
		<h2>Level 3 Playback</h2>
		<span>The scope of this level is to add the ability to click on any word in the subtitle track and be given a direct translation for that word (provided by Google Translate or comparable Web service)</span>
		
		<span>Additional scripts to include:</span>
		<table border ="1">
		<tr>
			<th>Script</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><a href="">TextTranslator</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="">ArcliteTranslationEngine</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="">WordReferenceTranslationEngine</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="">GoogleTranslationEngine</a></td>
			<td></td>
		</tr>
		</table>
		
		<pre class="prettyprint prettyprinted">
			<code class="language-javascript">
			// Step 1: Include the scripts (with level 2 scripts)
		    <!-- Translation scripts -->
			<script src="/assets/javascripts/Translate.js/TextTranslator.js" type="text/javascript"></script>
			<script src="/assets/javascripts/Translate.js/ArcliteTranslationEngine.js" type="text/javascript"></script>
			<script src="/assets/javascripts/Translate.js/WordReferenceTranslationEngine.js" type="text/javascript"></script>
			<script src="/assets/javascripts/Translate.js/GoogleTranslationEngine.js" type="text/javascript"></script>
			</code>
		</pre>
    </div>

}
