@(request: RequestHeader, ex: Throwable)

<!DOCTYPE html>
<html>
    <head>
        <title>Ayamel - Whoops...</title>

        @Dependencies(
          Local(
            Icon("images/favicon.png", "image/png"),
            Rel("stylesheets/",
              CSS("bootstrap.min.css"),
              CSS("bootstrap-responsive.min.css"),
              CSS("font-awesome.min.css"),
              CSS("main.css")),
            Rel("javascripts/",
              Rel("libraries/",
                JS("jquery-1.9.0.min.js"),
                JS("bootstrap.min.js")))))
    </head>
    <body>

        <div class="container">
            <div class="mainContent">
                <div class="padded">
                    <h1 class="color-magenta"><i class="icon-bolt"></i> Boom! Something broke.</h1>
                    <p>
                        We've taken note that something went wrong, but we can't read your mind. To help us fix this,
                        please describe what you were doing. Thanks!
                    </p>
                    <span class="form-horizontal" id="feedbackForm">
                        <div class="control-group">
                            <label class="control-label" for="description">Describe what you were doing:</label>
                            <div class="controls">
                                <textarea id="description"></textarea>
                            </div>
                        </div>
                        <input type="hidden" id="errorCode" value="@ex.toString.substring(1,10)"/>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" id="saveButton" class="btn">Save</button>
                            </div>
                        </div>
                    </span>
                    <div id="feedbackSaved">
                        Thank you for providing feedback!
                    </div>

                    <hr>
                    <a class="btn btn-blue" href="@routes.Application.home()">Back to my Ayamel home page.</a>
                    <div>
                        <pre>@ex.getMessage()</pre>
                        <pre>@ex.getStackTrace().map(_.toString()).fold("")((a: String, b: String) => a + "\n" + b)</pre>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(function() {
                var $saved = $("#feedbackSaved").hide();
                document.getElementById("saveButton").addEventListener('click', function(){
                    $.ajax("/feedback/error", {
                        type: "post",
                        data: {
                            description: document.getElementById('description').value,
                            errorCode: document.getElementById('errorCode').value
                        }
                    });

                    $("#feedbackForm").hide();
                    $saved.show();
                }, false);
            });
        </script>

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-39697543-1', 'byu.edu');
            ga('send', 'pageview');

        </script>

    </body>
</html>
