@()(implicit request: RequestHeader, user: User)

@main("Ayamel Examples") {

    <div class="padded">
        <h1>My courses</h1>
        <ul>
            @for(course <- user.getEnrollment) {
                <li><a href="@routes.Courses.view(course.id.get)">@course.name</a></li>
            }
        </ul>

        @* If the user didn't log in through a LMS, then allow the creation of courses *@
        @if(user.canCreateCourse) {
            <a href="#" class="btn btn-magenta"><i class="icon-group"></i> Create a new course</a>
        }
    </div>

}
