@()(implicit request: RequestHeader, user: User)

@moreStyles = @{
    List(
      ("screen", "stylesheets/home.css"),
      ("screen", "stylesheets/course.css"),
      ("screen", "stylesheets/content.css")
    )
}

@main("Ayamel", moreStyles) {
    
    <div class="spotlight">
        <div id="slider" class="swipe">
            <div class="swipe-wrap">
                @for(homePageContent <- HomePageContent.list.filter(_.active)) {
                    <div class="slide" style="background: url('@homePageContent.background') center; background-size: cover">
                        <div class="slideTextHolder">
                            <h1>@homePageContent.title</h1>
                            <p>@homePageContent.text</p>
                            @if(!homePageContent.link.isEmpty) {
                                <a href="@homePageContent.link" class="btn btn-blue">@homePageContent.linkText</a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="spotlightNavigation">
            <div class="left" id="leftArrow"></div>
            <div class="right" id="rightArrow"></div>
        </div>

        @*<h1>Spotlight</h1>*@
    </div>

    <div class="padded">

        <h2>My Ayamel</h2>

        <div class="row-fluid">
            <div class="span4">
                <div class="homeContent">
                    <div class="homeContentContainer">
                        <h3>Latest Content</h3>
                        <div id="latestContent"></div>
                        <script type="text/javascript">
                            $(function() {
                                ContentItemRenderer.renderAll({
                                    content: [@Html(user.getContentFeed(6).map(_.toJson).mkString(","))],
                                    $holder: $("#latestContent"),
                                    format: "icon"
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="homeContent">
                    <div class="homeContentContainer">
                        <h3>Announcements</h3>
                        @for((announcement, course) <- user.getAnnouncementFeed(3)) {
                            @courses.announcement(announcement, Some(course))
                        }
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="homeContent">
                    <div class="homeContentContainer">
                        <h3>My Courses</h3>
                        <ul>
                            @for(course <- user.getEnrollment) {
                                <li><a href="@routes.Courses.view(course.id.get)">@course.name</a></li>
                            }
                        </ul>

                        @if(user.canCreateCourse) {
                            <a href="@routes.Courses.create()" class="btn btn-magenta"><i class="icon-group"></i> Create a new course</a>
                        }
                    </div>
                </div>
            </div>
        </div>

        <h2>New Stuff</h2>

        <div class="row-fluid">
            <div class="span3">
                <div class="homeContent accent">
                    <div class="homeContentContainer">
                        <div class="pad-bottom-med">
                            @*<div class="fresh"></div>*@
                            <img src="@routes.Assets.at("images/home/fresh.jpg")" class="img-polaroid homeThumbnail">
                            <h3 class="inline-block">Fresh Content</h3>
                        </div>
                        <p>The latest public content is here for your enjoyment!</p>
                        <a href="@routes.ContentController.public()" class="btn btn-blue">View All</a>
                    </div>
                </div>
            </div>
            @*
            @for(content <- Content.listPublic.take(3)) {
                <div class="span3">
                    <div class="homeContent">
                        <div class="homeContentContainer">
                            <div class="pad-bottom-med">
                                @views.html.content.helpers.contentItem(content, List("homeThumbnail"))
                                <a href="@routes.ContentController.view(content.id.get)" class="btn btn-blue pad-left-high">View</a>
                            </div>
                            <h3 class="inline-block">@content.name</h3>
                            <p>
                                Added on @service.TimeTools.prettyTime(content.dateAdded)
                            </p>
                        </div>
                    </div>
                </div>
            }
            *@
        </div>

        <div class="row-fluid">


            @if(user.role == User.roles.student) {
                <div class="span6">
                    <h3>Are you a teacher?</h3>
                    <p>
                        If you would like to teach a course you must be approved as a teacher by an administrator. To submit
                        a teacher request, please fill out the <a href="@routes.Users.teacherRequestPage()">teacher request form.</a>
                    </p>
                </div>
            }
            <div class="span6">
                <h3>How does Ayamel work?</h3>
                <p>
                    A very good question...
                </p>
            </div>
        </div>

    </div>
    <script src="@routes.Assets.at("javascripts/swipe.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {

            var swipe = new Swipe($("#slider")[0], {
                auto: 10000
            });

            $("#leftArrow").click(function() {
                swipe.prev();
            });
            $("#rightArrow").click(function() {
                swipe.next();
            });
            $(".contentEntry").tooltip({
                placement: "bottom"
            });
        });
    </script>

}
