@()(implicit request: RequestHeader, user: User)

@main("Ayamel Examples") {

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/home.css")">
    <script src="@routes.Assets.at("javascripts/swipe.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/home.js")" type="text/javascript"></script>

    <div class="container">

        @views.html.application.navbar("home")

        <h1>Get Started!</h1>

        <div id="sliderHolder">
            <div id='slider'>
                <ul>
                    <li style='display:block'>
                        <div class="slide">
                            <img src="@routes.Assets.at("images/banners/theater.jpg")">
                            <div class="slideText">
                                <h2>Awesome Videos</h2>
                                <p>
                                    Watch videos to help you learn languages.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li style='display:none'>
                        <div class="slide">
                            <img src="@routes.Assets.at("images/banners/chorus.jpg")">
                            <div class="slideText">
                                <h2>The Chorus</h2>
                                <p>
                                    Watch it now!
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="text-center">
            <div class="inline-block">
                <div class="well">
                    <a href="@routes.Application.watch()" class="btn btn-large btn-magenta"><i class="icon-film"></i> Watch Videos</a>
                    <a href="@routes.Application.edit()" class="btn btn-large btn-blue"><i class="icon-quote-left"></i> Edit Subtitles</a>
                    <a href="@routes.Application.code()" class="btn btn-large btn-yellow"><i class="icon-desktop"></i> View Code Examples</a>
                </div>
            </div>
        </div>

    </div>
    
}
