@(path: String)(implicit request: RequestHeader)

<!DOCTYPE html>
<html>
<head>
    <title>Ayamel</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <script src="@routes.Assets.at("javascripts/libraries/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/libraries/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/index.js")" type="text/javascript"></script>
</head>
<body>

    <div class="container">
        <div class="text-center">
            <img src="@routes.Assets.at("images/logo.png")" style="height: 200px; margin-top: 20px;">

            <div id="titles">
                <div class="title active">
                    <h1>Watch Videos, Learn Languages</h1>
                </div>
                <div class="title">
                    <h1>Improve comprehension with subtitles</h1>
                </div>
                <div class="title">
                    <h1>Better your language listening</h1>
                </div>
            </div>

        </div>

        <!--<h1>Ayamel <small>A better way to learn languages with video.</small></h1>-->

        <div class="getStarted">

            @if(request.flash.get("alert").isDefined) {
                <div class="alert">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>Just a sec...</strong> @request.flash("alert")
                </div>
            }
            @if(request.flash.get("error").isDefined) {
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>Oh snap!</strong> @request.flash("error")
                </div>
            }
            @if(request.flash.get("success").isDefined) {
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>Alright!</strong> @request.flash("success")
                </div>
            }
            @if(request.flash.get("info").isDefined) {
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>Heads up.</strong> @request.flash("info")
                </div>
            }

            <p>
                Sign in with one of the following services to get started.
            </p>

            <div class="clearfix">
                <div class="pull-left">
                    <a class="btn btn-danger btn-large" href="@controllers.authentication.routes.Google.login("login", path)"><i class="icon-google-plus"></i> Sign in with Google</a>
                </div>
                <div class="pull-right">
                    <a class="btn btn-primary btn-large" href="@controllers.authentication.routes.Cas.login("login", path)"><img src="@routes.Assets.at("images/auth/byu.png")" /> Sign in with BYU</a>
                </div>
            </div>

            <hr>

            <p>You can, alternatively, sign in with an Ayamel account.</p>
            <div class="text-center">
                <a href="#signupModal" role="button" class="btn btn-yellow" data-toggle="modal">Create an account</a>
                <a href="#loginModal" role="button" class="btn btn-magenta" data-toggle="modal">Use existing account</a>
            </div>
        </div>

        <div id="aboutAyamel">
            <div class="row-fluid">
                <div class="span3">
                    <h3 class="text-center"><span class="ayamel-icon"></span> What is Ayamel?</h3>
                    <p>
                        Ayamel is a web-based system for streaming video and audio content especially as it applies to
                        learning a foreign language. It houses a collection of media all with the express purpose of
                        helping you learn languages.
                    </p>
                </div>
                <div class="span3">
                    <h3 class="text-center"><i class="icon-comment"></i> Text helps</h3>
                    <p>
                        Additional aids are available to be used in conjunction with the
                        media, such as captions and annotations. A key feature of the site enables learners to directly
                        interact with subtitle tracks to quickly access translations for foreign words and phrases and
                        iew relevant annotations.
                    </p>
                </div>
                <div class="span3">
                    <h3 class="text-center"><i class="icon-pencil"></i> For school</h3>
                    <p>
                        Teachers or course designers are able to aggregate media into a single location and set up specific
                        conditions in order to optimize the learning experience. Statistics and analytics are available to
                        improve the learning experience.
                    </p>
                </div>
                <div class="span3">
                    <h3 class="text-center"><i class="icon-cogs"></i> LTI compatible</h3>
                    <p>
                        Because Ayamel uses the LTI standard, seamless integration with LMSs is possible. This means media
                        on Ayamel is able to be dropped right into a course. Take full advantage of Ayamel's features and
                        tools to create to best possible learning experience.
                    </p>
                    <p class="yellow">
                        <a target="youtube" href="http://www.youtube.com/watch?v=YaCaYIaEfuQ"><i class="icon-play-sign"></i> See how</a>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="closing">
        <div>Brought about by the <a href="http://arclite.byu.edu">ARCLITE Lab</a></div>
        <div>Copyright © 2013 <a href="http://byu.edu">Brigham Young University</a></div>
        <div>Funding from <a href="http://www.thelanguageflagship.org/">The Language Flagship</a></div>
    </div>

    <div id="signupModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="signupModalLabel">Create an account</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" id="signupForm" method="post" action="@controllers.authentication.routes.Password.createAccount(path)">
                <div class="control-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input type="text" id="username" name="username" placeholder="Username">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password1">Password</label>
                    <div class="controls">
                        <input type="password" id="password1" name="password1" placeholder="Password">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password2">Password again</label>
                    <div class="controls">
                        <input type="password" id="password2" name="password2" placeholder="Password again">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">Your name</label>
                    <div class="controls">
                        <input type="text" id="name" name="name" placeholder="Your name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">Email address</label>
                    <div class="controls">
                        <input type="text" id="email" name="email" placeholder="Email address">
                    </div>
                </div>
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="signup" class="btn btn-blue">Sign up</button>
        </div>
    </div>

    <div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="loginModalLabel">Sign in</h3>
        </div>

        <div class="modal-body">
            <form class="form-horizontal" id="loginForm" method="post" action="@controllers.authentication.routes.Password.login("login", path)">
                <div class="control-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input type="text" id="username" name="username" placeholder="Username">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" placeholder="Password">
                    </div>
                </div>
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="login" class="btn btn-blue">Sign in</button>
        </div>

    </div>

    <script type="text/javascript">
        $(function() {
            $("#login").click(function() {
                $("#loginForm").submit();
            });
            $("#signup").click(function() {
                $("#signupForm").submit();
            });
        });
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-39697543-1', 'byu.edu');
        ga('send', 'pageview');

    </script>

</body>
</html>
