@(nav: String)

@active(location: String) = {
    @if(location == nav) {
        class="active"
    }
}

<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="@routes.Application.home()"><img src="@routes.Assets.at("images/logo-small.png")" ></a>
        <ul class="nav">
            <li @active("home")><a href="@routes.Application.home()">Home</a></li>
            <li @active("watch")><a href="@routes.Application.watch()">Watch</a></li>
            <li @active("edit")><a href="@routes.Application.edit()">Edit</a></li>
            <li @active("code")><a href="@routes.Application.code()">Code</a></li>
        </ul>
    </div>
</div>