@(contentList: List[models.Content], courses: List[Course])(implicit request: RequestHeader, user: User)

@moreStyles =  @{
    List(
      ("screen", "stylesheets/content.css")
    )
}

@main("Ayamel - Search Results",moreStyles) {

    <div class="padded">
        <h1>Search Results</h1>

        <div class="row-fluid">
            <div class="span6">
                <h2 class="searchHeader"><i class="icon-book"></i> Courses</h2>
                @if(courses.isEmpty) {
                    <em>There were no course results for your search.</em>
                }
                <ul>
                    @for(course <- courses) {
                        <li><a href="@routes.Courses.view(course.id.get)">@course.name</a></li>
                    }
                </ul>
            </div>
            <div class="span6">
                <h2 class="searchHeader"><i class="icon-play-circle"></i> Public Content</h2>
                @if(contentList.isEmpty) {
                    <em>There were no content results for your search.</em>
                } else {
                    <div id="searchContent"></div>
                    <script type="text/javascript">
                        $(function() {
                            ContentItemRenderer.renderAll({
                                content: [@Html(contentList.map(_.toJson).mkString(","))],
                                $holder: $("#searchContent"),
                                format: "auto",
                                sizing: true,
                                sorting: true,
                                filters: ContentItemRenderer.standardFilters
                            });
                        });
                    </script>
                }
            </div>
        </div>
    </div>
    <style type="text/css">
        .searchHeader {
            color: #666;
            border-bottom: 1px solid #666;
        }
    </style>
    <script type="text/javascript">
        $(function() {
            $(".contentEntry").tooltip({
                placement: "bottom"
            });
        });
    </script>
}
