@(title: String, moreDependencies: Include*)(content: Html)(implicit request: RequestHeader, user: User)

@import views.html.resources._

@notifications = @{user.getNotifications.filterNot(_.messageRead)}

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>

        @Dependencies(
          Local(
            Icon("images/favicon.png", "image/png"),
            Rel("stylesheets/",
              CSS("bootstrap.min.css"),
              CSS("bootstrap-responsive.min.css"),
              CSS("font-awesome.min.css"),
              CSS("main.css")),
            Rel("javascripts/",
              Rel("libraries/",
                JS("jquery-1.9.0.min.js"),
                JS("bootstrap.min.js"),
                JS("Ractive.min.js"),
                JS("Ractive-events-tap.js")),
              JS("contentSelection/ContentItemRenderer.js"),
              JS("polyfills/Map.js"),
              JS("ActivityStreams.js"))),
          Extern("EditorWidgets",
            CSS("css/Superselect.css"),
            Rel("js/",
              JS("SuperSelect.js"),
              JS("Save.js"),
              JS("CommandStack.js"),
              JS("Dragable.js"),
              JS("LocalFiles.js")))
        )
        @Dependencies(moreDependencies:_*)

    </head>
    <body>

        <div class="headerBar">
            <div class="container">

                <div class="pull-left">
                    <a href="@routes.Application.home()"><div class="logo"></div></a>
                </div>

                <div class="links pull-right">
                    <div class="link">
                        <a href="@routes.Application.home()">
                            <i class="icon-home"></i> Home
                        </a>
                    </div>

                    @if(!user.getEnrollment.isEmpty) {
                        <div class="link">
                            <a class="headerDropdownLink" data-target="#coursesDropdown" href="#">
                                <i class="icon-group"></i> My Courses
                            </a>
                            <div class="headerDropdown" id="coursesDropdown">
                                <div class="dropdownPoint"></div>
                                @for(course <- user.getEnrollment) {
                                    <div class="dropdownItem">
                                        <a href="@routes.Courses.view(course.id.get)"><i class="icon-book"></i> @course.name</a>
                                    </div>
                                }
                                @if(user.hasSitePermission("createCourse")) {
                                    <div class="dropdownItem">
                                        <a href="@routes.Courses.createPage()"><i class="icon-plus"></i> Create a new course</a>
                                    </div>
                                }
                            </div>
                        </div>
                    }

                    @if(user.hasSitePermission("createContent")) {
                        <div class="link">
                            <a href="@routes.ContentController.mine()">
                                <i class="icon-folder-open"></i> My Content
                            </a>
                        </div>

                        <div class="link">
                            <a href="#" class="headerDropdownLink" data-target="#profileDropdown">
                                <span class="profileIcon" style="background-image: url('@user.getPicture')"></span>
                                @if(!notifications.isEmpty) {
                                    <span class="badge badge-yellow pad-left-low">@notifications.size</span>
                                }
                            </a>
                            <div id="profileDropdown" class="headerDropdown">
                                <div class="dropdownPoint light"></div>
                                <div class="displayName">@user.displayName</div>
                                <div class="dropdownItem">
                                    <a href="@routes.WordLists.view()"><i class="icon-paste"></i> My Word List</a>
                                </div>
                                <div class="dropdownItem">
                                    <a href="@routes.Users.accountSettings()"><i class="icon-cog"></i> Account Settings</a>
                                </div>
                                <div class="dropdownItem">
                                    <a href="@routes.Users.notifications()"><i class="icon-inbox"></i> Notifications
                                        @if(!notifications.isEmpty) {
                                            <span class="badge badge-yellow pad-left-low">@notifications.size</span>
                                        }
                                    </a>
                                </div>
                                @if(user.hasSitePermission("admin")) {
                                    <div class="dropdownItem">
                                        <a href="@routes.Administration.admin()"><i class="icon-wrench"></i> Admin Dashboard</a>
                                    </div>
                                }
                                <div class="dropdownItem">
                                    <a href="@controllers.authentication.routes.Authentication.logout()"><i class="icon-off"></i> Log out</a>
                                </div>
                            </div>
                        </div>

                        <!--<div class="link">
                            <i class="icon-search"></i>
                            <input type="text" class="searchBox" id="searchBox" />
                        </div>-->
                    } else {
                        <div class="link">
                            <a href="@controllers.authentication.routes.Authentication.logout()"><i class="icon-off"></i> Log out</a>
                        </div>
                    }
                </div>
            </div>
        </div>

        @content

        <div class="messageContainer">
                <!-- Messages/alerts -->
            @if(request.flash.get("alert").isDefined) {
                <div class="alert">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>Just a sec...</strong> @Html(request.flash("alert"))
                </div>
            }
            @if(request.flash.get("error").isDefined) {
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>Oh snap!</strong> @Html(request.flash("error"))
                </div>
            }
            @if(request.flash.get("success").isDefined) {
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>Alright!</strong> @Html(request.flash("success"))
                </div>
            }
            @if(request.flash.get("info").isDefined) {
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>Heads up.</strong> @Html(request.flash("info"))
                </div>
            }
        </div>

        <script type="text/javascript">
            $(function() {

                // Set up the dropdowns
                var $headerDropdowns = $(".headerDropdown").hide();

                $(".headerDropdownLink").click(function(event) {
                    $(this.dataset["target"]).toggle();
//                    event.stopPropagation();
                    return false;
                });
                document.body.addEventListener('click', function(){
                    $headerDropdowns.hide();
                }, false);
                $headerDropdowns.click(function(event) {
                    event.stopPropagation();
                });

                // Set up the search box
                /*document.getElementById("searchBox").addEventListener('keypress', function(event){
                    if (event.which == 13) {
                        window.location = "/search?query=" + this.value;
                    }
                }, false);*/

                setTimeout(function() {
                    $(".alert").fadeOut(500, function() {
                        $(this).remove();
                    });
                }, 5000);

            });
        </script>

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-39697543-1', 'byu.edu');
            ga('send', 'pageview');

        </script>

        @views.html.feedback()

    </body>
</html>
