@(title: String)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    </head>
    <body>

        <div class="headerBar">
            <div class="container">

                <div class="pull-left">
                    <a href="@routes.Application.home()"><div class="logo"></div></a>
                </div>

                <div class="links pull-right">
                    <div class="link">
                        <a href="#">
                            <i class="icon-home"></i> Home
                        </a>
                    </div>

                    <div class="link">
                        <a href="#">
                            <i class="icon-folder-open"></i> My Content
                        </a>
                    </div>

                    <div class="link">
                        <a href="#">
                            <i class="icon-cog"></i> Account Settings
                        </a>
                    </div>

                    <div class="link">
                        <i class="icon-search"></i>
                        <input type="text" class="searchBox" />
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="mainContent">
                @content

                <div class="messageContainer">
                    <!-- Messages/alerts -->
                    @if(request.flash.get("alert").isDefined) {
                        <div class="alert">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Just a sec...</strong> @request.flash("alert")
                        </div>
                    }
                    @if(request.flash.get("error").isDefined) {
                        <div class="alert alert-error">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Oh snap!</strong> @request.flash("error")
                        </div>
                    }
                    @if(request.flash.get("success").isDefined) {
                        <div class="alert alert-success">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Alright!</strong> @request.flash("success")
                        </div>
                    }
                    @if(request.flash.get("info").isDefined) {
                        <div class="alert alert-info">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Heads up.</strong> @request.flash("info")
                        </div>
                    }
                </div>
            </div>
        </div>
    </body>
</html>
