@(content: models.Content, resourceLibraryUrl: String)(implicit request: RequestHeader, user: User)

@contentIcons = @{
    Map(
        'video -> "icon-film",
        'audio -> "icon-volume-up",
        'image -> "icon-picture",
        'text -> "icon-file",
        'playlist -> "icon-list-ol",
        'activity -> "icon-pencil"
    )
}

@main("Ayamel - " + content.name, Some(user),
  Local(
    Rel("stylesheets/",
      CSS("content.css"),
      CSS("annotator.css")),
    Rel("wysihtml5/",
      CSS("bootstrap-wysihtml5.css"),
      JS("wysihtml5-0.3.0.js"),
      JS("bootstrap-wysihtml5.js")),
    Rel("javascripts/",
      JS("contentSelection/PopupBrowser.js"),
      Rel("annotationEditing/",
        JS("AnnotationPopupEditor.js"),
        JS("AnnotationTextEditor.js"),
        JS("editAnnotations.js"),
        JS("annotationEditing.js"))))
) {

    @views.html.content.header.includes()

    <script type="text/javascript" src="@routes.Assets.at("javascripts/pageScripts/addRelatedDocs.js")"></script>

    <script type="text/javascript">
        var content = @Html(content.toJson.toString);
        ResourceLibrary.setBaseUrl("@resourceLibraryUrl");
        var courseId = 0;
        var owner = @content.isEditableBy(user);
        var teacher = true;
        var userId = @user.id.get;
    </script>

    <div class="padded">

        <h1><i class="@contentIcons(content.contentType)"></i> @content.name <small>Edit Annotations</small></h1>

        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="#metadataModal" data-toggle="modal"><i class="icon-pencil"></i> Edit metadata</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="#saveAnnotationsModal" data-toggle="modal"><i class="icon-save"></i> Save</a></li>
                    <li><a href="#editAnnotationsModal" data-toggle="modal"><i class="icon-pencil"></i> Edit</a></li>
                    <li><a href="#" id="emptyManifest"><i class="icon-trash"></i> Clear Annotations</a></li>
                    <li><a href="#annotationsModal" data-toggle="modal"><i class="icon-trash"></i> Delete</a></li>
                    <li><a href="#" id="quit"><i class="icon-signout"></i> Quit</a></li>
                </ul>
            </div>
        </div>
        <div id="annotationEditor"></div>

    @if(true) {

        <div id="annotationsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="annotationsModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h3 id="annotationsModalLabel">Annotations</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div>
                        <h4>Delete Annotations</h4>
                        <div class="clearfix"></div>
                        <div id="annotationsTable"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>

        <div id="saveAnnotationsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="saveAnnotationsModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h3 id="saveAnnotationsModalLabel">Annotations</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div>
                        <h4>Save Annotations</h4>
                        <div class="clearfix"></div>
                        <form>
                            <fieldset>
                                <div id="saveOptions" class="form-inline">
                                </div>
                                <br>
                                <input id="filename" type="text" placeholder="Filename">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <label id="spinner"><i class="icon-spin icon-spinner icon-large pad-top-high"></i></label>
                    <button class="btn btn-magenta" id="saveAnnotations" disabled="true" type="button" value="Save">Save</button>
                    <!--<input class="btn btn-magenta" id="saveAnnotations" disabled="true" type="button" value="Save">-->
                </div>
            </div>
        </div>

        <div id="editAnnotationsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editAnnotationsModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h3 id="editAnnotationsModalLabel">Annotations</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div>
                        <h4>Edit Annotations</h4>
                        <div class="clearfix"></div>
                        <form>
                            <fieldset>
                                <table class="table table-bordered pad-top-high">
                                    <thead><tr>
                                        <th>Track name</th><th>Language</th><th>Options</th>
                                    </tr></thead>
                                    <tbody id="editTable">
                                    </tbody>
                                </table>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>

        <div id="metadataModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="metadataModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="metadataModalLabel">Edit Metadata</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input type="text" id="title" placeholder="Title" autofocus>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="language">Language</label>
                        <div class="controls" id="langLocation"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-blue" id="saveMetadataButton">Save changes</button>
            </div>
        </div>

        <script type="text/javascript">
            $('#metadataModal').on('shown.bs.modal', function() {
                $(this).find('[autofocus]').focus();
            });
        </script>
    }
}
