@(content: models.Content, resourceLibraryUrl: String)(implicit request: RequestHeader, user: User)

@contentIcons = @{
    Map(
        'video -> "icon-film",
        'audio -> "icon-volume-up",
        'image -> "icon-picture",
        'text -> "icon-file",
        'playlist -> "icon-list-ol",
        'activity -> "icon-pencil"
    )
}

@moreStyles =  @{
    List(
      ("screen", "stylesheets/content.css"),
      ("screen", "stylesheets/annotations.css")
    )
}

@course = @{
    request.queryString.get("course").flatMap(s => Course.findById(s(0).toLong))
}

@main("Ayamel - " + content.name, moreStyles) {

    @views.html.content.header.dependencies()

    <script type="text/javascript" src="@routes.Assets.at("javascripts/annotationEditing/AnnotationEditor.js")"></script>

    <div class="padded">

        <h1><i class="@contentIcons(content.contentType)"></i> @content.name <small>Edit Annotations</small></h1>

        <div id="annotationEditor"></div>

        <script type="text/javascript">
            $(function() {

                ResourceLibrary.setBaseUrl("@resourceLibraryUrl");
                var content = @Html(content.toJson.toString());

                var $annotationEditor = $("#annotationEditor");
                var editor = new AnnotationEditor({
                    $container: $annotationEditor,
                    content: content,
                    userId: "@user.id.get",
                    owner: [@content.isEditableBy(user)][0],
                    teacher: [@course.map(c => user.canEdit(c)).getOrElse(false)][0],
                    courseId: [@course.map(_.id.get).getOrElse(0)][0],
                    resourceLibraryUrl : "@resourceLibraryUrl"
                });
            });
        </script>

    </div>
}
