@(contentList: List[models.Content])(implicit request: RequestHeader, user: User)

@shorten(str: String) = {
    @if(str.length > 15) {
        <a href="#" class="shortened" data-toggle="tooltip" title="@str">@{str.substring(0, 12) + "..."}</a>
    } else {
        @str
    }
}

@main("Ayamel - Manage My Content", Local(CSS("stylesheets/content.css"))) {

    <div class="padded">

        <div>
            <h1 class="pull-left">Manage My Content</h1>
            @if(user.hasSitePermission("createContent")) {
              <!-- This should be a menu with all add methods, not just file upload -->
              <a href="@routes.ContentController.createPage("file", 0)" class="btn btn-blue pull-right pad-right-high pad-top-med">Add Content</a>
            }
        </div>

        <div class="clearfix"></div>

        <a href="#batchEditModal" role="button" class="btn btn-blue pad-bottom-high" data-toggle="modal"><i class="icon-edit"></i> Batch edit</a>

        <table class="table table-bordered table-striped table-condensed">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Shareability</th>
                <th>Visibility</th>
                <th>Resource Id</th>
                <th>Type</th>
                <th>Actions</th>
                <th></th>
            </tr>
            @for(content <- contentList) {
                <tr>
                    <td>@content.id.get</td>
                    <td>@shorten(content.name)</td>
                    <td>
                        @if(content.shareability == models.Content.shareability.notShareable) {
                            Not Shareable
                        }
                        @if(content.shareability == models.Content.shareability.byMeOnly) {
                            By Owner Only
                        }
                        @if(content.shareability == models.Content.shareability.shareable) {
                            Shareable
                        }
                    </td>
                    <td>
                        @if(content.visibility == models.Content.visibility._private) {
                            Private
                        }
                        @if(content.visibility == models.Content.visibility.tightlyRestricted) {
                            Tightly Restricted
                        }
                        @if(content.visibility == models.Content.visibility.looselyRestricted) {
                            Loosely Restricted
                        }
                        @if(content.visibility == models.Content.visibility.public) {
                            Public
                        }
                    </td>
                    <td>@shorten(content.resourceId)</td>
                    <td>@content.contentType.name</td>
                    <td>
                        <a href="@routes.ContentController.view(content.id.get)" class="btn">View</a>
                    </td>
                    <td>
                        <input type="checkbox" class="contentSelector" data-id="@content.id.get">
                    </td>
                </tr>
            }
        </table>

        <a href="#batchEditModal" role="button" class="btn btn-blue" data-toggle="modal"><i class="icon-edit"></i> Batch edit</a>

    </div>

    <div id="batchEditModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="batchEditModal" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="batchEditModal">Batch edit</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" method="post" action="@routes.ContentEditing.batchUpdateContent()">
                <input type="hidden" name="ids" id="ids">
                <div class="control-group">
                    <label class="control-label">Shareability</label>
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="shareability" id="shareability1" value="1" checked>
                            Not shareable
                        </label>
                        <label class="radio">
                            <input type="radio" name="shareability" id="shareability2" value="2">
                            Shareable by owner only
                        </label>
                        <label class="radio">
                            <input type="radio" name="shareability" id="shareability3" value="3">
                            Shareable by anybody who can see the content
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Visibility</label>
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="visibility" id="visibility1" value="1" checked>
                            Private
                        </label>
                        <label class="radio">
                            <input type="radio" name="visibility" id="visibility1" value="2">
                            Tightly Restricted
                        </label>
                        <label class="radio">
                            <input type="radio" name="visibility" id="visibility1" value="3">
                            Loosely Restricted
                        </label>
                        <label class="radio">
                            <input type="radio" name="visibility" id="visibility1" value="4">
                            Public
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-blue">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $(".shortened").tooltip();

            $("#batchEditModal").on("show", function() {
                var ids = $(".contentSelector:checked").map(function(e, f){return $(f).attr("data-id");}).toArray().join(",");
                document.getElementById("ids").value = ids;
            });
        });
    </script>

}
