@()(implicit request: RequestHeader, user: User)

@main("Ayamel - Add Content") {

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/addContent.css")">

    <div class="padded">
        <h1>Add Content</h1>

        <div class="contentBadge video" data-target="#video">
            <span>Video</span>
        </div>
        <div class="contentBadge audio" data-target="#audio">
            <span>Audio</span>
        </div>
        <div class="contentBadge image" data-target="#image">
            <span>Image</span>
        </div>
    </div>


    <div class="createForm hidden" id="video">
        <h2>Video</h2>

        <form class="form-horizontal" method="post" enctype="multipart/form-data" action="@routes.ContentController.create()">
            <div class="control-group">
                <label class="control-label" for="title">Title</label>
                <div class="controls">
                    <input type="text" id="title" name="title" placeholder="Title">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    <input type="text" id="description" name="description" placeholder="Description">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="url">URL</label>
                <div class="controls">
                    <input type="text" id="url" name="url" placeholder="URL">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="thumbnail">Thumbnail URL</label>
                <div class="controls">
                    <input type="text" id="thumbnail" name="thumbnail" placeholder="Thumbnail URL">
                </div>
            </div>
            <input type="hidden" name="contentType" value="video">
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-yellow">Add Video</button>
                </div>
            </div>
        </form>
    </div>

    <div class="createForm hidden" id="audio">
        <h2>Audio</h2>

        <form class="form-horizontal" method="post" enctype="multipart/form-data" action="@routes.ContentController.create()">
            <div class="control-group">
                <label class="control-label" for="title">Title</label>
                <div class="controls">
                    <input type="text" id="title" name="title" placeholder="Title">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    <input type="text" id="description" name="description" placeholder="Description">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="url">URL</label>
                <div class="controls">
                    <input type="text" id="url" name="url" placeholder="URL">
                </div>
            </div>
            <input type="hidden" name="contentType" value="audio">
            <input type="hidden" name="thumbnail" value="">
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-magenta">Add Audio</button>
                </div>
            </div>
        </form>
    </div>

    <div class="createForm hidden" id="image">
        <h2>Image</h2>

        <form class="form-horizontal" method="post" enctype="multipart/form-data" action="@routes.ContentController.create()">
            <div class="control-group">
                <label class="control-label" for="title">Title</label>
                <div class="controls">
                    <input type="text" id="title" name="title" placeholder="Title">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    <input type="text" id="description" name="description" placeholder="Description">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="url">URL</label>
                <div class="controls">
                    <input type="text" id="url" name="url" placeholder="URL">
                </div>
            </div>
            <input type="hidden" name="contentType" value="image">
            <input type="hidden" name="thumbnail" value="">
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-blue">Add Image</button>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(function() {
            $(".contentBadge").click(function() {
                if ($($(this).attr("data-target")).hasClass("hidden")) {
                    var _this = this;
                    var timeout = $(".createForm.hidden").length == 3 ? 0 : 500; // If they are all hidden then no delay

                    // Hide all the forms
                    $(".createForm").addClass("hidden");

                    // Wait for the form to hide then show the appropriate one
                    setTimeout(function () {
                        $($(_this).attr("data-target")).removeClass("hidden");
                    }, timeout);
                }
            });
        });
    </script>

}
