@(content: models.Content, resourceLibraryUrl: String, course: Option[Course] = None)(implicit request: RequestHeader, user: User)

@moreStyles =  @{
    List(
        ("screen", "stylesheets/content.css")
    )
}

@main("Ayamel - " + content.name, moreStyles) {

    @*<script type="text/javascript" src="@routes.Assets.at("javascripts/old/SimpleAnnotator.js")"></script>*@

    <script src="@routes.Assets.at("Ayamel.js/js/async.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("Ayamel.js/js/Resource.js")" type="text/javascript"></script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/BoxDrawingCanvas.js")"></script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/AdditionalDocumentLoader.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/ContentLayoutManager.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/ContentRenderer.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/TranscriptDisplay.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/ImageRenderer.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/TextRenderer.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/VideoRenderer.js")"></script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/annotating/ImageAnnotation.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/annotating/TextAnnotation.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/annotating/AnnotationManifest.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/annotating/ImageAnnotator.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/annotating/TextAnnotator.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/annotating/AnnotationLoader.js")"></script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/ContentRenderer.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/ImageEditor.js")"></script>

    <div class="padded">

        <h1>Edit Image</h1>
        <form class="form-horizontal" method="post" action="@routes.ContentEditing.saveImageEdits(content.id.get)">

            <h2>Crop</h2>
            <button id="resetCrop" class="btn btn-yellow pad-bottom-med"><i class="icon-refresh"></i> Reset Crop</button>
            <div id="contentHolder" class="@content.contentType.name"></div>

            <script type="text/javascript">
                $(function() {
                    // Set up the environment
                    ContentRenderer.setResourceLibraryUrl("@resourceLibraryUrl");

                    // Render the content
                    var content = @Html(content.toJson.toString());
                    var contentHolder = $("#contentHolder")[0];
                    ContentRenderer.render({
                        content: content,
                        holder: contentHolder,
                        callback: function(data) {
                            ImageEditor.attach($("#imgHolder"), data.image, function(data) {
                                $("#cropTop").val(data.top);
                                $("#cropLeft").val(data.left);
                                $("#cropBottom").val(data.bottom);
                                $("#cropRight").val(data.right);
                            });
                        }
                    });

                    $("#resetCrop").click(function() {
                        ImageEditor.reset();
                        return false;
                    });
                });
            </script>
            <input type="hidden" id="cropTop" name="cropTop" value="0">
            <input type="hidden" id="cropLeft" name="cropLeft" value="0">
            <input type="hidden" id="cropBottom" name="cropBottom" value="1">
            <input type="hidden" id="cropRight" name="cropRight" value="1">

            <h2>Rotate</h2>
            <div class="control-group">
                <label class="control-label" for="rotation">Rotation</label>
                <div class="controls">
                    <select name="rotation" id="rotation">
                        <option value="0">No Rotation</option>
                        <option value="1">90° CW</option>
                        <option value="2">180°</option>
                        <option value="3">90° CCW</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-blue">Save Changes</button>
                </div>
            </div>
        </form>

    </div>
}
