@(content: models.Content, resourceLibraryUrl: String, course: Option[Course] = None)(implicit request: RequestHeader, user: User)

@main("Ayamel - " + content.name,
  Local(
    CSS("stylesheets/content.css"),
    JS("javascripts/ImageEditor.js"))
) {

    @views.html.content.header.includes()

    <div class="padded">

        @if(course.isDefined) {
            <ul class="breadcrumb">
                <li><a href="@routes.Courses.view(course.get.id.get)">@course.get.name</a> <span class="divider">/</span></li>
                <li><a href="@routes.CourseContent.viewInCourse(content.id.get, course.get.id.get)">@content.name</a> <span class="divider">/</span></li>
                <li class="active">Edit image</li>
            </ul>
        } else {
            <ul class="breadcrumb">
                <li><a href="@routes.ContentController.view(content.id.get)">@content.name</a> <span class="divider">/</span></li>
                <li class="active">Edit image</li>
            </ul>
        }

        <h1>Edit Image</h1>
        <form class="form-horizontal" method="post" action="@routes.ContentEditing.saveImageEdits(content.id.get)?course=@course.map(_.id.get).getOrElse(0)">

            <h2>Crop</h2>
            <button id="resetCrop" class="btn btn-yellow pad-bottom-med"><i class="icon-refresh"></i> Reset Crop</button>
            <div id="contentHolder" class="@content.contentType.name"></div>

            <script type="text/javascript">
                $(function() {
                    // Set up the environment
                    ResourceLibrary.setBaseUrl("@resourceLibraryUrl");

                    // Render the content
                    var content = @Html(content.toJson.toString());
                    var contentHolder = document.getElementById("contentHolder");
                    ContentLoader.render({
                        content: content,
                        holder: contentHolder,
                        callback: function(data) {
                            ImageEditor.attach(document.getElementById("imgHolder"), data.image, function(data) {
                                document.getElementById("cropTop").value = data.top;
                                document.getElementById("cropLeft").value = data.left;
                                document.getElementById("cropBottom").value = data.bottom;
                                document.getElementById("cropRight").value = data.right;
                            });
                        }
                    });

                    document.getElementById("resetCrop").addEventListener('click', function(){
                        ImageEditor.reset();
                        return false;
                    }, false);
                });
            </script>
            <input type="hidden" id="cropTop" name="cropTop" value="0">
            <input type="hidden" id="cropLeft" name="cropLeft" value="0">
            <input type="hidden" id="cropBottom" name="cropBottom" value="1">
            <input type="hidden" id="cropRight" name="cropRight" value="1">

            <h2>Rotate</h2>
            <div class="control-group">
                <label class="control-label" for="rotation">Rotation</label>
                <div class="controls">
                    <select name="rotation" id="rotation">
                        <option value="0">No Rotation</option>
                        <option value="1">90° CW</option>
                        <option value="2">180°</option>
                        <option value="3">90° CCW</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-blue">Save Changes</button>
                </div>
            </div>
        </form>

    </div>
}
