@()(implicit request: RequestHeader, user: User)

@moreStyles =  @{
    List(
      ("screen", "stylesheets/content.css")
    )
}

@main("Ayamel - My Content", moreStyles) {

    <div class="padded">

        <h1>My Content</h1>
        @defining(user.getContent) { content =>
            @views.html.content.helpers.contentList(content, 'video, "Videos", "icon-film")
            @views.html.content.helpers.contentList(content, 'audio, "Audio", "icon-volume-up")
            @views.html.content.helpers.contentList(content, 'image, "Images", "icon-picture")
            @views.html.content.helpers.contentList(content, 'playlist, "Playlists", "icon-list-ol")
            @views.html.content.helpers.contentList(content, 'activity, "Activities", "icon-pencil")
        }

        <a href="@routes.ContentController.createPage("file")" class="btn btn-blue">Add Content</a>
    </div>
}
