@()(implicit request: RequestHeader, user: User)

@main("Ayamel - My Content", Local(CSS("stylesheets/content.css"))) {
    @Dependencies(
      Extern("Ayamel.js",
        Rel("js/",
          JS("Resource.js"))))
    <div class="padded">

        <div>
            <h1 class="pull-left">My Content</h1>
            @if(user.hasSitePermission("createContent")) {
              <!-- This should be a menu with all add methods, not just file upload -->
              <a href="@routes.ContentController.createPage("file", 0)" class="btn btn-blue pull-right pad-right-high pad-top-med">Add Content</a>
            }
            <a href="@routes.ContentController.manageContent()" class="btn btn-blue pull-right pad-top-med">Manage Content</a>
        </div>

        <div class="clearfix"></div>

        <p>
            The following is a list of content that you have added to Ayamel.
        </p>
        <p>
            For help browsing and navigating content, please refer to the <em>Content Browsing</em>
            <a href="@routes.HelpPages.tableOfContents()">help pages</a>.
        </p>


        @if(user.getContent.isEmpty) {
            <h3>You Have No Content</h3>
        } else {
        <div id="myContent" class="pad-top-high pad-bottom-high"></div>
        <script type="text/javascript">

            $(function() {
                ContentItemRenderer.renderAll({
                    content: [@Html(user.getContent.map(_.toJson).mkString(","))],
                    holder: document.getElementById("myContent"),
                    format: "auto",
                    sizing: true,
                    sorting: true,
                    labels: [@Html(user.getContent.flatMap(_.labels).map(s => "\"" + s + "\"").mkString(","))],
                    filters: ContentItemRenderer.standardFilters
                });
            });

        </script>
        }
    </div>
}
