@()(implicit request: RequestHeader, user: User)

@moreStyles =  @{
    List(
      ("screen", "stylesheets/content.css")
    )
}

@main("Ayamel - My Content", moreStyles) {

    <div class="padded">


        <h1>My Content</h1>

        <a href="@routes.ContentController.createPage("file")" class="btn btn-blue">Add Content</a>

        @views.html.content.helpers.contentList(user.getContent, 'video, "Videos", "icon-film")
        @views.html.content.helpers.contentList(user.getContent, 'audio, "Audio", "icon-volume-up")
        @views.html.content.helpers.contentList(user.getContent, 'image, "Images", "icon-picture")
        @views.html.content.helpers.contentList(user.getContent, 'text, "Text", "icon-file")
        @views.html.content.helpers.contentList(user.getContent, 'playlist, "Playlists", "icon-list-ol")
        @views.html.content.helpers.contentList(user.getContent, 'activity, "Activities", "icon-pencil")

        <a href="@routes.ContentController.createPage("file")" class="btn btn-blue">Add Content</a>
    </div>
}
