@(allContent: List[models.Content])(implicit request: RequestHeader, user: User)

@moreStyles =  @{
    List(
      ("screen", "stylesheets/content.css")
    )
}
@main("Ayamel - Public Content", moreStyles) {

    <div class="padded">

        <h1>Public Content</h1>
        @views.html.content.helpers.contentList(allContent, 'video, "Videos", "icon-film")
        @views.html.content.helpers.contentList(allContent, 'audio, "Audio", "icon-volume-up")
        @views.html.content.helpers.contentList(allContent, 'image, "Images", "icon-picture")
        @views.html.content.helpers.contentList(allContent, 'text, "Text", "icon-file")
        @views.html.content.helpers.contentList(allContent, 'playlist, "Playlists", "icon-list-ol")
        @views.html.content.helpers.contentList(allContent, 'activity, "Activities", "icon-pencil")

    </div>
}
