@(allContent: List[models.Content])(implicit request: RequestHeader, user: User)

@moreStyles =  @{
    List(
      ("screen", "stylesheets/content.css")
    )
}
@main("Ayamel - Public Content", moreStyles) {

    <div class="padded">

        <h1>Public Content</h1>

        <p>
            This is a complete listing of all the public content available on Ayamel. All of this is contributed by
            users like you. Feel free to put it to the best use possible.
        </p>
        <p>
            For help browsing and navigating content, please refer to the <em>Content Browsing</em>
            <a href="@routes.HelpPages.tableOfContents()">help pages</a>.
        </p>

        <div id="publicContent"></div>
        <script type="text/javascript">
            $(function() {
                ContentItemRenderer.renderAll({
                    content: [@Html(allContent.map(_.toJson).mkString(","))],
                    $holder: $("#publicContent"),
                    format: "auto",
                    sizing: true,
                    sorting: true,
                    labels: [@Html(allContent.flatMap(_.labels).map(s => "\"" + s + "\"").mkString(","))],
                    filters: ContentItemRenderer.standardFilters
                });
            });
        </script>

    </div>
}
