@(allContent: List[models.Content])(implicit request: RequestHeader, user: User)

@moreStyles =  @{
    List(
      ("screen", "stylesheets/content.css")
    )
}
@main("Ayamel - Public Content", moreStyles) {

    <div class="padded">

        <h1>Public Content</h1>
        <div id="publicContent"></div>
        <script type="text/javascript">
            $(function() {
                ContentItemRenderer.renderAll({
                    content: [@Html(allContent.map(_.toJson).mkString(","))],
                    $holder: $("#publicContent"),
                    format: "auto",
                    sizing: true,
                    sorting: true,
                    filters: ContentItemRenderer.standardFilters
                });
            });
        </script>

    </div>
}
