@import play.api.Play.current
@(content: models.Content, resourceLibraryUrl: String, user: Option[User] = None, course: Option[Course] = None)(implicit request: RequestHeader)

@contentIcons = @{
    Map(
        'video -> "icon-film",
        'audio -> "icon-volume-up",
        'image -> "icon-picture",
        'text -> "icon-file",
        'playlist -> "icon-list-ol",
        'activity -> "icon-pencil"
    )
}

@main("Ayamel - " + content.name, user,
  Meta("og:image", content.thumbnail),
  Local(
    Rel("javascripts/",
      Rel("libraries/",
        JS("sha1.js"),
        JS("xapiwrapper.min.js"),
        JS("oauth.js")),
      Rel("formFixes/",
        JS("fileFix.js"),
        JS("labelsInput.js")),
      JS("ContentSettings.js")))
) {
    @views.html.content.header.includes()
    <script type="text/javascript">
        ResourceLibrary.setBaseUrl("@resourceLibraryUrl");
        var content = @Html(content.toJson.toString());

        //The "add content" page submits its form via AJAX; I don't recall why it was done that way,
        //and therefore am reluctant to change it. It overwrites itself with the text of returned pages,
        //which does not change the URL, which means that this page may end up overwriting the add
        //content page at the wrong address. If that happens, we need to re-write history to display
        //the correct URL for this page here.  
        if(location.pathname !== "/content/@{content.id.get}" && history.pushState){
            history.pushState(null, "Ayamel - @{content.name}", "/content/@{content.id.get}");
        }

    @if(content.getOwner.map(_.hasSitePermission("lrsConnect")).getOrElse(false)) {
        function setupXapi(args){
            // information for statements to learninglocker
            var llendpoint = "@current.configuration.getString("learninglocker.endpoint")";
            var llusername = "@current.configuration.getString("learninglocker.username")";
            var llpwd = "@current.configuration.getString("learninglocker.password")";

            // configure the learning locker connection
            xApi.connect(llendpoint, llusername, llpwd);

            xApi.registerPage({
                page:{
                    "category":"content",
                    "action":"@{course.map(c => "course_" + c.id.get + ":").getOrElse("")}view",
                    "name":window.location.href
                },
                @if(course.isDefined) {
                    course: {
                        "id":@course.get.id.get,
                        "name":"@course.get.name"
                    },
                }
                user: {
                    "name":"@user.flatMap(_.name).orElse(user.map(_.authId)).getOrElse("Visitor")",
                    "id":@user.map(_.id.get).getOrElse(0),
                    "email":"@user.flatMap(_.email).getOrElse("")",
                    "authScheme":"@user.map(_.authScheme.toString.replaceFirst("'", "")).getOrElse("Not Authenticated")"
                },
                content: content,
                player: args.mainPlayer
            });

            // Save the page load
            xApi.predefined.pageLoad();
        }
    }else{
        function setupXapi(){}
    }
    </script>
    <div class="padded">
        @if(course.isDefined) {
            <ul class="breadcrumb">
                <li><a href="@routes.Courses.view(course.get.id.get)">@course.get.name</a> <span class="divider">/</span></li>
                <li class="active">@content.name</li>
            </ul>
            @if(user.map(u => content.getOwner == u && u.hasSitePermission("ltiConnect")).getOrElse(false)) {
                @views.html.content.header.LTISettings(content, course.get, user.get)
            }
        }
        @if(user.isDefined) {
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                @if(content.isShareableBy(user.get)) {
                                    <li><a href="#shareModal" data-toggle="modal"><i class="icon-share-alt"></i> Share</a></li>
                                    @views.html.content.header.share(content, user.get)
                                }
                            </ul>
                            <ul class="nav pull-right">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="icon-quote-left"></i> Text <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        @if(content.contentType == 'video || content.contentType == 'audio) {
                                            <li><a href="#captionTrackModal" data-toggle="modal"><span class="captionsIcon"></span> Captions/Subtitles</a></li>
                                        }
                                        <li><a href="#annotationsModal" data-toggle="modal"><i class="icon-comments"></i> Annotations</a></li>
                                    </ul>
                                </li>
                                @if(course.isDefined) {
                                    @if(user.get.hasCoursePermission(course.get, "teacher") || user.get.hasCoursePermission(course.get, "removeContent")) {
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                <i class="icon-book"></i> Course <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu">
                                              @if(user.get.hasCoursePermission(course.get, "teacher") && user.get.hasSitePermission("ltiConnect")) {
                                                <li><a href="#lmsModal" data-toggle="modal"><i class="icon-briefcase"></i> Add to LMS</a></li>
                                              }
                                              @if(user.get.hasCoursePermission(course.get, "removeContent")) {
                                                <li><a href="#" id="courseremovebtn"><i class="icon-remove"></i> Remove from course</a></li>
                                                <script>
                                                    document.getElementById("courseremovebtn").addEventListener("click",function(){
                                                        var xhr = new XMLHttpRequest();
                                                        xhr.addEventListener('load',function(){
                                                            if(history.pushState){ history.pushState(null,"",xhr.responseURL); }
                                                            document.open();
                                                            document.write(xhr.responseText);
                                                            document.close();
                                                        },false);
                                                        xhr.addEventListener('error',function(){ alert("Error removing content"); },false);
                                                        xhr.open("POST", "@routes.CourseContent.removeFromCourse(content.id.get, course.get.id.get)");
                                                        xhr.send();
                                                    },false);
                                                </script>
                                              }
                                            </ul>
                                        </li>
                                    }
                                }
                                @defining(Course.list.filter { course =>
                                    user.get.hasCoursePermission(course, "addContent") && !course.getContent.contains(content)
                                }) { possibleCourses =>
                                    @if(possibleCourses.length > 0) {
                                        <li><a href="#addToCourseModal" data-toggle="modal"><i class="icon-book"></i> Add to Course</a></li>
                                        @views.html.content.header.addToCourse(content, possibleCourses, user.get)
                                    }
                                }
                                @if(content.isEditableBy(user.get)) {
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="icon-pencil"></i> Edit <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#metadataModal" data-toggle="modal"><i class="icon-info-sign"></i> Edit metadata</a></li>
                                            <li><a href="#thumbnailModal" data-toggle="modal"><i class="icon-camera"></i> Set thumbnail</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#changeSourceModal" data-toggle="modal"><i class="icon-link"></i> Set media source</a></li>
                                            @if(content.contentType == 'image) {
                                                <li><a href="@routes.ContentEditing.editImage(content.id.get)?course=@course.map(_.id.get).getOrElse(0)"><i class="icon-crop"></i> Edit image</a></li>
                                            }
                                            <li class="divider"></li>
                                            <li><a href="#deleteModal" data-toggle="modal"><i class="icon-trash"></i> Delete</a></li>
                                        </ul>
                                        @views.html.content.header.settings(content, resourceLibraryUrl, user.get)
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="icon-download"></i> Download <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu" id="downloadMenu"></ul>
                                    </li>
                                    <li><a href="#configurationModal" data-toggle="modal"><i class="icon-cogs"></i> Configuration</a></li>
                                    @views.html.content.header.configuration(content, resourceLibraryUrl, course, user.get)
                                }
                                @if(user.get.hasSitePermission("createContent")) {
                                    <li><a href="#" id="clonebtn"><i class="icon-copy"></i> Clone</a></li>
                                    <script>
                                        document.getElementById("clonebtn").addEventListener("click",function(){
                                            var xhr = new XMLHttpRequest();
                                            xhr.addEventListener('load',function(){
                                                if(history.pushState){ history.pushState(null,"",xhr.responseURL); }
                                                document.open();
                                                document.write(xhr.responseText);
                                                document.close();
                                            },false);
                                            xhr.addEventListener('error',function(){ alert("Error cloning content"); },false);
                                            xhr.open("POST", "@routes.ContentController.cloneContent(content.id.get)");
                                            xhr.send();
                                        },false);
                                    </script>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @views.html.content.header.addRelatedDocs(content, course, resourceLibraryUrl, user.get)
        }
        <div id="contentHolder" class="@content.contentType.name"></div>
        <div>
            <h1>
                <i class="@contentIcons(content.contentType)"></i> @content.name
            </h1>
            <p id="metadataDescription"></p>
            <div class="inline-block">
                <div id="metadataContainer">
                    <div id="metadataLanguages"><i class="icon-globe"></i> </div>
                    <div id="metadataLabels"><i class="icon-tags"></i> </div>
                </div>
            </div>
            <!-- TODO: Metadata. Issue # 54 -->
        </div>
        <script type="text/javascript">
            $(function() {
                // Set up the playlist renderer
                @*PlaylistRenderer.setInfo(*@
                    @*"@dataAccess.PlayGraph.host",*@
                    @*["@dataAccess.PlayGraph.playerKey.consumerKey", "@dataAccess.PlayGraph.playerKey.consumerSecret"]*@
                @*);*@

                // Render the content
                ContentLoader.render({
                    content: content,
                    @if(user.isDefined) {
                    userId: "@user.get.id.get",
                    owner: @content.isEditableBy(user.get),
                    teacher: @course.exists(c => user.get.hasCoursePermission(c, "teacher")),
                    }
                    courseId: @course.map(_.id.get).getOrElse(0),
                    holder: document.getElementById('contentHolder'),
                    annotate: true,
                    open: true,
                    screenAdaption: {
                        fit: true,
                        scroll: true,
                        padding: 61
                    },
                    aspectRatio: Ayamel.aspectRatios.hdVideo,
                    startTime: "@request.queryString.get("starttime").getOrElse("0")",
                    endTime: "@request.queryString.get("endtime").getOrElse("-1")",
                    callback: setupXapi
                });

                // Show the metadata
                ResourceLibrary.load(content.resourceId).then(function(resource){
                    var title = resource.title,
                        descEl = document.getElementById("metadataDescription");
                    resource.description.split('\n').forEach(function(text){
                        descEl.appendChild(document.createTextNode(text));
                        descEl.appendChild(document.createElement('br'));
                    });
                    document.getElementById("metadataLanguages").firstChild.innerHTML =
                        resource.languages.iso639_3.map(function(langCode) {
                            return '<em class="pad-left-high">' + Ayamel.utils.getLangName(langCode) + '</em>';
                        }).join('');

                    document.getElementById("metadataLabels").firstChild.innerHTML =
                        content.labels
                        .map(function(w){return "<span class='label label-info pad-left-med'>" + w + "</span>";})
                        .join('');

                    document.getElementById("downloadMenu").innerHTML =
                        resource.content.files
                        .filter(function(fobj){return fobj.downloadUri;})
                        .map(function(fobj){
                            return '<li><a href="'+fobj.downloadUri+'" target="_blank" download="'+title+'">'+fobj.representation+': '+fobj.mime+' ('+(fobj.bytes/1024)+'KB)</a></li>';
                        }).join('') || '<li><a>No downloads available</a></li>';
                });
            });
        </script>
    </div>
}