@(content: models.Content, resourceLibraryUrl: String, course: Option[Course] = None)(implicit request: RequestHeader, user: User)

@renderTitle(content: models.Content) = {
    @defining(Map(
        'video -> "icon-film",
        'audio -> "icon-volume-up",
        'image -> "icon-picture",
        'playlist -> "icon-list-ol",
        'activity -> "icon-pencil"
    )) { iconMap =>
        <h1><i class="@iconMap(content.contentType)"></i> @content.name</h1>
    }
}

@moreStyles =  @{
    List(
      ("screen", "stylesheets/content.css")
    )
}

@main("Ayamel - " + content.name,moreStyles) {

    

    <div class="padded">

        @views.html.content.header.header(content, course)

        @renderTitle(content)

        @if(content.contentType == 'video) {
            @views.html.content.renderers.video(content, resourceLibraryUrl)
        }
        @if(content.contentType == 'audio) {
            @views.html.content.renderers.audio(content, resourceLibraryUrl)
        }
        @if(content.contentType == 'image) {
            @views.html.content.renderers.image(content, resourceLibraryUrl)
        }
        @if(content.contentType == 'playlist) {
            @* TODO: Playlist rendering *@
        }
        @if(content.contentType == 'activity) {
            @* TODO: Activity rendering *@
        }

    </div>
}
