@(content: models.Content, resourceLibraryUrl: String, course: Option[Course] = None)(implicit request: RequestHeader, user: User)

@contentIcons = @{
    Map(
        'video -> "icon-film",
        'audio -> "icon-volume-up",
        'image -> "icon-picture",
        'text -> "icon-file",
        'playlist -> "icon-list-ol",
        'activity -> "icon-pencil"
    )
}

@moreStyles =  @{
    List(
      ("screen", "stylesheets/content.css"),
      ("screen", "stylesheets/annotations.css")
    )
}

@main("Ayamel - " + content.name, moreStyles) {

    <script type="text/javascript">
        var coursePrefix = "@course.map(c => "course_" + c.id.get + ":").getOrElse("")";
        $(function() {
            // Register the page for later activity stream calls
            ActivityStreams.registerPage("content", coursePrefix + "view", [@content.id.get][0]);

            // Save the page load
            ActivityStreams.predefined.pageload();
        });
    </script>

    <link rel="stylesheet" href="@routes.Assets.at("Ayamel.js/js/player2/css/player2.css")"/>

    <script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/async.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/Resource.js")"></script>

    <script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/player2/js/Ayamel.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/player2/js/AyamelPlayer.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/player2/js/CaptionTrackLoader.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/player2/js/ControlBar.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/player2/js/FullScreenHandler.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/player2/js/KeyBinder.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/player2/js/MediaPlayer.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/player2/js/ProgressBar.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/player2/js/controls/CaptionsMenu.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/player2/js/controls/FullScreenButton.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/player2/js/controls/PlayButton.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/player2/js/controls/TimeCode.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/player2/js/controls/VolumeSlider.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/player2/js/plugins/html5Video.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("Ayamel.js/js/player2/js/plugins/html5Audio.js")"></script>

    <!-- Caption rendering and timed text -->
    <script type="text/javascript" src="@routes.Assets.at("Caption-Renderer/caption-renderer.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("TimedText/TimedText.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("TimedText/TextTrack.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("TimedText/TextTrackCue.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("TimedText/WebVTT.js")"></script>

    <!-- Translation Engines -->
    <script type="text/javascript" src="@routes.Assets.at("javascripts/Translate.js/TranslationEngine.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/Translate.js/TextTranslator.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/Translate.js/ArcliteTranslationEngine.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/Translate.js/GoogleTranslationEngine.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/Translate.js/WordReferenceTranslationEngine.js")"></script>

    <!-- Content rendering -->
    <script type="text/javascript" src="@routes.Assets.at("javascripts/BoxDrawingCanvas.js")"></script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/AdditionalDocumentLoader.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/ContentLayoutManager.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/ContentRenderer.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/TranscriptDisplay.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/ImageRenderer.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/TextRenderer.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/contentRendering/VideoRenderer.js")"></script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/annotating/ImageAnnotation.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/annotating/TextAnnotation.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/annotating/AnnotationManifest.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/annotating/ImageAnnotator.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/annotating/TextAnnotator.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/annotating/AnnotationLoader.js")"></script>

    <!-- OAuth and Cryptography -->
    <script type="text/javascript" src="@routes.Assets.at("javascripts/sha1.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/oauth.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/OAuthSigner.js")"></script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/fileFix.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/labelsInput.js")"></script>

    <div class="padded">

        @if(course.isDefined) {
            <div class="pad-bottom-med">
                <a href="@routes.Courses.view(course.get.id.get)"><i class="icon-arrow-left"></i> Back to course</a>
            </div>
        }

        <div class="well">

            @views.html.content.header.share(content)
            @views.html.content.header.addToCourse(content)
            @views.html.content.header.courseSettings(content, course, resourceLibraryUrl)
            @views.html.content.header.personalSettings(content, resourceLibraryUrl)
            @views.html.content.header.addRelatedDocs(content, course, resourceLibraryUrl)
            @views.html.content.header.edit(content, resourceLibraryUrl)
            @if(content.isEditableBy(user)) {
                <a href="@routes.ContentController.stats(content.id.get)" class="btn"><i class="icon-bar-chart"></i> View Stats</a>
            }
            @if(course.isDefined && user.canEdit(course.get)) {
                <a href="@routes.ContentController.statsInCourse(content.id.get, course.get.id.get)" class="btn"><i class="icon-bar-chart"></i> View Course Stats</a>
            }
            @views.html.content.header.delete(content)

        </div>

        <h1><i class="@contentIcons(content.contentType)"></i> @content.name</h1>

        <div id="contentHolder" class="@content.contentType.name"></div>

        <script type="text/javascript">
            $(function() {

                // Set up the playlist renderer
                @*PlaylistRenderer.setInfo(*@
                    @*"@dataAccess.PlayGraph.host",*@
                    @*["@dataAccess.PlayGraph.playerKey.consumerKey", "@dataAccess.PlayGraph.playerKey.consumerSecret"]*@
                @*);*@

                // Set up the environment
                ContentRenderer.setResourceLibraryUrl("@resourceLibraryUrl");

                // Render the content
                var content = [@Html(content.toJson.toString())][0];
                var contentHolder = $("#contentHolder")[0];
                ContentRenderer.render({
                    content: content,
                    userId: "@user.id.get",
                    owner: [@content.isEditableBy(user)][0],
                    teacher: [@course.map(c => user.canEdit(c)).getOrElse(false)][0],
                    courseId: [@course.map(_.id.get).getOrElse(0)][0],
                    holder: contentHolder,
                    coursePrefix: coursePrefix,
                    annotate: true
                });
            });
        </script>
        <div ng-controller="MetadataCtrl">
            <div>
                <span ng-click="toggle()" class="label label-blue">{{arrow}}Metadata</span>
            </div>
            <div class="inline-block" ng-show="show">
                <table class="table table-bordered pad-top-med">
                    <tr>
                        <th>Title</th>
                        <td>{{title}}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{description}}</td>
                    </tr>
                    <tr>
                        <th>Keywords</th>
                        <td>{{keywords}}</td>
                    </tr>
                    <tr>
                        <th>Categories</th>
                        <td>{{categories}}</td>
                    </tr>
                </table>
            </div>

        </div>
        <script>
            function MetadataCtrl($scope){
                $scope.show = false;
                $scope.arrow = '►';
                $scope.toggle = function(){
                    $scope.show = $scope.show? false:true;
                    $scope.arrow = $scope.show?'▼':'►'
                };
                var url = "@resourceLibraryUrl"+"/"+[@Html(content.toJson.toString())][0].resourceId;
                ResourceLibrary.load(url, function(resource){
                    $scope.title = resource.title;
                    $scope.description = resource.description;
                    $scope.keywords = resource.keywords;
                    $scope.categories = resource.categories.join(', ');
                    //$scope.labels = resource.labels;
                });
            }
        </script>
    </div>
}
