@(courses: List[Course])(implicit request: RequestHeader, user: User)

@optStr(str: Option[String]) = {
    @if(str.isDefined) {
        @shorten(str.get)
    } else {
        <em>Not set</em>
    }
}

@shorten(str: String) = {
    @if(str.length > 15) {
        <a href="#" class="shortened" data-toggle="tooltip" title="@str">@{str.substring(0, 12) + "..."}</a>
    } else {
        @str
    }
}

@main("Ayamel - Manage Users") {

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin.css")"/>

    <div class="adminBackground">
    </div>

    <div class="padded">

        <div class="pad-bottom-med">
            <a href="@routes.Users.admin()"><i class="icon-arrow-left"></i> Back to dashboard</a>
        </div>

        <h1>Manage Courses</h1>

        <table class="table table-bordered table-striped table-condensed">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th># Students</th>
                <th># Content</th>
                <th># Announcements</th>
                <th>LMS Key</th>
                <th>Actions</th>
            </tr>
            @for(course <- courses) {
                <tr>
                    <td>@course.id.get</td>
                    <td>@shorten(course.name)</td>
                    <td>@course.getMembers.size</td>
                    <td>@course.getContent.size</td>
                    <td>@course.getAnnouncements.size</td>
                    <td>@shorten(course.lmsKey)</td>
                    <td>
                        <a href="@routes.Courses.view(course.id.get)" class="btn btn-small">View</a>
                        <a href="#deleteModal" role="button" data-toggle="modal" class="btn btn-small btn-magenta deleteCourse" data-id="@course.id.get">Delete</a>
                    </td>
                </tr>
            }
        </table>

    </div>

    <div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="deleteModalLabel">Delete course</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete course #<span id="deleteCourseId"></span>?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
            <button class="btn btn-magenta" id="deleteButton" data-id="">Yes, Delete</button>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $(".shortened").tooltip();

            $(".deleteCourse").click(function() {
                var id = $(this).attr("data-id");
                $("#deleteCourseId").text(id);
                $("#deleteButton").attr("data-id", id);
            });

            $("#deleteButton").click(function() {
                var id = $(this).attr("data-id");
                window.location = "/admin/courses/" + id + "/delete";
            });
        });
    </script>

}
