@()(implicit request: RequestHeader, user: User)

@main("Ayamel - Teacher Request Approval") {

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin.css")"/>

    <div class="adminBackground">
    </div>

    <div class="padded">

        <h1>Admin dashboard</h1>

        <div class="row-fluid">
            <div class="span4">
                <div class="well">
                    <h2><i class="icon-briefcase"></i> Site Management</h2>

                    <a href="@routes.Users.teacherApprovalPage()" class="btn btn-blue btn-block btn-large"><i class="icon-group"></i> Manage Teacher Requests</a>
                    <a href="@routes.Users.manageUsers()" class="btn btn-blue btn-block btn-large"><i class="icon-user"></i> Manage Users</a>
                    <a href="@routes.Users.manageCourses()" class="btn btn-blue btn-block btn-large"><i class="icon-book"></i> Manage Courses</a>
                    <a href="@routes.Users.manageContent()" class="btn btn-blue btn-block btn-large"><i class="icon-picture"></i> Manage Content</a>
                    <a href="@routes.Users.homePageContent()" class="btn btn-blue btn-block btn-large"><i class="icon-home"></i> Home Page Content</a>
                </div>
            </div>
            <div class="span4">
                <div class="well">
                    <h2><i class="icon-bar-chart"></i> Statistics</h2>
                    <p>
                        Analytics are tracked via <a href="https://www.google.com/analytics/">Google Analytics</a>
                    </p>
                    <p>
                        Other stats have not yet been added.
                    </p>

                </div>
            </div>
            <div class="span4">
                <div class="well">
                    <h2><i class="icon-cogs"></i> Site Settings</h2>
                    Nothing here yet.
                </div>
            </div>
        </div>

    </div>

}
